.pendingTransaction {
  padding: 10px 15px;
  display: block;
  position: relative;
  background-color: $white;
  transition: all .25s ease;
  line-height: 13px;

  &:hover {
    background-color: rgba(233, 238, 244, 1.000);

    button {
      opacity: 1;
    }
  }

  &.pending {
    .transactionBorder {
      width: 60%;
      color: rgba(0, 118, 255, 1.000);
    }

    .statusIcon .pending {
      background-color: rgba(0, 118, 255, 1.000);
      display: inline-block;
    }
  }

  &.success {
    .transactionBorder {
      width: 90%;
      background-color: rgba(0, 190, 144, 1.000);
    }

    .statusIcon .success {
      background-color: rgba(0, 190, 144, 1.000);
      display: inline-block;
    }
  }

  &.error {
    .transactionBorder {
      width: 30%;
      color: rgba(246, 80, 80, 1.000);
    }

    .statusIcon .error {
      background-color: rgba(246, 80, 80, 1.000);
      display: inline-block;
    }
  }

  .transactionBorder {
    height: 1px;
    position: absolute;
    top: 0;
    left: 0;
  }

  .pending, .success, .error {
    display: none;
  }

  .statusIcon span {
    width: 5px;
    font-size: 11px;
    border-radius: 10px;
    position: relative;
    top: -1px;
    height: 5px;
  }

  .transactionTitle {
    display: inline-block;
    padding: 0 5px;

    span {
      font-size: 11px;
      font-weight: bold;
      font-family: "Open Sans";
    }
  }

  .transactionMessage {
    width: 253px;
    text-align: left;
  }

  a {
    color: $white;
    text-decoration: underline;
  }

  button {
    border: none;
    background: none;
    opacity: .6;

    img {
      width: 11px;
    }
  }

  .notificationControls {
    width: 11px;
    height: 11px;
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
  }
}

.pendingTransaction.success .success, .pendingTransaction.pending .pending, .pendingTransaction.error .error {
  display: inline;
}

.pendingTransaction.pending {
  .notificationControls {
    width: 75px;
  }
}

.pendingTransaction.minimized {
  min-width: 50px;
  width: 50px;

  .statusIcon .pending {
    top: 6px;
  }

  .transactionMessage, .notificationControls {
    display: none;
  }
}

.right {
  float: right;
}

.left {
  float: left;
}

.statusIcon {
  float: left;
}

.transactionMessage {
  float: left;
}

.notificationControls {
  float: left;
}

.notificationMessage {
  font-size: 11px;
  font-family: "Open Sans";
}

.transactionWrapper {
  display: inline;
}