.pendingTransaction {
  padding: 10px 15px;
  display: block;
  position: relative;
  background-color: $white;
  transition: all 0.25s ease;
  line-height: 13px;

  &:hover {
    background-color: $notifications-hover-white;

    button {
      opacity: 1;
    }
  }

  .transactionBorder {
    width: 100%;
    animation: disappear 10s 1;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    height: 1px;
    position: absolute;
    top: -1px;
    left: 0;
  }

  &.pending {
    .transactionBorder {
      background-color: $accent-0;
    }

    .statusIcon .pending {
      background-color: $accent-0;
      display: inline-block;
    }
  }

  &.success {
    .transactionBorder {
      background-color: $accent-3;
    }

    .statusIcon .success {
      background-color: $accent-3;
      display: inline-block;
    }
  }

  &.error {
    .transactionBorder {
      background-color: $accent-2;
    }

    .statusIcon .error {
      background-color: $accent-2;
      display: inline-block;
    }
  }

  .pending,
  .success,
  .error {
    display: none;
  }

  .statusIcon span {
    width: 5px;
    font-size: 11px;
    border-radius: 10px;
    position: relative;
    top: -1px;
    height: 5px;
  }

  .transactionTitle {
    display: inline-block;
    padding: 0 5px;

    span {
      font-size: 11px;
      font-weight: bold;
      font-family: "Open Sans";
    }
  }

  .transactionMessage {
    width: 253px;
    text-align: left;
  }

  a {
    color: $white;
    text-decoration: underline;
  }

  button {
    outline: none;
    border: none;
    background: none;
    opacity: 0.6;

    img {
      width: 11px;
    }
  }

  .notificationControls {
    position: absolute;
    right: 10px;
    top: 20px;
    transform: translateY(-50%);
    text-align: center;
  }
}

.pendingTransaction.success .success,
.pendingTransaction.pending .pending,
.pendingTransaction.error .error {
  display: inline;
}

.pendingTransaction.pending {
  .notificationControls {
    width: 75px;
  }
}

.pendingTransaction.minimized {
  min-width: 50px;
  width: 50px;

  .statusIcon .pending {
    top: 6px;
  }

  .transactionMessage,
  .notificationControls {
    display: none;
  }
}

.statusIcon {
  float: left;
}

.transactionMessage {
  float: left;
}

.notificationControls {
  float: left;
}

.notificationMessage {
  font-size: 11px;
  font-family: "Open Sans";
}

.transactionWrapper {
  display: inline;
}

@keyframes disappear {
  to {
    width: 0%;
  }
}
