.loading {
  width: 100%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.emptyFeedBanner {
  margin-top: 107px;
  text-align: center;
  font-family: "AccordBold";

  > img {
    width: 100%;
  }

  > img.birds {
    width: 80%;
  }

  h1 {
    font-size: 45px;
    line-height: 0.73;
    letter-spacing: 0.61px;
    text-align: center;
    color: #689bd6;
  }

  h3 {
    opacity: 0.9;
    font-size: 21px;
    line-height: 1.19;
    letter-spacing: 0.29px;
    text-align: center;
    color: #9aa9b5;
  }

  .connectButton {
    margin-top: 25px;
    height: 30px;
    padding-left: 14px;
    padding-right: 14px;
    line-height: 30px;
    font-weight: bold;
    font-size: 12px;
    background-color: rgba(5, 118, 255, 1.000);
    border: none;
    border-radius: 15px;
    color: $white;
    position: relative;
    vertical-align: middle;
    right: 10px;

    img {
      height: 12px;
      position: relative;
      top: 2px;
      padding-left: 8px;
    }
  }

  .scrollDown {
    margin-top: 164px;
    margin-bottom: 10px;
    font-size: 13px;
    font-weight: bold;
    line-height: 1.38;
    letter-spacing: 0.41px;
    color: #4f6176;
  }
}

.feedContainer {
  max-width: 900px;
  margin: 40px auto;

  h2 {
    background-color: #e5ebf2;
  }

  h3 {
    color: black;
    font-family: "AccordBold", sans-serif;
  }
}

.feedItemContainer {
  position: relative;
  margin: 0 50px 20px 50px;
  font-family: "Open Sans";
  font-size: 13px;

  > span {
    width: 30px;
    position: absolute;
    top: 12px;
    left: -50px;
    font-size: 25px;
  }

  .icon img {
    width: 30px;
    height: 30px;
  }

  .itemTitle {
    height: 50px;
    border-radius: 14px 14px 0 0;
    background-color: #fcfdff;
    margin-bottom: 3px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    padding: 0 26px;
    position: relative;

    span {
      line-height: 50px;
    }

    .accountTitle > span {
      vertical-align: middle;
    }

    .accountName {
      margin: 0 7px;
    }

    .timestamp {
      position: absolute;
      right: 15px;
      background-color: white;
    }

    .daoIcon {
      width: 17px;
      height: 17px;
      border-radius: 8px;
      display: inline-block;
      position: relative;
      top: 3px;
      margin-right: 6px;
    }
  }

  .followButton {
    position: absolute;
    top: 10px;
    right: 10px;
  }

  .itemContent {
    background-color: #fcfdff;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    padding: 21px 26px;
    position: relative;

    .proposalItem {
      .daoName {
        margin-bottom: 17px;

        a {
          color: #004799;
        }
      }

      .proposalDescription {
        max-height: 150px;
        overflow: hidden;
        margin-bottom: 10px;

        > p { margin-top: 0; }

        img {
          max-width: 100%;
        }

        &:after {
          content: "";
          position: absolute;
          z-index: 1;
          bottom: 2em;
          left: 0;
          pointer-events: none;
          background-image: linear-gradient(to bottom, rgba(255,255,255, 0), rgba(255,255,255, 1) 90%);
          width: 100%;
          height: 2em;
        }
      }
    }

    .daoItem {
      .daoName {
        font-size: 21px;
        display: inline-block;
        margin-top: 3px;
        font-family: "AccordBold", sans-serif;
      }
    }

    .userItem {
      span {
        vertical-align: middle;
      }

      .userName {
        font-size: 16px;
      }

      .bio {
        margin-top: 7px;
      }
    }

    .daoIcon {
      width: 50px;
      height: 50px;
      border-radius: 25px;
      display: inline-block;
      vertical-align: middle;
      margin-right: 20px;
      float: left;
    }

    .reputation {
      font-weight: bold;
    }
  }

  .proposalDetails {
    position: relative;
  }
}

@media only screen and (max-width: 425px) {

  .feedContainer {
    width: 100%;
  }

  .feedItemContainer {
    position: relative;
    margin: 0 0 20px 0;
  }
}