.loading {
  width: 100%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.feedContainer {
  max-width: 900px;
  width: 80%;
  margin: 0 auto;

  h2 {
    background-color: #e5ebf2;
  }

  h3 {
    color: black;
    font-family: "AccordBold", sans-serif;
  }
}

.connectButton {
  cursor: pointer;

  img {
    width: 20px;
  }
}

.feedItemContainer {
  position: relative;
  margin: 0 50px 20px 50px;
  font-family: "Open Sans";
  font-size: 13px;

  > span {
    width: 30px;
    position: absolute;
    top: 12px;
    left: -50px;
  }

  .icon img {
    width: 30px;
    height: 30px;
  }

  .itemTitle {
    height: 50px;
    border-radius: 14px 14px 0 0;
    background-color: #fcfdff;
    margin-bottom: 3px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    padding: 0 26px;
    position: relative;

    span {
      vertical-align: middle;
      line-height: 50px;
    }

    .accountName {
      margin: 0 7px;
    }

    .timestamp {
      float: right;
    }

    .daoIcon {
      width: 17px;
      height: 17px;
      border-radius: 8px;
      display: inline-block;
      vertical-align: middle;
      margin-right: 6px;
    }
  }

  .itemContent {
    background-color: #fcfdff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    padding: 21px 26px;

    .proposalItem {
      .daoName {
        margin-bottom: 17px;

        a {
          color: #004799;
        }
      }
    }

    .daoItem {
      .daoName {
        font-size: 21px;
        display: inline-block;
        margin-top: 3px;
        font-family: "AccordBold", sans-serif;
      }
    }

    .daoIcon {
      width: 50px;
      height: 50px;
      border-radius: 25px;
      display: inline-block;
      vertical-align: middle;
      margin-right: 20px;
      float: left;
    }
  }

  .proposalDetails {
    position: relative;
  }
}

@media only screen and (max-width: 425px) {

  .feedContainer {
    width: 100%;
  }

  .feedItemContainer {
    position: relative;
    margin: 0 0 20px 0;
  }
}