{
    "extends": [
      "eslint:recommended",
      "plugin:@typescript-eslint/eslint-recommended",
      "plugin:@typescript-eslint/recommended",
      "plugin:react/recommended"
    ],
    "env": {
      "amd": true,
      "node": true,
      "es6": true,
    },
    "settings": {
      "react": {
        "version": "detect", // React version. "detect" automatically picks the version you have installed.
      }
    },
    "rules": {
        "@typescript-eslint/no-var-requires": "off",
        "@typescript-eslint/explicit-member-accessibility": "off",
        "no-useless-escape": "warn",
        "react/no-unescaped-entities": "warn",
        "react/display-name" : "warn",

        "max-len": ["warn", 120, 2],
        "indent": "off",
        "@typescript-eslint/indent": ["warn", 2],
        "@typescript-eslint/prefer-for-of": "warn",
        "@typescript-eslint/no-object-literal-type-assertion": [ "warn", { "allowAsParameter": true } ],
        "no-empty-function": "off",
        "@typescript-eslint/no-empty-function": "error",
        "@typescript-eslint/no-empty-interface": ["error", { "allowSingleExtends": true }],
        "no-console": "warn",
        "one-var": ["warn", "never"],
        "no-var": "warn",
        "react/jsx-boolean-value": "warn",
        "react/jsx-no-bind": "warn",
        "react/jsx-curly-spacing": "warn",
        "no-bitwise": "warn",
        "@typescript-eslint/interface-name-prefix": "warn",
        "prefer-const": "warn",
        "no-unused-expressions": "warn",
        "quotes": ["warn", "double"],
        "sort-imports": ["warn", {
          "ignoreCase": true,
          "ignoreMemberSort": false,
          "memberSyntaxSortOrder": ["none", "all", "multiple", "single"]
        }],
        "comma-dangle": ["warn" ,"always-multiline"],
        "semi": ["warn", "always"],
        "eol-last": "warn",
        "eqeqeq": "warn",
    },
    "parser": "@typescript-eslint/parser",
    "plugins": ["@typescript-eslint", "react"],
    "parserOptions": {
      "project": "./tsconfig.json"
    }
  }
