.container {
  white-space: nowrap;
  display: inline-block;
}

.detailView {
	text-align: right;

  .label {
    margin-right: 8px;
		color: $black-halftone;
  }

	.timeSection {

    strong {
      font-weight: bold;
      display: inline-block;
    }
	}
}

.percentageContainer {
	width: 100%;
	height: 2px;
	display: none;
	border-top: 1px solid rgba(105, 164, 231, 1.000);
}

.timeSection {
  display: inline-block;
  color: rgba(104, 155, 214, 1.000);

  strong {
  	font-weight: normal;
  	font-family: $body-font;
  }

  .colon {
    display: inline-block;
    margin-left: 6px;
    margin-right: 6px;
  }
}

.pluginView .timeSection strong {
	color: $gray-1;
}

.overTime {
	margin-left: 8px;
	display: inline-block;
}
