:global {
  body.react-router-modal__modal-open {
    overflow: hidden;
  }
}

.modalWindow {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  transition: all .25s ease;
  border-radius: 15px 15px 15px 15px;
  z-index: 99999999999999999;
}

.header {
  background-color: rgba(18, 46, 91, 1.000);
  padding: 12px 20px;
  color: $white;
  z-index: 100000;
  position: relative;
  border-radius: 15px 15px 0 0;
  font-size: 21px;
}

.body {
  height: 100%;
  padding: 20px;
  background-color: white;
}

.footer {
  padding: 10px;
  border-top: $gray-border-2;
  background: white;
  border-radius: 0 0 15px 15px;
  position: relative;
}

.footer::after {
  content: "";
  clear: right;
}

@media only screen and (max-width: 425px) {
  .modalWindow {
    top: 0;
    left: 0;
    transform: none;
    width: 100% !important;
    border-radius: 0;
  }

  .header {
    border-radius: 0;
  }

  .footer {
    border-radius: 0;
  }
}