.pdfContainer {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;

  :global .reactPdfDocument {
    display: inline-block;

    :global .reactPdfDocumentPage {
      margin-bottom: 10px;
    }
  }
}
