.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.hidden {
  display: none;
}

.createProposal, .stakeFail, .stakePass, .voteDown, .voteUp {
  display: block;
}

.genLabel.genSymbol {
    top: 3px;
    left: 143px;
    opacity: .5;
    position: absolute;
}

.yourStakeTitle {
  position: absolute;
  top: -13px;
  background-color: white;
  padding: 5px;
  font-size: 11px;
  color: rgba(80, 97, 118, 1.000);
  display: inline-block;
  left: 35px;
}

.genBalance {
  font-size: 11px;
}

.metaMaskModal .modalWindow .transactionHeader.stakeFail .transactionIcon, .metaMaskModal .modalWindow .transactionHeader.stakePass .transactionIcon {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  text-align: center;
  background-color: rgba(246, 80, 80, 1.000);
  margin-right: 10px;

  img {
    margin: 0;
    padding: 0;
    position: relative;
    top: -3px;
    left: -1px;
  }
}

.metaMaskModal .modalWindow .transactionHeader.stakePass .transactionIcon {
  background-color: rgba(0, 190, 144, 1.000);

  img {
    left: 0;
  }
}

.closeTransactionContainer {
  display: inline-block;

  button {
    border-radius: 15px;
    height: 30px;
    background-color: rgba(225, 235, 247, 1.000);
    border: 0;
    outline: none;
    line-height: 30px;
    padding: 0 15px;
    color: rgba(0, 113, 255, 1.000);
  }
}

.helpButton {
  position: absolute;
  top: 12px;
  right: 20px;

  button.hover {
    color: rgba(18, 46, 91, 1.000);
    background-color: rgba(0, 113, 255, 1.000);
    width: 20px;
    height: 20px;
    border: 0;
    font-size: 16px;
    border-radius: 15px;
  }
}

.launchMetaMask {
    border-radius: 15px;
    height: 30px;
    background-color: rgba(0, 113, 255, 1.000);
    color: $white;
    border: 0;
    outline: none;
    line-height: 30px;
    padding: 0 15px;
    margin: 0 20px 20px 0;
    display: inline-block;
    float: right;

  img {
    position: relative;
    left: -11px;
    top: 3px;
  }

  .disabled {
    cursor: not-allowed !important;
  }
}

.preTransactionBottom {
  padding: 20px 30px;
  border: 1px solid rgba(191, 203, 213, 1.000);
  text-align: right;
}

.metaMaskModal {
  width: 100%;
  height: 100%;
  position: fixed;
  overflow: scroll;
  top: 0;
  z-index: 1000000000000000;
  left: 0;

  .bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.7);
    z-index: 0;
  }

  .decisionGraph {
    position: relative;
    top: -5px;
    left: 10px;
    float: left;

    .forLabel {
      color: $accent-1;
      font-size: $small;
    }

    .againstLabel {
      font-size: $small;
      color: $accent-2;
    }
  }

  .graph {
    background-color: rgba(235, 235, 235, 1.000);
    box-shadow: inset 0 0 8px 0 rgba(0,0,0,0.10);
    height: 8px;
    position: relative;

    .forBar {
      background-color: $accent-1;
      height: 8px;
    }

    .againstBar {
      background-color: $accent-2;
      height: 8px;
      position: absolute;
      right: 0;
      top: 0;
    }

    .divider {
      height: 8px;
        width: 1px;
        border-left: 1px dotted rgba(151, 151, 151, 0.5);
        position: absoluet;
        left: 50%;
        top: 0;
    }
  }

  .help {
    width: 24px;
    height: 24px;
    top: -4px;
    right: 5px;
    position: relative;


    img {
      position: absolute;
      z-index: 0;
    }

    .hover {
      position: absolute;
      z-index: 1;
      opacity: 0;
    }
  }

   .helpBox {
      transition: all .25s ease;
      width: 230px;
      position: absolute;
      right: 37px;
      top: 0px;
      z-index: 10000;

      .bg {
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0, 0.9);
        position: absolute;
        z-index: 0;
      }

      .pointer {
        width: 12px;
        position: absolute;
        top: 40px;
        right: -6px;
        height: 12px;
        transform: rotate(45deg);
        background-color: rgba(0,0,0, 0.9);
      }

      .bridge {
        height: 30px;
        width: 80px;
        top: 35px;
        position: absolute;
        right: -80px;
      }

      .header {
        position: relative;
        z-index: 5;
        padding: 24px 10px;
        border-bottom: 3px solid #434343;
        text-align: center;

        h2 {
          margin: 0;
          font-size: 24px;
          font-family: $heading-1-font;
          color: $white;
        }

        h3 {
          margin: 0;
          font-family: $body-font;
          color: $white;
          font-size: 11px;
          font-weight: normal;
        }
      }

      .body {
        position: relative;
        z-index: 5;
        padding: 24px;

        p {
          font-size: 11px;
          color: $white;
          padding: 0 0 14px 0;
          margin: 0;
        }
      }

      a {
        display: block;
        margin: 0 24px 24px 24px;
        border: 1px solid #fff;
        color: $white;
        text-align: center;
        padding: 12px;
        opacity: .9;
      }

    }

  .modalWindow {
    width: 500px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background: white;
    border-radius: 15px 15px 0 0;

    .decisionGraph {
      width: 100%;
      float: none;
      left: auto;
      top: auto;

      .forLabel {
        position: absolute;
        top: 20px;
        left: 8px;
      }

      .againstLabel {
        position: absolute;
        top: 20px;
        right: 8px;
      }

      .graph {
        width: 100%;
        display: block;
        margin: 0;
        height: 15px;

        .forBar {
          height: 15px;
          border-radius: 0 0 0 0;
        }

        .againstBar {
          height: 15px;
          border-radius: 0 0 0 0;
        }

        .divider {
          height: 15px;
        }
      }
    }

    .incentives {
      padding: 30px;
      font-size: 11px;
      border-top: 1px solid rgba(191, 203, 213, 1.000);
      border-bottom: 1px solid rgba(191, 203, 213, 1.000);
      margin-bottom: 20px;;

      .outcomes {
        display: inline-block;
        padding: 0 12px;
        opacity: .35;
      }

      .passIncentive {
        display: inline-block;
        padding: 0 12px 0 0;

        strong {
          color: $accent-1;
          display: inline-block;
          margin-right: 6px;
        }
        span {
          opacity: .5;
        }
      }

      .failIncentive {

        span {
          opacity: .5;
        }
        strong {
          color: $accent-2;
          margin-right: 6px;
          display: inline-block;
        }
      }
    }

    .transactionHeader {
      background-color: rgba(18, 46, 91, 1.000);
      padding: 12px 20px;
      color: $white;
      position: relative;
      border-radius: 15px 15px 0 0;

      .transactionIcon {
        display: inline;

        img {
          display: inline;
          margin-bottom: -3px;
          margin-right: 18px;
        }
      }

      .transactionInfo {
        position: relative;
        top: -2px;
        display: inline;

        .transactionEffect {
          font-size: 12px;
          display: inline;
          color: $white;
          opacity: .7;
        }

        .transactionType {
          font-size: $body;

          .passVote {
            color: rgba(0, 190, 144, 1.000);
          }

          .failVote {
            color: rgba(246, 80, 80, 1.000);
          }

          .redeem {
            color: rgba(0, 190, 144, 1.000);
          }
        }

        .secondaryHeader {
          display: inline-block;
          font-size: 14px;
          opacity: .5;
        }
      }
    }

    .proposalInfo {
      background: white;
      padding: 20px;

      .proposalTitle {
        padding: 0 0 20px 0;
        font-size: 21px;
        max-width: 430px;
        margin: 0 auto;
      }
    }

    .stakingInfo {
      width: 100%;
      border-top: 1px solid rgba(230, 235, 242, 1.000);
      margin-top: 26px;
    }

    .currentPredictions {
      float: left;
      width: 50%;
    }

    .stakingForm {
      position: relative;
      padding: 40px;

      .predictionAmount {
        display: inline-block;
        background-color: transparent;
        border: 1px solid rgba(191, 203, 213, 1.000);
        width: 154px;
        font-size: $body;
        padding: 10px 13px;
        float: left;
        font-family: $body-font;

        &:focus {
          outline: none;
        }
      }

      .formGroup {
        line-height: 24px;
        position: relative;
        top: auto;
        left: auto;
        right: auto;
        transform: none;
        text-align: center;

        span {
          font-size: $body;
          padding-top: 5px;
        }
      }

      .placePrediction {
        padding: 4px;
        width: 120px;
        margin-top: 8px;
        border: 1px solid $accent-1;
        color: $accent-1;
      }

      .clearfix {
        margin-top: 7px;
        position: relative;
        top: auto;
        left: auto;
        width: 100%;
        text-align: center;
        transform: none;
      }

      .genError {
        background-color: rgba(0, 0, 0, 0.8);
        height: 100%;
        position: absolute;
        width: 300px;
        text-align: center;
        color: $white;
        left: -150px;

        h4 {
          color: $accent-2;
          font-size: 14px;
          font-family: $body-font;
          margin: 0;
          padding-top: 8px;
        }

        span {
          display: block;
          font-size: 10px;
          font-weight: normal;
          color: $white-halftone;
        }

      }

      div.exchangeList {
        color: $white;
        font-size: 12px;
        color: $white;
        border: 1px solid $white;
        width: 150px;
        position: relative;
        top: 0;
        left: 0;
          text-align: center;
          transform: translate(0,0);
          display: inline-block;
          height: 30px;
          margin: 11px;
          line-height: 30px;

        ul {
          position: absolute;
          top: -130px;
          left: 0;
          background-color: rgba(0, 0, 0, 0.8);
          list-style: none;
          margin: 0;
          border-left: 1px solid $white;
          border-right:  1px solid $white;
          border-bottom:  1px solid $white;
          width: 150px;
          left: -1px;
          padding: 0;
          opacity: 0;
          transform: scale(0);
          transition: all .25s ease;

          a {
            color: $white;
            font-weight: bold;
            width: 100%;
            display: inline-block;
            padding: 8px 0;

            &:hover {
              background-color: $black;
            }
          }
        }

        &:hover {
          background-color: $black-thirdtone;
          cursor: pointer;
          border-bottom: none;
          border-left: 1px solid $white;
          border-right:  1px solid $white;
          border-top:  1px solid $white;

          ul {
            opacity: 1;
            transform: scale(1);
            top: 30px;
          }
        }
      }
    }

    .transactionInstructions {
      background-color: $white;
      text-align: center;
      color: $black;
      padding-bottom: 30px;

      p {
        margin: 0;
        padding: 30px;
        font-size: $body;
      }

      a {
        color: $accent-1;
      }
    }
  }
}
