.modalHeader {
  display: flex;

  .title {
    flex-grow: 2;
  }

  .closeButtonX {
    img {
      position: relative;
      width: 13px;
      height: 13px;
    }
  }
}

.modalBody {
  div:not(:last-child) {
    margin-bottom: 1rem;
  }
}

.modalFooter {
  text-align: center;

  .closeButton,
  .yesButton,
  .noButton {
    height: 30px;
    border: none;
    background-color: $secondary-button-color;
    border-radius: 30px;
    padding: 0 15px;
    color: white;
    font-weight: bold;
    font-size: 11px;
    text-align: center;
    cursor: pointer;
    outline: none;
    white-space: nowrap;

    &:hover {
      opacity: 0.8;
    }
  }

  .noButton {
    margin-right: 10px;
    display: inline-block;
    background-color: $secondary-button-background-color;
    color: $secondary-button-color;
  }
}
