.modalWindow {
  width: 318px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  transition: all .25s ease;
  border-radius: 15px 15px 0 0;
  z-index: 99999999999999999;
}

.header {
  background-color: rgba(18, 46, 91, 1.000);
  padding: 12px 20px;
  color: $white;
  z-index: 100000;
  position: relative;
  border-radius: 15px 15px 0 0;
  font-size: 21px;

  .icon {
    display: inline-block;

    img {
      height: 21px;
      margin-right: 10px;
      position: relative;
      top:4px;
    }
  }

  .title {
    display: inline-block;
    position: relative;
  }

  .closeButton {
    color: #9aa9b5;
    position: fixed;
    display: inline-block;
    right: 16px;
    cursor: pointer;
  }
}

.content {
  height: 100%;
  background-color: white;

  .link {
    padding: 24px 30px 24px 30px;

    .title {
      display: inline-block;
      height: 18px;
      font-size: 16px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #4f6176;
      margin-bottom: 4px;
    }

    .url {
      display:inline-block;
      width:240px;
      overflow: hidden;
      text-overflow: ellipsis;
      font-family: "Open Sans";
      font-size: 13px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1;
      letter-spacing: 0.2px;
      color: #9aa9b5;
      margin-right: 6px;
    }

    .copyButton {
      cursor: pointer;
      display: inline-block;
      img {
        height: 13px;
      }
    }

    .copied {
      display: inline-block;
      position: fixed;
      right: 20px;
      font-family: "Open Sans";
      font-size: 11px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #0071ff;
    }
  }

  hr {
    color: #e5ebf2;
    margin: 0 0 12px 0;
  }

  .socialSitesList {
    margin-bottom: 12px;

    .socialSite {
      padding-left: 30px;
      padding-right: 30px;
      padding-top: 10px;
      padding-bottom: 10px;
      cursor: pointer;

      .icon {
        display: inline-block;
        margin-right: 8px;
        img {
          width: 40px;
          height: 40px;
        }
      }

      .name {
        position: relative;
        bottom: 12px;
        display: inline-block;
        font-family: "Open Sans";
        font-size: 16px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #4f6176;
      }
    }

    .socialSite:hover {
      background-color: #e1ebf7;
    }
  }
}



@media only screen and (max-width: 425px) {
  .modalWindow {
    width: 318px;
    position: absolute;
    left: 50%;
    top: 20px;
    transform: translate(-50%, 0);
    transition: all .25s ease;
    border-radius: 15px 15px 0 0;
    z-index: 99999999999999999;
  }
}