.body {
  height: 100%;
  text-align: center;
  font-size: 16px;
  color: $grey-blue;

  h1 {
    font-family: AccordBold;
    font-size: 28px;
    color: $title-color;
    padding: 0 40px;
  }

  .images {
    font-size: 36px;
    color: $title-color;
    margin: 10px 0 35px 0;

    img {
      vertical-align: middle;
    }

    span {
      vertical-align: middle;
      margin: 0 15px;
    }
  }
}

.footer {
  text-align: right;
  position: relative;

  span {
    font-size: 11px;
    position: absolute;
    left: 25px;
    top: 5px;
  }

  button {
    display: inline-block;
    height: 30px;
    border-radius: 30px;
    border-width: 1px;
    background-color: $secondary-button-color;
    padding: 0 15px;
    border-color: $accent-1;
    color: $white;
    font-weight: bold;
    font-size: 13px;
    margin-right: 12px;
  }

  .cancelButton {
    color: $secondary-button-color;
    background-color: $white;
  }
}
