.loading {
  width: 100%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%)
}

.menuDot {
  height: 8px;
  width: 8px;
  margin-left: 0;
  display: inline-block;

  &.red {
    background-color: #f65050;
    border-radius: 50%;
    bottom: 2px;
    position: relative;
  }
}

button:hover {
  cursor: pointer;
}

.wrapper {
  flex-grow: 2;
  padding: 30px 50px 100px 300px;
  overflow: auto;
  z-index: 0;
  position: relative;
}

.outer {
  display: flex;
  height: 100%;
  width: 100%;
}

.memberHeaderTable {
  padding: 0 15px 0 15px;
}

.memberTable, .memberTableHeading {
  width: 100%;

  tr {
    width: 100%;

    .memberAvatar {
      width: 40px;
    }

    .memberName {
      font-size: 13px;
      color: rgba(0, 29, 53, 1.000);
      text-align: left;
      width: 200px;

      // > div {
      //   width: 200px;
      //   overflow: hidden;
      // }
    }

    .memberAddress {
      font-size: 11px;
      color: rgba(78, 97, 118, 1.000);
      text-align: left;
      width: 370px;
    }

    .memberReputation {
      color: rgba(0, 29, 53, 1.000);
      text-align: left;
      width: 200px;
      font-size: 13px;

      .reputationAmount {
        display: inline-block;
        margin-right: 5px;
      }

      .reputationAmounts {
        display: inline-block;
      }
    }


    .memberSocial {
      text-align: right;
      min-width: 110px;

      .icon {
        width: 24px;
        height: 24px;
      }
    }

  }
}

.memberTableHeading {
  font-size: 13px;
  font-weight: bold;
  color: rgba(0, 29, 53, 1.000);
  text-align: center;

  tr {
    .memberAvatar {
      min-width: 80px;
    }

    .memberAddress {
      font-size: 13px;
    }

    .memberSocial {
      min-width: 110px;
    }

  }

}

.proposalHistoryTable {
  width: 100%;
  border-collapse: collapse;
}

.proposalHistoryTableHeader {
  font-size: 12px;
  font-weight: bold;
  text-align: left;
}

.noticeWrapper {
  width: 100%;
  position: fixed;
  display: flex;
  height: 40px;
  bottom: 0;
  left: 0;
  z-index: 100000;
}

.noticeBuffer {
  min-width: 250px;
  max-width: 250px;
  flex-grow: 1;
  height: 100%;
}

.notice {
  flex-grow: 2;
  background-color: white;
  padding: 11px 8px;
  color: rgba(78, 97, 118, 1.000);
  font-size: 11px;
  text-align: left;
  font-family: "Open Sans";
  width: 100%;

  div {
    padding-left: 15px;

    img {
      margin-right: 8px;
    }

    b {
      color: $accent-3;
    }
  }

  .notice::after {
    content: "";
    clear: both;
    display: table;
  }
  .closeNotice {
    position: absolute;
    border: none;
    outline: none;
    right: 6px;
    top: 13px;
  }
}

.menuWrapper {
  bottom: 0;
  position: absolute;
  height: 270px;
  left: 0;
  width: 100%;
  border-top: 2px solid rgba(78, 137, 208, 1.000);
  transition: all .25s ease;
  padding-top: 20px;

  ul {
    width: 100%;
    margin: 0;
    transition: all .25s ease;
    padding: 0;
    position: relative;

    li {
      position: initial;
      list-style: none;
      margin: 0;
      width: 100%;
      height: 24px;

      a {
        color: rgba(196, 215, 236, 1.000);
        text-decoration: none;
        padding: 5px 0 5px 30px;
        width: auto;
        display: block;
        font-family: "Open Sans";
        font-size: 12px;
        transition: all .25s ease;
      }

      &:hover a {
        background-color: rgba(32, 104, 188, 1.000);
        cursor: pointer;
      }

      &:hover ul li a {
        background-color: rgba(255,255,255,0);
      }

      ul {
        left: 50px;
        top: -80px;
        width: 120px;
        opacity: 0;
        transform: scale(0);
        transition: all .25s ease;
        padding: 10px 0 10px 0;
        background-color: rgba(255,255,255,1);
        border-radius: 0 10px 10px 0;

        .diamond {
          width: 10px;
          height: 10px;
          background-color: #fff;
          position: absolute;
          z-index: 0;
          top: 50%;
          transform: translateY(-5px) rotate(45deg);
          left: -5px;
        }

        li {
          text-align: left;
          position: relative;
          z-index: 1000;
          height: auto;

          a {
            padding: 8px 10px;
            color: rgba(78, 97, 118, 1.000);

            b {
              display: inline-block;
              width: 35px;
              text-align: center;
            }
          }

          &:hover a {
            background-color: rgba(240, 245, 251, 1.000);
          }

          img {
            position: relative;
            top: 0;
            height: 14px;
            left: 0;
            margin-right: 5px;
          }
        }
      }
      &:hover ul {
        left: -8px;
        opacity: 1;
        top: -160px;
        transform: translateX(100%) scale(1);
        background-color: rgba(255,255,255,1);
      }
    }

    li.daoStack {
      padding-top: 10px;

      a {
        color: white;
        font-family: "AccordBold";
        font-size: 13px;
      }

      img {
        margin-top: -3px;
        top: 5px;
        position: relative;
      }
    }
  }
}

.daoIcon {
  width: 40px;
  height: 40px;
  display: inline-block;
  border-radius: 40px;
  background-repeat: repeat;
}


.daoSidebar {
  min-width: 48px;
  max-width: 250px;
  height: 100%;
  background-color: $sky;
  color: $white;
  flex-grow: 1;
  overflow-y: auto;
  position: fixed;
  top: 50px;
  z-index: 1000;

  &:hover {
    z-index: 1000;
  }
}

.daoDescription {
  padding: 0px 20px 0px 20px;

  p {
    padding: 0;
    margin: 0;
    font-size: 13px;
  }

  a {
    text-decoration: underline;
    color: white;
  }

  a:hover {
    color: silver;
  }
}

.navHeading {
  font-family: "Open Sans";
  font-size: 11px;
  border-bottom: 1px solid rgba(78, 137, 209, 1.000);
  width: 100%;
  display: block;

  b {
    display: inline-block;
    background-color: #3178ca;
    margin-right: 10px;
    position: relative;
    left: 15px;
    top: 17px;
    padding: 10px;
    font-weight: normal;
    color: rgba(255,255,255,.5);
  }

}

.homeNotification, .holdersNotification, .historyNotification, .discussionNotification {
  opacity: 0;
}

.daoNavigation {
  position: relative;
  height: 100%;
  min-height: 780px;
  background-color: rgba(48, 120, 202, 1.000);
  height: -webkit-fill-available;
  height: -opera-fill-available;

  .daoName {
    padding: 20px;

    a {
      display: block;
      position: relative;
      font-size: 29px;
      line-height: 29px;
      font-weight: bold;

      em {
        width: 50px;
        height: 50px;
        position: absolute;
        opacity: .5;
        z-index: 0;
        background-color: rgba(255,255,255,.5);
        top: -5px;
        left: -5px;
        border-radius: 50px;
      }

      b {
        position: relative;
        z-index: 100;
      }
      span {
        position: absolute;
        padding-left: 60px;
        top: 50%;
        left: 0;
        margin-top: -3px;
        transform: translateY(-50%);
      }
    }

    a:visited {
      color: $white;
    }

    p {
      font-size: 14px;
      opacity: .7;
      padding: 0;
    }
  }
  .navigation {
    font-family: "Open Sans";

    ul {
      margin-top: 15px;
      padding: 0;
    }

    li {
      list-style: none;
      margin: 0;
      padding: 0;

      .notification {
        width: 4px;
        height: 8px;
        border-radius: 8px;
        position: relative;
        top: -2px;
        background-color: $accent-2;
        display: inline-block;
        opacity: 0;
      }

      img {
        margin-left: 2px;
        position: relative;
        top: 3px;
        margin-right: 8px;
      }

    }
    li a {
      display: block;
      font-size: 14px;
      color: $white;
      padding: 8px 23px 8px 8px;
      background-color: rgba(32, 104, 188, 0);
      transition: all .25s ease;
    }

    li a:visited {
      color: $white;
    }

    li a:hover {
      background-color: rgba(32, 104, 188, 1.000);
    }
  }
}

.daoHoldings {
  display: block;

  .navHeading b {
    padding: 10px 25px 10px 10px;
  }

  .navHeading {
    margin-top: -30px;
  }

  .navHeading a {
    display: inline-block;
    position: relative;
    top: 19px;
    left: -14px;
  }

  ul {
    margin-top: 15px;
    padding: 0;

    li {
      padding: 8px 23px;
      font-size: 14px;
      list-style: none;
    }
  }
}

.loading img {
  margin: 0 auto;
  display: block;
}

.membersContainer {
  margin: 10px auto;
  max-width: 980px;

  table {
    width: 100%;
  }

  h2 {
    font-size: 28px;
    color: rgba(104, 154, 214, 1.000);
    padding: 0;
    margin: 0;
    border-bottom: 1px solid rgba(195, 212, 231, 1.000);
    margin-bottom: 15px;
    padding-bottom: 3px;
    background-color: rgba(229, 235, 242, 1.000);
    padding-top: 10px;
  }
}

.member {
  padding: 5px 0;
  display: flex;
  font-family: $body-font;
  justify-content: space-between;
  font-size: 14px;
  align-items: center;

  img {
    flex: none;
    width: 40px;
  }

  .socialButton {
    padding: 2px 4px;
    display: inline-block;
  }
}

.member {
  padding: 5px 15px 5px 15px;
  margin-bottom: 2px;
  background-color: white;
  border-radius: 3px;
}

a {
  text-decoration: none;
}

.holdings {
  float: right;
  width: 180px;
  text-align: right;
  font-size: 14px;
  margin-top: 10px;
  text-transform: uppercase;

  h4 {
    font-weight: bold;
    margin-bottom: 0;
    margin-top: -7px;
  }
  div {
    opacity: 0.75;
  }
}

.daoInfo {
  max-width: 500px;
  position: relative;
  float: left;

  .daoReputationInfo {
    font-size: $caption;
    color: $black-halftone;

    img {
      position: relative;
      top: 4px;
      margin-right: 5px;
    }

    a {
      opacity: .5;
      text-decoration: underline;
      color: $black-septone;
    }

    a:visited {
      color: $black-halftone;
    }
  }

}

.daoHistoryHeader {
    font-size: 28px;
    color: rgba(104, 155, 214, 1.000);
    border-bottom: 1px solid rgba(45, 109, 181, .2);
    padding-bottom: 5px;
    font-weight: bold;
    margin-bottom: 30px;
    background-color: rgba(229, 235, 242, 1.000);
    padding-top: 10px;
}

@media only screen and (max-width: 425px) {
  .outer {
    display: block;
    position: relative;
  }

  .memberTable {
    display: block;
    width: 100%;

    tr {
      display: block;

      .memberReputation .reputationAmount {
        display: none;
      }

      td {
        display: block;
      }
    }
  }

  .memberTable.memberTableHeading {
    display: none;
  }

  .daoSidebar {
    width: 48px;
    max-width: 100%;
    height: auto;
    flex-grow: unset;
    z-index: 100000;
    background-color: rgba(49, 120, 202, 0);
    transition: height .25s ease, width 0s .25s;

    &:hover {
      z-index: 100000;
    }

    .daoNavigation {
      height: 0px;
      min-height: auto;
      overflow: hidden;
      transition: all .25s ease;

      .daoName {
        padding: 20px 20px 23px 20px;
      }

      .daoName a span {
        position: absolute;
        padding-left: 0;
        top: -5px;
        left: 64px;
        margin-top: -3px;
        transform: translateY(0);
        font-size: 13px;
      }

      .navigation li a {
        padding: 4px 23px 4px 8px;
      }
    }
  }

  .daoSidebar.menuOpen {
    z-index: 1000000;
    width: 100%;
    background-color: rgba(49, 120, 202, 1.000);
    padding-bottom: 50px;
    transition: width 0s 0s, height .25s ease;

    .daoNavigation {
      height: 520px;
    }
  }

  .menuWrapper {
    position: relative;
    height: auto;
    padding-bottom: 20px;

    ul li {
      height: auto;

      a {
        padding: 3px 0 3px 30px;
      }
    }

    ul li:hover ul {
      left: 40px;
      top: -20px;
    }

    ul li ul {
      position: absolute;
    }
  }

  .daoDescription {
    position: absolute;
    top: 35px;
    left: 64px;
    font-size: 12px;
  }

  .navHeading {
    margin-top: -40px;
  }

  .daoHoldings ul li {
    display: inline-block;
  }

  .wrapper {
    padding: 50px 0 100px 0;
  }

  .noticeWrapper {
    height: 52px;

    .noticeBuffer {
      display: none;
    }

    .notice {
      font-size: 10px;
      padding-right: 70px;
      box-shadow: 0 2px 16px 0 rgba(133, 168, 208, 0.4);

      div {
        padding-left: 0;

        img {
          height: 18px;
          float: left;
          position: relative;
          top: 5px;
        }
      }

      .closeNotice {
        background-color: transparent;
      }
    }
  }

  .reputationAmounts {
    position: absolute;
    right: 10px;
    top: 21px;
    font-size: 12px;
    font-weight: normal;
  }

  a:visited {
    color: rgba(0, 28, 53, 1.000);
  }

  .noProfile {
    opacity: .4;
  }

  .member {
    position: relative;
  }

  .membersContainer h2 {
    padding-left: 10px;
  }

  .daoHistoryHeader {
    padding-left: 10px;
  }

  .proposalHistoryTableHeader {
    display: none;
  }
}
