.headerWrap {
  background: white;
  margin: 8rem 2.5% 0 0;
  padding: 25px;
  position: relative;
  border-radius: 20px 20px 0 0;
  z-index: 9999999999;
}

.reputationHolders {
  display: block;
  position: absolute;
  font-size: 10px;
  font-weight: normal;
  color: $gray-1;
  white-space: nowrap;
}

.daoName {
  font-size: 24px;
  color: #689bd6;
}

.daoInfo {
  margin-left: 15%;
  top: 15px;
  position: absolute;
}

.daoDescription {
  font-family: $body-font;
  color: $black;
  font-weight: 500;
  font-size: 13px;
  width: 75%;
}

.circularSquare {
  border-radius: 50%;
  border-color: white;
  border-style: solid
}

.daoImg {
  top: -40px !important;
  left: 5px !important;
  position: absolute;
}

.daoHeadingGroup {
  .header {
    margin: unset;
  }
  p {
    margin-top: unset;
  }
}
.daoImg {
  top: -40px !important;
  left: 5px !important;
  position: absolute;
}

.headerWrap {
  padding-top: 10vh;
}

.daoInfo {
  margin-left: 10% !important;
}
.holdings {
  padding: 15px;
  border: 1px solid #dbd7d7;
  border-radius: 7px;
  float: right;
  position: relative;
  top: -50px;
}

.holdings .holdingsAmount {
  margin-top: 5px;
  color: #565a5d;
  font-size: 12px
}

.holdings .holdingsAmount .holdingsName {
  float: right;
  margin-left: 25px;
}  

.holdingsNumber {
  margin-right: 10px;
}

@media only screen and (max-width: 550px) {
  .daoInfo {
    margin-left: 30% !important;
  }

  .holdings {
    position: absolute;
    position: relative;
    width: unset;
    left: 15px;
  }


  .daoImg {
    top: -40px !important;
    left: 5px !important;
    position: absolute;
  }

  .headerWrap {
    padding-top: 10vh;
  }

  .daoInfo {
    margin-left: 8% !important;
    margin-top: 31% !important;
  }

}
@media only screen and (max-width: 1050px) {
  .headerWrap {
    padding-top: 10vh;
  }

  .daoInfo {
    margin-left: 30% !important;
  }
  
  .holdings {
    top: -20px;
  }
}
@media only screen and (max-width: 650px) { 
  .daoImg {
    top: -75px;
    left: 75px;
    position: absolute;
  }

  .daoInfo {
    margin-left: 35% !important;
    margin-top: 0% !important;
  }
  
  .holdings {
    top: -30px;
  }
}

