.landingPage {
  padding-top: 18px;

  .infoContainer {
    margin-bottom: 40px;
  }

  .infoContainer .titleContainer,
  .wallContainer .headerText {
    border-bottom: 1px solid rgba(45, 109, 181, 0.2);
    margin-bottom: 30px;
    padding-bottom: 5px;
  }

  .headerText {
    font-size: 28px;
    font-weight: bold;
    color: rgba(104, 155, 214, 1);
  }

  .infoContainer .titleContainer .row {
    display: flex;
    align-items: center;

    .headerText {
      flex-grow: 2;
    }
    div.editButton {
      padding-right: 8px;
      button {
        height: 30px;
        border-radius: 30px;
        border-width: 1px;
        background-color: #0071ff;
        padding: 0 15px;
        color:$white;
        font-weight: bold;
        font-size: 11px;
        text-align: center;
        cursor: pointer;
        white-space: nowrap;
        border: none;
      }
    }

    div.editButton:hover {
      opacity: 0.8;
    }
  }

  .infoContainer {
    div {
      margin-bottom: 16px;
    }
  }

  .wallContainer {
    padding-bottom: 5px;
  }
}
