.landingPage {
  padding-top: 18px;

  .infoContainer {
    margin-bottom: 40px;
  }

  .infoContainer .titleContainer,
  .wallContainer .headerText {
    border-bottom: 1px solid rgba(45, 109, 181, 0.2);
    margin-bottom: 30px;
    padding-bottom: 5px;
  }

  .headerText {
    font-size: 28px;
    font-weight: bold;
    color: rgba(104, 155, 214, 1);
  }

  .infoContainer .titleContainer .row {
    display: flex;
    align-items: center;

    .headerText {
      flex-grow: 2;
    }
    div.editButton {
      padding-right: 8px;
      button {
        height: 30px;
        border-radius: 30px;
        border-width: 1px;
        background-color: #0071ff;
        padding: 0 15px;
        border-color: #0376ff;
        color: white;
        font-weight: bold;
        font-size: 11px;
        text-align: center;
        cursor: pointer;
        outline: none;
        white-space: nowrap;
      }
    }
  }

  .welcome,
  .visitProposals {
    margin-bottom: 16px;
  }

  .wallContainer {
    padding-bottom: 5px;

    .discussionContainer {
      overflow-y: auto;
    }

    .hasNewDiscussions {
      display: none;

      &.red {
        height: 8px;
        width: 8px;
        margin-left: 0;
        margin-right: 5px;
        background-color: #f65050;
        border-radius: 50%;
        bottom: 5px;
        position: relative;
        display: inline-block;
      }
    }
  }
}

.modalHeader {
  display: flex;

  .title {
    flex-grow: 2;
  }

  .closeButton {
    img {
      position: relative;
      width: 13px;
      height: 13px;
    }
  }
}

.modalBody {
  div {
    margin-bottom: 1rem;
  }
}
