:global {
  /**
   * hack to fix 3box footer being horizontally misaligned
   */
  .threebox-comments-react .comments_footer {
    span.footer_text {
      white-space: nowrap;

      a .footer_text_image {
        margin-left: 10px;
        width: 50px;
      }
    }
  }
}

.landingPage {
  padding-top: 18px;

  .infoContainer {
    margin-bottom: 40px;
  }

  .infoContainer .titleContainer,
  .wallContainer .headerText {
    border-bottom: 1px solid rgba(45, 109, 181, 0.2);
    margin-bottom: 30px;
    padding-bottom: 5px;
  }

  .headerText {
    font-size: 28px;
    font-weight: bold;
    color: rgba(104, 155, 214, 1);
  }

  .infoContainer .titleContainer .row {
    display: flex;
    align-items: center;

    .headerText {
      flex-grow: 2;
    }
    div.editButton {
      padding-right: 8px;
      button {
        height: 30px;
        border-radius: 30px;
        border-width: 1px;
        background-color: #0071ff;
        padding: 0 15px;
        border-color: #0376ff;
        color: white;
        font-weight: bold;
        font-size: 11px;
        text-align: center;
        cursor: pointer;
        outline: none;
        white-space: nowrap;
      }
    }
  }

  .welcome,
  .visitProposals {
    margin-bottom: 16px;
  }

  .wallContainer {
    padding-bottom: 5px;
  }

  div.threeBoxLoginButton {
    padding-right: 8px;
    button {
      height: 30px;
      border-radius: 30px;
      border-width: 1px;
      background-color: #0071ff;
      padding: 0 15px;
      border-color: #0376ff;
      color: white;
      font-weight: bold;
      font-size: 11px;
      text-align: center;
      cursor: pointer;
      outline: none;
      white-space: nowrap;
    }
  }
}
.discussionWarning {
  font-weight: 600;
  font-style: italic;
  background-color: lightcoral;
  padding: 10px;
  font-size: 14px;
  margin-top: -20px;
  margin-bottom: 36px;
}
