.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: -68px; // hack to compensate for DAOContainer's padding, so position:sticky will work right

  .paddingTop {
    position: sticky;
    top: 50px;
    height: 62px;
    z-index: 2;
    background-color: $accent-6;
  }

  .headerContainer {
    position: sticky;
    top: 112px;
    background-color: $accent-6;
    margin-bottom: 10px;
    padding-bottom: 16px;
    z-index: 2;

    .header {
      display: flex;
      border-bottom: $gray-border-3;

      .title {
        color: $title-color;
        font-size: 28px;
        flex-grow: 2;
      }

      .addPlugin {
        align-self: center;
        padding-bottom: 4px;

        a {
          padding: 8px 15px;
          color: $white;
          background-color: $green-button-color;
          border-radius: 15px;
          font-size: 13px;
          white-space: nowrap;

          &:hover {
            opacity: 0.8;
          }

          &.disabled,
          &.disabled:hover {
            background-color: $disabled-button-background-color;
            border: $disabled-button-border;
            cursor: not-allowed;
          }
        }
      }
    }
  }

  .allPlugins {
    padding-top: 24px;
  }
}

.fadeEnter {
  opacity: 0.01;
}

.fadeEnter.fadeEnterActive {
  opacity: 1;
  transition: opacity 1000ms ease-in;
}

.fadeExit {
  opacity: 1;
}

.fadeExit.fadeExitActive {
  opacity: 0.01;
  transition: opacity 1000ms ease-in;
}

@media only screen and (max-width: 425px) {
  .wrapper h1 {
    padding-left: 10px;
  }
}
