.loading {
  text-align: center;
  padding-top: 5px;
  padding-bottom: 15px;

  img {
    width: 40px;
  }

  a {
    color: $gray-1;
    width: 100%;
    height: 100%;
    display: block;
  }
}

.wrapper {
  background: white;
  width: 46.5%;
  margin: 0 2.5% 40px 0;
  position: relative;
  float: left;
  border-radius: 20px;
  transition: all 0.25s ease;
  border: 1px solid transparent;

  h1 {
    border-bottom: 1px solid rgba(45, 109, 181, 0.2);
    color: $title-color;
    padding-bottom: 3px;
  }

  a.headerLink {
    padding: 25px;
    display: block;
    color: rgba(0, 29, 52, 1);
    border: 1px solid $white;
    border-radius: 20px;

    div {
      padding-top: 10px;
      font-size: 16px;
      font-family: $body-font;

      b {
        color: rgba(0, 29, 52, 1);
        font-size: 21px;
      }

      span {
        color: $gray-1;
        font-weight: normal;
      }
    }

    div.loading {
      padding-top: 30px;

      div {
        color: $gray-1;
      }
    }
  }

  h2 {
    font-size: 21px;
    font-weight: bold;
    margin: 0;
    padding: 0;
  }

  &:hover {
    border-color: $border-accent;
  }
}

.unsupportedPlugin {
  h2 {
    padding: 25px;
  }

  div {
    text-align: center;
    padding: 0 25px 25px 25px;
  }
}

a.proposalTitle {
  .container {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    border-top: 1px solid rgba(224, 232, 241, 1);
    font-size: 11px;
    color: rgba(80, 97, 118, 1);

    .miniGraph {
      vertical-align: middle;
      padding-left: 16px;
    }

    .title {
      flex-grow: 2;
      padding-left: 8px;
      padding-right: 8px;
    }

    .countdown {
      font-weight: normal;
      color: $gray-1;
      padding-right: 16px;
    }
  }
}

.numProposals {
  position: absolute;
  bottom: -20px;
  font-size: 11px;

  a {
    color: rgba(0, 113, 255, 1);
    font-family: $body-font;
  }
}

@media only screen and (max-width: 425px) {
  .wrapper {
    border-radius: 0;
    width: 100%;
  }

  .numProposals {
    padding-left: 10px;
  }
}
