.loading {
	text-align: center;
	padding-top: 5px;
	padding-bottom: 15px;

	img {
		width: 40px;
	}

	a {
		color: $gray-1;
		width: 100%;
		height: 100%;
		display: block;
	}
}

.wrapper {
	background: white;
	width: 47.5%;
	margin: 0 2.5% 40px 0;
	position: relative;
	float: left;
	border-radius: 20px 20px 0 0;

	h1 {
	    border-bottom: 1px solid rgba(45, 109, 181, .2);
	    color: rgba(104, 155, 214, 1.000);
	    padding-bottom: 3px;
	}

	a.headerLink {
		padding: 25px;
		display: block;
		color: rgba(0, 29, 52, 1.000);
		border: 1px solid $white;
		border-radius: 20px 20px 0 0;
		transition: all .25s ease;

		div {
			padding-top: 10px;
			font-size: 16px;
			font-family: $body-font;

			b {
				color: rgba(0, 29, 52, 1.000);
				font-size: 21px;
			}

			span {
				color: $gray-1;
				font-weight: normal;
			}
		}

		div.loading {
			padding-top: 30px;

			div {
				color: $gray-1;
			}
		}

		&:hover {
			border: 1px solid rgba(172, 199, 230, 1.000);
		}
	}

	h2 {
		font-size: 21px;
		font-weight: bold;
		margin: 0;
		padding: 0;
	}

}

.unsupportedScheme {
	h2 {
		padding: 25px;
	}

	div {
		text-align: center;
		padding: 0 25px 25px 25px;
	}
}

a.proposalTitle {
	padding: 10px 16px;
	border: 1px solid $white;
	border-top: 1px solid rgba(224, 232, 241, 1.000);
	font-size: 11px;
	color: rgba(80, 97, 118, 1.000);
	display: block;
	position: relative;
	transition: all .25s ease;

	&:hover {
		border: 1px solid rgba(172, 199, 230, 1.000);
	}

	.miniGraph {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    margin-right: 8px;
	}

	b {
		display: block;
		position: absolute;
		right: 16px;
		top: 15px;
		font-weight: normal;
		color: $gray-1;
	}
}

.numProposals {
	position: absolute;
	bottom: -20px;
	font-size: 11px;

	a {
		color: rgba(0, 113, 255, 1.000);
		font-family: $body-font;
	}
}

.followIcon {
  position: absolute;
  top: 10px;
  right: 10px;
  fill: none;
  width: 20px;
  height: 20px;

  path {
    stroke: #bfcbd5;
    stroke-width: 6px;
  }
}

.isFollowing {
  path {
    fill: #bfcbd5;
  }
}


@media only screen and (max-width: 425px) {
	.wrapper {
		border-radius: 0;
		width: 100%;
	}

	.numProposals {
		padding-left: 10px;
	}
}