.wrapper {
  background: white;
  width: 47.5%;
  margin: 0 2.5% 40px 0;
  position: relative;
  float: left;
  border-radius: 20px 20px 0 0;

  h2 {
    display: block;
    color: #001d34;
    font-weight: bold;
    font-size: 21px;
    padding: 0;
    margin-top: 0;
    overflow: hidden;
  }

  .body {
    margin: 25px;
    margin-bottom: 0;
  }

  table {
    width: 100%;
    border-spacing: 0;

    td {
      vertical-align: middle;
      border: 1px solid white;
      border-top: 1px solid #e0e8f1;
      padding-top: 12px;
      padding-bottom: 12px;
      font-size: 11px;
      color: rgba(80, 97, 118, 1.000);
    }

    td img.attention {
      padding-right:4px;
      width: 16px;
      height: 16px;
      position: relative;
      bottom: -1px;
    }

    td.left {
      width: 8px;
      max-width: 8px;
      min-width: 8px;
    }

    .pluginLink {
      display:inline-block;
      color: rgba(154, 169, 181, 1.000);
      position: relative;
      bottom: 3px;
    }

    .pluginLink:hover {
      text-decoration: underline;
    }

    @media only screen and (max-width: 975px) {
      .pluginLink {
        width:11rem;
        overflow-x: hidden;
        text-overflow: ellipsis;
        bottom: 0;
      }
    }

    @media only screen and (max-width: 815px) {
      .pluginLink {
        width:7rem;
      }
    }

    @media only screen and (max-width: 715px) {
      .pluginLink {
        width:6rem;
      }
    }
  }
}
