.button {
  position: relative;

  img {
    width: 23px;
  }

  .notification {
    display: inline-block;
    position: absolute;
    top: 2px;
    right: -3px;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color: #f65050;
  }
}
