.predictions {
  .stakesFor span,
  .stakesAgainst span {
    width: 50px;
  }

  span {
    text-align: left;
    display: inline-block;
    color: rgba(104, 154, 214, 1);
    min-width: 3%;
    font-size: 13px;

    b {
      font-weight: normal;
      font-size: 11px;
      text-align: center;

      img {
        display: none;
      }
    }
  }

  .disabledPredictions {
    position: relative;
    bottom: 1px;
    font-size: 11px;
    color: $gray-1;
    line-height: normal;
    padding-right: 2px;
  }

  button {
    font-weight: $bold;
    color: rgba(3, 118, 255, 1);
    background-color: rgba(225, 235, 247, 1);
    height: 25px;
    line-height: 14px;
    position: relative;
    border: 0;
    margin: 0 1px;
    display: inline-block;
    width: 60px;
    top: 0;
    outline: none;

    strong {
      opacity: 1;
    }

    img {
      opacity: 0;
      position: absolute;
      width: 12px;
    }

    img.stakeIcon {
      opacity: 1;
      top: 1px;
      position: relative;
    }
  }

  button.pendingPrediction {
    strong {
      opacity: 0;
    }

    img {
      opacity: 1;
    }
  }

  button:hover {
    cursor: pointer;
  }

  table {
    text-align: left;
    font-weight: $bold;
    width: 140px;

    .predicted {
      font-style: italic;
    }

    .passPrediction {
      text-align: right;
      color: $black-halftone;

      button {
        border: 1px solid $black-tenthtone;
        color: $black-halftone;
        transition: all 0.25s ease;

        &:hover {
          color: $accent-1;
          border: 1px solid $accent-1;
        }

        strong {
          color: $accent-1;
        }

        img {
          top: 2px;
          right: 6px;
        }
      }

      button.pendingPrediction {
        animation: pendingPassPrediction 2s ease infinite;
      }
    }

    .failPrediction {
      color: $black-halftone;
      text-align: right;

      button {
        color: $black-halftone;
        border: 1px solid $black-tenthtone;
        transition: all 0.25s ease;

        &:hover {
          color: $accent-2;
          border: 1px solid $accent-2;
        }

        strong {
          color: $accent-2;
        }

        img {
          right: 9px;
          top: 2px;
        }
      }

      button.pendingPrediction {
        animation: pendingFailPrediction 2s ease infinite;
      }
    }
  }
}

.passButton {
  border-radius: 10px 0 0 10px;
}

.failButton {
  border-radius: 0 10px 10px 0;
}

.predictions.unconfirmedPrediction {
  .loading {
    display: block;
  }
}

.enablePredictions {
  button {
    width: 100px;
    text-align: center;
    height: 44px;
    border-radius: 12.5px;
    padding-left: 5px;
    padding-right: 6px;
    padding-top: 5px;
    padding-bottom: 7px;
    background-color: #0076ff;
    color: white;
    font-weight: normal;
    font-family: LucidaGrande;
  }
}

.toBoostMessage {
  font-size: 11px;
  letter-spacing: 0.2px;
  color: #689bd6;
  margin-left: 2px;
  margin-right: 2px;
}

.detailView {
  .failButton {
    position: relative;
    top: 1px;
  }

  .passButton {
    position: relative;
  }

  h3 {
    display: block;
    color: $title-color;
    width: 100%;
    position: absolute;
    top: 0;

    span {
      padding: 10px;
      font-size: 21px;
    }
  }

  .enablePredictions {
    button {
      width: fit-content;
      height: auto;
      padding-left: 10px;
      padding-right: 10px;
    }
  }
}
/* EO Detail View */

.historyView.predictions {
  span {
    font-size: 13px;
    color: $gray-1;
    display: inline-block;
  }
}

@keyframes pendingPassPrediction {
  0% {
    border: 1px solid $black-tenthtone;
  }
  50% {
    border: 1px solid $accent-1;
  }
  100% {
    border: 1px solid $black-tenthtone;
  }
}
@keyframes pendingFailPrediction {
  0% {
    border: 1px solid $black-tenthtone;
  }
  50% {
    border: 1px solid $accent-2;
  }
  100% {
    border: 1px solid $black-tenthtone;
  }
}

/**** Pre-approve *****/
.preApproval {
  h3 {
    background-color: #122e5b;
    border-radius: 15px 15px 0 0;
    position: relative;
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
    color: white;
    height: 40px;
    opacity: 1;
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
    text-align: center;
  }
}

.preapproveWrapper {
  background-color: white;
  width: 280px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 0 0 20px 0;
  border-radius: 15px 15px 0 0;
  font-size: 14px;
  line-height: 24px;

  p {
    padding: 0 15px 6px 15px;
    font-size: 14px;
    opacity: 0.6;
  }

  .preapproveButtonsWrapper {
    text-align: center;

    button {
      width: 100px;
      margin-left: 3px;
      margin-right: 3px;
      border: none;
      cursor: pointer;
      height: 30px;
      line-height: 30px;
      font-size: 13px;
      color: white;
      background-color: #0376ff;
      border-radius: 15px;
      display: inline-block;
      padding: 0 15px;
      outline: none;
    }

    button:first-of-type {
      background-color: rgba(225, 235, 247, 1);
      color: rgba(0, 113, 255, 1);
    }
  }
}

.contextMenu {
  margin-top: -15px;
  min-height: 30px;

  .contextTitle {
    width: 100%;
    border-bottom: 1px solid rgba(233, 238, 244, 1);
    text-align: left;
    position: relative;
    top: -5px;
    margin-bottom: 10px;

    span {
      font-size: 11px;
      font-family: "Open Sans";
      color: rgba(154, 169, 181, 1);
      padding: 3px;
      background-color: white;
      position: relative;
      left: 5px;
      top: 10px;
    }
  }
}

.contextContent button {
  display: block;
  text-align: left;
  width: 100%;
  border: none;
  background-color: rgba(240, 245, 251, 0);
  transition: all 0.25s ease;
  padding: 5px 0;
  border-radius: 0;
  margin: 0 0 0 0;
  color: rgba(78, 97, 118, 1);
  font-weight: normal;

  img {
    margin-left: 15px;
    position: relative;
    top: 3px;
    margin-right: 10px;
  }

  span {
    display: inline-block;
    position: relative;
    top: -2px;
    left: 10px;
  }

  &:hover {
    background-color: rgba(240, 245, 251, 1);
  }
}

.contextContent .disabledPredictions {
  width: 80%;
  text-align: center;
  margin: 5px auto 0 auto;
  display: block;
}
