.wrapper {
  position: relative;
  font-size: 12px;
  padding-left: 10px;

  img {
    position: relative;
    top: 3px;
    margin-right: 5px;
  }

   .stakeGraph {
     display: flex;

     .leftColumn {
      padding-right: 5px;
     }

     .rightColumn {
        flex-grow: 1;
        padding-right: 19px;
     }
   }

  .stakesFor {
    margin-bottom: 3px;
  }

  .stakesFor, .stakesAgainst {
    white-space: nowrap;
  }

  .stakesFor, .forBar, .stakesAgainst, .againstBar {
    font-weight: bold;
    color: rgba(104, 154, 214, 1.000);
  }

  .forBar, .againstBar {
    width: 60px;
    height: 18px;
    position: relative;
    padding-left: 5px;
    padding-top: 2px;

    b {
      font-weight: normal;
      font-size: 10px;
      display: inline-block;
      color: $gray-1;
      font-family: "Open Sans";
      position: relative;
      top: 2px;
    }

    span {
      display: block;
      position: absolute;
      width: 100%;
      bottom: 0;
      height: 2px;
      background-color: rgba(208, 214, 220, 1.000);
    }
  }
}

.defaultIcon {
  display: inline-block;
}

.detailIcon {
  display: none;
}

.detailView.wrapper {
   width: 80%;
   margin-top: 30px;
   margin-left: auto;
   padding-bottom: 20px;

   .disabledPredictions {
     display: block;
     padding-top: 4px;
     font-size: 13px;
     color: $gray-1;
   }

   .detailIcon {
     display: inline-block;
   }

   .defaultIcon {
     display: none;
   }

   .stakeGraph {
     width: 100%;
     position: relative;
     margin-bottom: 10px;
   }

    .stakesFor, .stakesAgainst {
      position: relative;
    }

    .stakesFor {
      padding-bottom: 35px;
    }

    .forBar {
      margin-bottom: 38px;
    }

   .forBar, .againstBar {
     position: relative;
     width: auto;

     b {
       color: $gray-1;
       font-size: 13px;
       position: relative;
       top: -4px;
       margin-left: 0;
     }
   }

   img {
     position: absolute;
     left: -32px;
     height: 20px;
     width: 22px;
     top: 0;
   }
}

.historyView.wrapper {
  .stakesAgainst, .stakesFor {
    color: $gray-1;
    font-weight: normal;
  }

  .forBar, .againstBar {
    display: none;
  }
}

.isPassing .forBar {
  span {
    background-color: $accent-3;
  }
}

.isFailing .againstBar {
  span {
    background-color: $accent-2;
  }
}
