.landingPage {
  .heading {
    display: flex;
    margin-bottom: 20px;

    .name {
      font-size: 28px;
      font-weight: bold;
      flex-grow: 2;
    }
  }

  .welcome,
  .visitProposals,
  .visitWall,
  .infoContainer {
    margin-bottom: 16px;
  }

  .infoContainer {
    .members,
    .proposals {
      .count {
        display: inline-block;
        margin-right: 6px;
      }

      .body {
        display: inline-block;
      }
    }
  }
}
