.landingPage {
  .name {
    font-size: 28px;
    font-weight: bold;
    display: inline-block;
  }

  .welcome {
  }

  .followButton {
  }

  .wallButton {
  }

  css.proposalsButton {
  }

  .infoContainer {
    .members {
    }

    .proposals {
    }
  }
}
