.wrapper {
  position: relative;
  max-width: $max-width;
  margin: 0 auto;
  padding: 0 30px;
}

.loading img {
  margin: 0 auto;
}

.daoInfoContainer {
	text-align: center;
}

.dao {
	top: 60px;
	width: 480px;
	background-color: $white;
	border-radius: 15px;
	position: relative;
	display: inline-block;
	margin: 0 0 20px 20px;
	position: relative;
	left: -15px;
	top: 10px;
	box-shadow: 0 0 15px 0 rgba(133,168,208,.15);
}

.daoList {
  position: relative;
  z-index: 0;
  padding-top: 30px;
}

.daoInfoTitle {
	text-align: center;
	font-size: 13px;
	color: rgba(104, 155, 214, 1.000);
	border-bottom: 1px solid rgba(229, 235, 242, 1.000);
	padding: 0 5px 10px 0;
}

a.daoLink {
	text-decoration: none;
	color: $white;
	text-align: left;

  .daoInactive {
    opacity: .65;

    .daoName {
      opacity: .8;
    }
    &:hover {
      cursor: not-allowed;
    }
  }

	.daoTitle {
		border-radius: 15px 15px 0 0;
    padding-top: 38px;
    padding-bottom:38px;
		padding-left: 30px;
		padding-right: 12px;
		margin: 0;
		margin-bottom: 10px;
		color: $white;
		background-repeat: repeat;

    .daoName {
      font-size: 28px;
      font-weight: bold;
      display: inline-block;
      overflow-x: hidden;
    }

    .inactiveFeedback {
      float: right;
      position: relative;
      bottom: 21px;

      .time {
        display: inline-block;
        position: relative;
        bottom: 14px;
        right: 16px;
        font-size: 20px;
      }
    }
	}

	.daoInfo {
		color: $black;
		font-size: $body;
		width: 100%;
		display: inline-block;
		padding: 30px 0;

		b {
			font-size: 30px;
			text-align: center;
			display: block;
		}

		span {
			display: block;
			text-align: center;
			font-size: 16px;
			color: $gray-1;
		}
	}

  .followIcon {
    position: absolute;
    top: 10px;
    right: 10px;

    font-family: LucidaGrande;
    font-size: 11px;
    line-height: 1.27;
    letter-spacing: 0.5px;
    text-align: center;
    color: #ffffff;
    border-radius: 11px;
    border: solid 1px #ffffff;
    padding: 4px 12px;
  }

  .isFollowing {
    background-color: white;
    color: #001d35;
  }

}

.daoListHeader {
	width: 100%;
	padding-top: 30px;
  background-color: rgba(229, 235, 242, 1.000);

	h2 {
		color: rgba(104, 155, 214, 1.000);
		display: block;
		font-size: 28px;
		font-weight: bold;
		border-bottom: 1px solid rgba(195, 212, 231, 1.000);
		padding: 0;
		margin-bottom: 0;
	}

	a {
		float: right;
		display: block;
		width: 110px;
		text-align: center;
		border: 1px solid $accent-1;
		float: right;
		color: $accent-1;
		font-size: $caption;
		padding: $button-padding;
		transition: all .25s ease;
		background-color: $accent-1-transparent;
		border-radius: $button-border-radius;
		vertical-align: middle;
	}
}

table.daoInfoContainer {
  width: 100%;
  tr > td {
    width:40%;
    border: 0;
    padding:0;
  }
  tr > td:first-child,
  tr > td:last-child {
    width:10%;
  }
}

@media only screen and (max-width: 550px) {
	.wrapper {
		width: auto;
		padding: 0;
    text-align: center;
	}

  .daoListHeader {
    padding-top: 0;
    text-align: left;

    h2 {
      margin-top: 0;
      padding: 10px 0 10px 15px;
      text-align: center;
      font-size: 18px;
    }
  }

  .daoList {
    padding-left: 20px;
    padding-right: 20px;
  }

	.dao {
		width: 100%;
		border-radius: 15px;
		margin: 0 0 20px 0;
		left: 0;
	}

	a.daoLink .daoName {
		border-radius: 0 0 0 0;
	}

	a.daoLink .daoInfo b {
		font-size: 20px;
	}

	a.daoLink .daoInfo {
		span {
			font-size: 13px;
			font-weight: normal;
			font-family: "Open Sans";
		}
	}

	a.daoLink .daoInfo {
    padding: 18px 0;
  }

	a.daoLink .daoTitle {
    padding-top: 16px;
    padding-bottom:16px;
		padding-left: 18px;
		margin: 0;
		margin-bottom: 10px;
  }

  table.daoInfoContainer {
    tr > td {
      width:45%;
    }

    tr > td:first-child,
    tr > td:last-child {
      width:10%;
    }
  }
}
