.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.createProposalWrapper {
  width: 540px;
  border-radius: 15px 15px 0 0;
  background-color: $white;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  box-shadow: $shadow-3;

  h2 {
    background-color: $navy;
    border-radius: 15px 15px 0 0;
    position: relative;
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
    color: $white;
    height: 40px;
    opacity: 1;
    font-family: $body-font;
    font-weight: $normal;

    span {
      position: relative;
      top: -13px;
      font-size: 16px;
      font-weight: normal;
      left: 13px;

      b {
        font-weight: normal;
        opacity: .5;
        font-size: 14px;
      }
    }
    .editIcon {
      display: inline-block;
      margin: 10px;
    }
  }

  form {
    padding: 0 30px 30px 30px;

    .contributionReward {
      width: 110px;
      display: inline-block;
    }

    .addReward {
      font-size: 18px;
      font-weigt: bold;
      border: 1px solid rgba(191, 203, 213, 1.000);
      height: 30px;
      text-align: center;
      width: 30px;
      color: rgba(0, 113, 255, 1.000);
    }

    .rewardRow {
      width: 100%;

      .rewardAmount {
        width: 50%;
        float: left;
      }

      .rewardRecipient {
        width: 50%;
        position: relative;
        float: left;
        top: 6px;
        position: relative;

        input {
          width: 220px;
        }
      }

      .rewardArrow {
        position: absolute;
        left: -26px;
        top: 9px;
      }
    }


    .contributionType {
      border-top: 1px solid rgba(191, 203, 213, 1.000);
      border-right: 1px solid rgba(191, 203, 213, 1.000);
      border-bottom: 1px solid rgba(191, 203, 213, 1.000);
      width: 75px;
      font-size: 14px;
      position: relative;
      height: 28px;
      display: inline-block;
      top: 9px;
    }

    .contributionTypeDropdown {
      width: 75px;
      height: 28px;
      position: absolute;
      top: 0;
      left: 0;
      border: 0;
    }

    label {
      color: $black-halftone;
      display: block;
      width: 372px;
      font-size: 12px;
      padding: 5px 0 0 0;
      position: relative;

      .infoTooltip {
        position: absolute;
        right: 0;
        display: none;
        right: -17px;
      }
    }

    textarea {
      height: 50px;
    }

    input, textarea {
      margin-top: 3px;
      margin-bottom: 20px;
      width: 460px;
      display: block;
      border: none;
      background-color: transparent;
      border: 1px solid rgba(191, 203, 213, 1.000);
      font-size: 14px;
      padding: 5px 8px;
      font-family: $body-font;
      &.error {
        border: 1px solid rgba(255, 8, 96, 1.000);
      }
      &:focus {
        outline: none;
        border: 1px solid rgba(46, 168, 122, 1.000);
      }
    }

    .errorMessage {
      position: relative;
      left: 10px;
      color: red
    }

    .errorMessage.someReward {
      display: block;
      text-align: center;
      text-transform: uppercase;
      left: 0;
      font-size: $small;
    }
    .addTransfer {
      display: block;
    }
  }

  .recommendedTemplate {
    border: 1px solid rgba(56, 175, 244, .2);
    color: rgba(34, 167, 243, 1.000);
    font-size: $small;
    border-radius: 3px;
    position: relative;
    top: 0px;
    left: 10px;
    margin-right: 10px;
    padding: 1px;
  }

  .transactionList {
    padding: 30px 0;
    .transactionListHeader {
      font-size: $body;
      font-weight: $normal;
      color: $black-halftone;
      position: relative;
      margin: 0;
      span {
        color: $black-thirdtone;
        position: absolute;
        right: 0;
        font-size: $small;
      }
    }
    table {
      font-size: $caption;
      width: 100%;
      border-top: $gray-border-halftone;
      border-spacing: 0;
      margin-top: 12px;
      color: $black-halftone;
      td {
        padding: 8px 0;
        border-spacing: 0;
        border-collapse: collapse;
        border-bottom: $gray-border-halftone;
      }
    }
    .tokenAmount {
      color: $accent-1;
      font-weight: $bold;
    }
    .userAvatar {
      height: 20px;
      position: relative;
      top: 5px;
      margin: 0 8px;
      margin-top: -6px;
    }
    .transferIcon {
      margin-left: 8px;
    }
    .transferTotals {
      text-align: right;
    }
  }
  .exitProposalCreation {
    cursor: pointer;
    height: 30px;
    display: inline-block;
    margin: 0 5px;
    font-weight: normal;
    font-size: $body;
    padding: 0 15px 2px 15px;
    font-family: $body-font;
    transition: all .25s ease;
    border: none;
    background-color: rgba(225, 235, 247, 1.000);
    border-radius: 15px;
    color: rgba(0, 113, 255, 1.000);
  }
  .submitProposal {
    height: 30px;
    border: none;
    display: inline-block;
    margin: 0 5px;
    font-weight: normal;
    font-size: $body;
    padding: 0 15px 2px 15px;
    font-family: $body-font;
    transition: all .25s ease;
    background-color: rgba(0, 113, 255, 1.000);
    border-radius: 15px;
    color: $white;

    &:hover {
      cursor: pointer;
    }

    img {
      position: relative;
      top: 4px;
      margin-right: 8px;
    }

    .loading {
      width: 18px;
      display: none;
    }
  }
  .submitProposal:disabled .loading {
    display: inline-block;
  }

  .submitProposal:disabled {
    background-color: rgba(200,200,200,.5);
    border: 1px solid rgba(200,200,200,1);
    color: rgba(75,75,75,1);
  }

  .submitProposal:disabled .sendIcon {
    display: none;
  }
  .alignCenter {
    text-align: center;
    margin-top: 30px;
  }
}
