.schemeContainer {
  padding-bottom: 150px;
  position: relative;
}

.schemeName {
  font-size: 28px;
  color: #689ad6;
  padding: 0;
  margin: 0;
  padding-bottom: 15px;
  background-color: #e5ebf2;
  padding-top: 10px;
}

.schemeMenu {
  width: 100%;
  background-color: rgba(229, 235, 242, 1);
  border-bottom: 1px solid rgba(212, 220, 228, 1);
  padding-top: 15px;
  position: relative;
  margin-bottom: 20px;

  a {
    color: rgba(0, 29, 53, 1);
    display: inline-block;
    font-size: 16px;
    transition: all 0.25s ease;
  }

  a:visited {
    color: rgba(0, 29, 53, 1);
  }

  .proposals,
  .info,
  .crx,
  .openbounty {
    border-bottom: 2px solid rgba(34, 128, 254, 0);
    /* TODO: for .crx this left/right padding may not be appropriate for all CrX rewarder contracts. */
    padding: 10px 24px;
  }

  .proposals.active,
  .info.active,
  .crx.active,
  .openbounty.active {
    border-bottom: 2px solid rgba(34, 128, 254, 1);
  }

  .proposals:hover,
  .info:hover,
  .crx:hover,
  .openbounty:hover {
    border-bottom: 2px solid rgba(34, 128, 254, 0.5);
  }
}

.schemeRedemptionContainer {
  max-width: 610px;
  margin: 80px auto;
  background-color: $white;
  border-radius: 15px;

  .fields {
    padding: 50px;
  }

  h3 {
    font-size: 28px;
    text-align: center;
    font-family: "AccordBold";
    margin-top: 0;
    margin-bottom: 50px;
  }

  b {
    font-size: 16px;
    display: block;
    margin-bottom: 20px;
  }

  label {
    font-family: "Open Sans";
    font-size: 13px;
    margin-left: 5px;
  }

  div div {
    margin-bottom: 15px;
  }

  .redemptionAddress {
    display: block;

    label {
      display: block;
      font-size: 16px;
      font-weight: bold;
      font-family: "AccordBold";
      margin-bottom: 18px;
    }

    input {
      width: 90%;
      width: -webkit-fill-available;
      border: 1px solid rgba(191, 203, 213, 1);
      padding: 10px 15px;
      color: rgba(0, 29, 53, 1);
      font-size: 13px;
    }
  }

  .redemptionButton {
    padding: 20px;
    border-top: 1px solid rgba(233, 238, 244, 1);
    text-align: right;

    button img {
      width: 15px;
    }

    button:disabled {
      background-color: rgba(200, 200, 200, 0.5);
      border: 1px solid rgba(200, 200, 200, 1);
      color: rgba(75, 75, 75, 1);
      cursor: not-allowed;
    }
  }

  button {
    background-color: rgba(0, 118, 255, 1);
    color: $white;
    font-size: 16px;
    font-weight: bold;
    font-family: "Open Sans";
    height: 40px;
    line-height: 40px;
    border: none;
    border-radius: 20px;
    padding: 0 30px;

    img {
      margin-right: 5px;
    }
  }
}

@media only screen and (max-width: 425px) {
  .schemeName {
    font-size: 18px;
    padding-left: 15px;
  }

  .schemeRedemptionContainer {
    width: 90%;
    margin: 30px auto;
    padding: 20px;
  }

  .schemeMenu {
    a {
      font-size: 12px;
    }
  }
}

:global .sticky-inner-wrapper {
  background-color: #e5ebf2 !important;
  padding-bottom: 16px;
}
