.loading {
  width: 100%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%)
}

.schemeContainer {
  padding-bottom: 150px;
  position: relative;
}

.schemeName {
  margin-top: 0;
  font-weight: bold;
  padding: 0;
  font-size: 28px;
  position: relative;
  color: rgba(104, 155, 214, 1.000);
  z-index: 0;
  border-bottom: 1px solid rgba(212,220,228,1);
  padding-bottom: 2px;
  padding-top: 10px;
  background-color: rgba(229, 235, 242, 1.000);
}

.createProposal {
  height: 30px;
  line-height: 30px;
  font-size: 13px;
  color: $white;
  background-color: rgba(3, 118, 255, 1.000);
  border-radius: 15px;
  display: block;
  position: absolute;
  z-index: 100;
  right: 0;
  top: 10px;
  padding: 0 15px;
}

.createProposal:hover {
  background-color: $accent-1;
  color: $white;
}


@media only screen and (max-width: 425px) {

  .createProposal {
    top: 5px;
    right: 15px;
  }

  .schemeName {
    font-size: 18px;
    padding-left: 15px;
  }

}