.wrapper {
  position: relative;
  display: inline-block;

  button {
    background-color: rgba(0, 118, 255, 1);
    border-radius: 10px;
    height: 20px;
    line-height: 20px;
    font-size: 11px;
    padding: 0 6px;
    color: $white;
    border: none;
    transition: all 0.25s ease;
    margin: 0;
    display: inline-block;
    overflow: hidden;
    width: 20px;
    cursor: pointer;
    outline: none;

    span {
      display: inline-block;
      padding-left: 6px;
    }
  }

  button:hover,
  &.expanded button {
    width: auto;
  }

  button.boostButton:hover,
  &.expanded button.boostButton {
    width: 67px;
  }

  button.executeButton:hover,
  &.expanded button.executeButton {
    width: 86px;
  }
}

.wrapper.detailView {
  button.boostButton:hover {
    width: auto;
  }
}

.preboostButton,
.unboostButton,
.boostButton,
.executeButton {
  position: relative;
}

.unboostButton {
  img {
    transform: rotate(180deg);
  }
}

/**
 * Container for Tooltip child for when you need the child to show a tooltip even when disabled.
 * Better would be to create a Tooltip component (like we did with TrainingTooltip) that
 * does this automatically for all Tooltips.
*/
div.tooltipWhenDisabledContainer {
  display: "inline-block";
  cursor: "not-allowed";
}

.redeemButton {
  white-space: nowrap;

  &:disabled {
    background-color: $disabled-button-background-color;
    color: $disabled-button-color;
  }

  img {
    margin-left: -1px;
    margin-right: 1px;
  }

  &.pending {
    border: 1px solid $black-tenthtone;
    color: $black-halftone;

    img {
      display: inline-block;
      height: 16px;
      position: relative;
      top: 4px;
      margin-left: 5px;
      margin-top: -6px;
    }
  }
}

.detailView button {
  width: auto;
  height: 30px;
  border-radius: 30px;
  background-color: $accent-1;
  color: $white;
  line-height: 30px;
  padding: 0 15px;
  margin-top: 0;
  margin-bottom: 15px;
  font-size: 13px;
  font-weight: bold;
}
