.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.hidden {
	display: none;
}

.invisible {
  visibility: hidden;
}

.loading {
	display: none;
	position: absolute;
	width: 80%;
	height: 70%;
	top: 15%;
	left: 15%;
	text-align: center;
	z-index: 100000;
	box-shadow: $shadow-2;
	border-radius: 3px;
	background-color: $white;

	img {
	    height: 35px;
	    top: 50%;
	    transform: translate(-50%, -50%);
	    position: absolute;
	    left: 50%;
	}
}

.proposalContainer {
  width: 100%;
}

.proposal {
  width: 100%;
	border-radius: 0 15px 15px 15px;
  background-color: transparent;
  margin-right: 20px;
	margin-top: 20px;
	margin-bottom: 0px;
	display: inline-block;
	position: relative;
	box-shadow: 0 0 15px 0 rgba(133,168,208,.15);
	overflow: hidden;
	transition: all .25s ease;
	vertical-align: top;

  .description, .url {
  	display: none;
  }
}

.detailLink img {
  margin-left: 8px;
  height: 12px;
  opacity: .5;
}

.detailView .detailLink img {
	display: none;
}

.proposal:hover {
	z-index: 10000;
	box-shadow: 0 0 2px 0 #3278CA;
	overflow: visible;
	margin-bottom: -37px;

	.proposalActions {
		height: 102px;
	}
}

.closedProposal.proposal:hover {
	height: 65px;
	top: initial;
	box-shadow: none;
}

.detailView.proposal:hover, .detailView.closedProposal.proposal:hover  {
	margin-bottom: 0;
	border: none;
	box-shadow: none;
	top: initial;
	height: auto;

	.proposalActions {
		height: auto;
	}
}

.proposal.openProposal {
	padding: 0;
}

.proposal.detailView {
	background-color:transparent;
	width: 100%;
	height: auto;
	overflow: visible;
	box-shadow: none;

	.description {
		display: block;
		margin-bottom: 30px;
	}

  .url {
    display: block;
  }
}

.proposal.detailView:hover {
	border: none;
	box-shadow: none;
	height: auto;
}

.failedProposal .proposalInfo, .passedProposal .proposalInfo {
  	left: 60px;
}

.detailView.failedProposal .proposalInfo, .detailView.passedProposal .proposalInfo {
  	left: 0;
}

button.disabled {
	cursor: not-allowed !important;
}

.redeemable {
	position: relative;
}

.voteTooltip {
	transform: translateX(25px);
}

.detailView .failButton, .detailView .passButton {
    position: relative;
    top: 1px;
}

.detailView .passButton {
    position: relative;
    top: 0px;
}

.detailView .predictions h3 {
	display: block;
	color: rgba(104, 155, 214, 1.000);
	width: 100%;
	position: absolute;
	top: 0;

	span {
		padding: 10px;
		font-size: 21px;
	}
}

.statusTitle {
	display: none;
    position: absolute;
    top: 12px;
    padding-bottom: 12px;
    border-bottom: 1px solid rgba(191, 203, 213, 1.000);
    width: 100%;
    height: 20px;
    line-height: 20px;

	h3 {
		margin: 0;
		padding: 0;
	    margin-left: 17px;
		display: inline;
		color: rgba(104, 155, 214, 1.000);
	}

	span {
		display: inline-block;
		padding-left: 10px;
		color: rgba(0, 113, 255, 1.000);
		font-size: 11px;
		margin-left: 10px;
		border-left: 1px solid rgba(233, 238, 244, 1.000);
	}
}

.detailView .statusTitle {
	display: block;
}

.detailView .voteStatus {
	z-index: 1000000;
}

.voteControls {
  width: 100%;
  text-align: center;
  position: relative;
  height: 70px;
  z-index: 100;

  .voteDivider {
    width: 50%;
    float: left;
    text-align: right;
  }
}


.historyView .voteStatus {
	display: none;
}

.historyView {
	font-size: 13px;
}

@keyframes verifying {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  50% {
    opacity: 1;
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-30px);
    opacity: 0;
  }
}

.proposal.closedProposal {
	display: block;
	width: 100%;
	margin: 0 auto 3px auto;
	border-radius: 3px;
	height: 65px;
	display: flex;

	.proposalCreator {
		width: 170px;
	}

	.endDate {
		width: 50px;
	    font-size: 13px;
	    color: rgba(154, 169, 181, 1.000);
	    padding-top: 15px;
	    text-align: center;
	}

	.title {
		flex-grow: 1;
		width: 250px;
		padding: 15px;
		font-size: 13px;
		position: relative;
		color: rgba(80, 97, 118, 1.000);

		a {
			color: rgba(80, 97, 118, 1.000);
		}

		a:visited {
			color: rgba(80, 97, 118, 1.000);
		}

		div {
			position: absolute;
			left: 15px;
			top: 50%;
			transform: translateY(-50%);
			width: 100%;
		}
	}

	.closeReason {
		width: 160px;
		position: relative;

		.decisionPassed, .decisionFailed {
			display: none;
			position: absolute;
			left: 15px;
			top: 50%;
			transform: translateY(-50%);
			font-size: 13px;
			margin-top: -3px;

			img {
			    width: 15px;
			    position: relative;
			    top: 4px;
			    margin-right: 5px;
			}
		}

		.decisionReason {
			font-size: 13px;
			color: rgba(154, 169, 181, 1.000);
			padding-top: 3px;
		}
	}

	.closeReason.decisionPassed .decisionPassed, .closeReason.decisionFailed .decisionFailed {
		display: block;
	}

	.predictions, .votes, .myActions {
		width: 100px;
		.myVote, .myStake, .passVote, .failVote, .forStake, .againstStake {
			display: none;
		}
	}

	.myActions.iVoted .myVote, .myActions.iStaked .myStake {
		display: block;
		padding-bottom: 5px;
	    text-align: left;
	}

	.myActions.forStake .forStake, .myActions.againstStake .againstStake, .myActions.passVote .passVote, .myActions.failVote .failVote {
		display: inline-block;
		margin-left: 7px;
		position: relative;
		top: 3px;
	}

	.myActions {
		font-size: 13px;
		color: rgba(80, 97, 118, 1.000);
		padding-top: 10px;
		text-align: center;
		width: 130px;
	}
}

.detailView .voteControls {
    width: 300px;
    text-align: center;
    position: relative;
    height: 140px;
    z-index: 100000;
    margin: 0 auto;
    padding-top: 70px;

	span {
		position: relative;
		width: 120px;
		text-align: left;
		margin-left: 0;
		display: block;
		font-size: 16px;
		color: rgba(0, 29, 52, 1.000);

		span {
			display: inline;
		}

		img {
			top: -10px;
			left: -32px;
			width: 18px;

		}
	}

    .voteDivider {
	    width: auto;
	    float: right;
	    text-align: left;
	    display: inline-block;
    }

    button {
    	width: auto;
    	left: -42px;

    	span {
    		margin-left: 30px;
    	}

    	img {
		    top: -16px;
		    left: 0;
		    height: 30px;
    	}
    }
}

.historyView.voteBox {
	width: auto;
	border-left: none;
	float: none;
	border-right: none;
}

.historyView .voteControls {

	.voteDivider {
		display: none;
	}

	button span {
		font-weight: normal;
		color: rgba(154, 169, 181, 1.000);
	}

	span {
		font-weight: normal;
		color: rgba(154, 169, 181, 1.000);
	}
}

.decidedProposal {
	position: relative;
	padding: 30px 20px 30px 10px;
	width: 40px;
	float: left;

	.result {
		text-align: center;
		font-size: $small;
		text-transform: uppercase;
		line-height: 11px;
		color: $black-halftone;

		img {
			margin: 15px auto;
		}
	}
}

.passedBy {
	color: $accent-1;
}

.failedBy {
	color: $accent-2;
}

.voteBox {
	position: relative;
	float: left;
	border-right: 1px solid rgba(215, 225, 237, 1.000);
	width: 50%;
}

.voteBox.unconfirmedVote {
	.loading {
		display: block;
	}
}

.cardTop {
	height: 20px;

	.timer {
		float: left;
		width: 50%;
		text-align: left;
		font-size: 12px;

		span {
			display: inline-block;
			margin: 6px 0 0 12px;
			opacity: .6;
		}
	}
}

.stateChange {
	float: left;
	width: 50%;
	text-align: right;
	font-size: 12px;
	position: absolute;
	top: 0;
	right: 0;

	button {
		background-color: rgba(0, 118, 255, 1.000);
		border-radius: 10px;
		height: 20px;
		line-height: 20px;
		padding: 0 6px;
		color: $white;
		border: none;
		transition: all .25s ease;
	    margin: 0;
	}

	.executeProposal, .boostProposal {
		display: inline-block;
		position: absolute;
		top: 10px;
		right: 10px;
	}

	.executeProposal, .boostProposal {
		width: 20px;
		overflow: hidden;

		span {
			display: inline-block;
			padding-left: 6px;
		}
	}

	.executeProposal:hover {
		width: 76px;
	}

	.boostProposal:hover {
		width: 66px;
	}
}

.detailView .proposalTitleTop .executeProposal {
	background-color: #0076ff;
    border-radius: 15px;
    height: 30px;
    line-height: 30px;
    padding: 0 15px;
    color: white;
    border: none;
    transition: all .25s ease;
    margin: 0;
    font-weight: bold;
    margin-bottom: 5px;
}

.detailView .cardTop {
	height: auto;

	.executeProposal {
		width: 76px;
	}

	.boostProposal {
		width: 66px;
	}

	.timer {
		float: none;
		width: auto;
		text-align: right;
		border-top: 1px solid rgba(200, 210, 219, 1.000);

		span {
			color: rgba(104, 155, 214, 1.000);
			font-weight: bold;
		}
	}
}

.detailView .stateChange {
	float: none;
	width: auto;
	text-align: left;
	position: relative;
}

.detailView .redeemRewards, .detailView .executeProposal {
	position: initial;
	right: auto;
	top: auto;
	height: 30px;
	border-radius: 30px;
	background-color: #0376ff;
	color: $white;
	line-height: 30px;
	padding: 0 15px;
	margin-top: 0;
	margin-bottom: 15px;

	img {
		margin-right: 5px;
	}
}


.proposalInfo {
	font-size: $body;

	.proposalPassInfo, .proposalFailInfo {
		font-size: $small;
		text-transform: uppercase;
		opacity: .7;
		float: left;
	}

	a {
		color: $black;
	}

	a.attachmentLink, a.attachmentLink:visited {
		font-size: 11px;
		color: rgba(0, 113, 255, 1.000);
		display: inline-block;
		margin-bottom: 15px;

		img {
			position: relative;
			top: 2px;
			margin-right: 5px;
		}
	}

	h3 {
		font-size: $body;
		margin: 4px 10px 10px 11px;
	}

	.closedTime {
		position: relative;
		display: block;
		font-weight: $normal;
		font-size: 11px;
		color: $black-halftone;
		margin: 6px 0 0 12px;
	}

  .help {
    display: inline-block;
    width: 24px;
    height: 24px;
    position: relative;
    margin-left: 5px;
    margin-top: -10px;
    top: 9px;

    &:hover {
      cursor: pointer;

      .helpBox {
        transform: scale(1);
        opacity: 1;
        top: 37px;
      }

      .hover {
        opacity: 1;
      }
    }

    img {
      position: absolute;
      z-index: 0;
    }

    .hover {
      position: absolute;
      z-index: 1;
      opacity: 0;
    }

    .helpBox {
      transition: all .25s ease;
      width: 230px;
      position: absolute;
      right: -100px;
      top: -144px;
      z-index: 10000;
      transform: scale(0);
      opacity: 0;

      .bg {
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0, 0.9);
        position: absolute;
        z-index: 0;
      }

      .pointer {
        width: 12px;
        position: absolute;
        top: -6px;
        right: 107px;
        height: 12px;
        transform: rotate(45deg);
        background-color: rgba(0,0,0, 0.9);
      }

      .bridge {
	    height: 30px;
	    width: 80px;
	    top: -29px;
	    position: absolute;
	    right: 72px;
      }

      .header {
        position: relative;
        z-index: 5;
        padding: 24px 10px;
        border-bottom: 3px solid #434343;
        text-align: center;

        h2 {
          margin: 0;
          font-size: 24px;
          font-family: $heading-1-font;
          color: $white;
        }

        h3 {
          margin: 0;
          font-family: $body-font;
          color: $white;
          font-size: 11px;
          font-weight: normal;
        }
      }

      .body {
        position: relative;
        z-index: 5;
        padding: 24px;

        p {
          font-size: 11px;
          color: $white;
          padding: 0 0 14px 0;
          margin: 0;
        }
      }

      a {
        display: block;
        margin: 0 24px 24px 24px;
        border: 1px solid #fff;
        color: $white;
        text-align: center;
        padding: 12px;
        opacity: .9;
      }

    }
  }
}

.proposal.detailView {
	display: flex;
	justify-content: center;
}

.proposalActions {
	position: relative;
	transition: all .25s ease;
	margin-top: 15px;
	border-top: 1px solid rgba(215, 225, 237, 1.000);
	height: 65px;
	overflow: hidden;
}

.proposalTitleTop {
	display: none;
}

.detailView .proposalTitleTop {
	display: block;
	color: rgba(104, 155, 214, 1.000);
	font-size: 28px;
	margin: 0 0 15px 0;

	a {
		color: rgba(104, 155, 214, 1.000);
	}
}

.detailView .proposalTitleBottom {
	display: none;
}

.detailView .proposalInfo {
	flex-grow: 2;
	padding-right: 25px;
	position: relative;
}

.detailView .proposalActions {
	flex-grow: 1;
	min-width: 350px;
	padding-left: 0;
	border-top: none;
	height: auto;
	overflow: visible;
}

.detailView .voteBox {
	float: none;
	width: auto;
	background-color: $white;
	border-radius: 0 15px 15px 15px;
	margin: 0 0 20px 20px;

}

.proposalLabel {
	position: absolute;
	top: -26px;
	font-size: 12px;
	font-weight: normal;
	color: rgba(115, 160, 216, 1.000);
	background-color: $white;
	padding: 5px;
}

.voteLabel {
	left: 15px;
}

.predictionLabel {
	left: 175px;
}

@keyframes pendingPassPrediction {
	0% {
		border: 1px solid $black-tenthtone;
	}
	50% {

		border: 1px solid $accent-1;
	}
	100% {
		border: 1px solid $black-tenthtone;
	}
}
@keyframes pendingFailPrediction {
	0% {
		border: 1px solid $black-tenthtone;
	}
	50% {

		border: 1px solid $accent-2;
	}
	100% {
		border: 1px solid $black-tenthtone;
	}
}

.proposalDetails {
	position: absolute;
	right: 160px;
	height: 100%;
}

.createdBy {
	font-size: $small;
	color: $black-thirdtone;
	margin-top: 16px;

	.targetAccount {
		top: 7px;
		left: 4px;

		img {
			width: 16px;
			height: 16px;
		}
	}
}

.detailView .createdBy {
	margin: 30px 0;
}

a.viewProposal {
	color: rgba(174, 174, 174, 1.000);
	background-color: transparent;
	font-size: $caption;
}

.proposalsContainer .proposal {
	border: 1px solid red;
}

.discussionTitle {
  font-size: 28px;
  color: rgba(104, 155, 214, 1.000);
  width: 100%;
  border-bottom: 1px solid rgba(191, 203, 213, 1.000);
  padding-bottom: 5px;
  margin-bottom: 20px;
}
