.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.loading {
	display: none;
	position: absolute;
	width: 80%;
	height: 80%;
	top: 10%;
	left: 10%;
	text-align: center;
	z-index: 100000;
	box-shadow: $shadow-3;
	border-radius: 3px;
	background-color: $white;

	img {
		height: 68px;
	}
}

.proposalContainer {
  max-width: $max-width;
  background-color: $white;
}

.proposal {
	position: relative;
	border-bottom: $proposal-item-border-bottom;
}

.proposal:hover {
	z-index: 100000;
}

.openProposal {
	border-left: 4px solid rgba(255,255,255, 0);
}

.failedProposal {
  border-left: 4px solid $accent-2;

  .proposalInfo {
  	left: 117px;
  }
}

.passedProposal {
	border-left: 4px solid $accent-1;

	.proposalInfo {
	  	left: 105px;
	}
}

.unconfirmedProposal {
	opacity: .5;
}

.disabled {
	pointer-events: none;
	opacity: 0.5;
}

.voteControls {
	float: left;
	width: 30px;
	margin-right: 9px;
	margin-left: 9px;
	text-align: center;
	position: relative;

	button {
		position: relative;
		border: none;
		width: 24px;
		height: 24px;
		background-color: transparent;
		outline: none;

		img {
			position: absolute;
			margin: 0;
			padding: 0;
			left: 3px;
			top: 3px;
			transition: all .25s ease;
		}

	}

	button:nth-child(1) {
		top: 0px;
	}

	button:nth-child(3) {
		top: 9px;
	}

	.upvote, .downvote {
		opacity: 1;
		z-index: 0;
	}

	.upvote.upvoted, .downvote.downvoted {
		opacity: 0;
		z-index: 100;
	}

	button:hover .upvote, button:hover .downvote, button.voted .upvote, button.voted .downvote {
		opacity: 0;
	}

	button:hover .upvote.upvoted, button:hover .downvote.downvoted, button.voted .upvote.upvoted, button.voted .downvote.downvoted {
		opacity: 1;
		cursor: pointer;
		height: 18px;
		top: 2px;
		left: 2px;
		opacity: 0.5;
	}

	.voteDivider {
		width: 4px;
		height: 4px;
		position: absolute;
		left: 13px;
		top: 14px;
	}
}

.reputationTurnout {
	background-color: $white;
	box-shadow: $shadow-3;
	position: absolute;
	width: 260px;
	left: -100px;
	border-radius: 3px;
	top: 50%;
	opacity: 0;
	transform: translateY(-50%) scale(0);
	transition: all .25s ease;


	.header {
		background-image: linear-gradient(-124deg, #3DCEF9 0%, #1EA2F2 100%);
		color: $white;
		font-size: $small;
		padding: 12px;
		text-align: center;
		border-radius: 3px 3px 0 0;
	}

	.tooltipPointer {
		position: absolute;
		top: 50%;
		transform: translateY(-50%) rotate(45deg);
		left: -15px;
	}

	.turnoutInfo {
		padding: 15px;

		.description {
			font-size: $caption;
			text-align: center;
			display: block;
			margin-bottom: 15px;
		}

		.turnoutGraph {
			position: relative;

			.turnoutStats {
				width: 100%;
				font-size: $small;
				height: 16px;

				.forLabel {
					color: $accent-1;
					font-weight: $bold;

					span {
						font-weight: $normal;
					}
				}

				.againstLabel {
					color: $accent-2;
					float: right;
					font-weight: $bold;

					span {
						font-weight: $normal;
					}
				}
			}


			.reputationThreshold {
				font-size: $small;
				font-weight: $bold;
				margin-top: 30px;
				opacity: .5;
				text-align: center;
			}
		}
	}
}



.graph {
	background-color: rgba(235, 235, 235, 1.000);
	box-shadow: inset 0 0 8px 0 rgba(0,0,0,0.10);
	border-radius: 3px;
	height: 10px;
	position: relative;

	.forBar {
		background-color: $accent-1;
		height: 10px;
		border-radius: 3px 0 0 3px;
	}

	.againstBar {
		background-color: $accent-2;
		height: 10px;
		position: absolute;
		right: 0;
		top: 0;
		border-radius: 0 3px 3px 0;
	}

	.divider {
		height: 24px;
		width: 1px;
		border-left: 1px dashed rgba(151, 151, 151, .5);
		position: absolute;
		left: 50%;
		top: -7px;
	}
}

.decidedProposal {
	position: relative;
	padding: 20px 20px 20px 10px;
	width: 80px;
	float: left;

	.result {
		text-align: center;
		font-size: $small;
		text-transform: uppercase;
		line-height: 11px;
		color: $black-halftone;

		img {
			margin: 15px auto;
		}
	}
}

.voteBox {
	position: relative;
	float: left;
	padding: 20px 0 14px 0;
}

.voteBox.unconfirmedVote {
	.loading { display: block; }
}

.proposalInfo {
	left: 130px;
	top: 50%;
	font-size: $body;
	transform: translateY(-50%);
	position: absolute;

	a {
		color: $black;
	}

	h3 {
		font-size: $body;
		margin: 0 0 8px 0;

		span {
			position: relative;
			display: block;
			font-weight: $normal;
			font-size: $small;
			color: $black-halftone;
			margin: 0 0 6px 0;
		}
	}
}

.passedProposal .proposalInfo h3, .failedProposal .proposalInfo h3 {
	margin: 12px 0px 10px 0px;
}

.decisionGraph {
	margin-top: -4px;

	.forLabel {
		color: $accent-1;
		font-weight: $bold;
		font-size: $caption;
	}

	.againstLabel {
		font-size: $caption;
		color: $accent-2;
		font-weight: $bold;
	}
}

.transferAmount {
	font-weight: $bold;
	color: $accent-1;
	margin: 0 6px;
}

.transferType {
	display: inline-block;
	color: $black-halftone;
}

.decisionGraph .graph {
	width: 200px;
	display: inline-block;
	margin: 0 8px;
}

.voteGraphs:hover .reputationTurnout {
	opacity: 1;
	left: 80px;
	z-index: 1000000;
	transform: translateY(-50%) scale(1);
}


.transferDetails {
	position: relative;
	font-size: $body;
}

.voteGraphs {
	width: 67px;
	float: left;
	position: relative;

	.voteGraph {
		width: 20px;
		background-color: rgba(239, 239, 239, 1.000);
		position: relative;
		border-radius: 3px;
		display: inline-block;
		margin-left: 6px;
		height: 56px;

		.dividing-line {
			height: 50%;
			border-bottom: 1px dashed $black-tenthtone;
		}
	}

	.voteGraph .voteMeasurement {
		width: 20px;
		position: absolute;
		border-radius: 0 0 3px 3px;
		bottom: 0;
	}

	.voteGraph.upvoteGraph .voteMeasurement {
		background-color: $accent-1;
	}

	.voteGraph.downvoteGraph .voteMeasurement {
		background-color: $accent-2;
	}
}

.predictions {
	position: absolute;
	right: 0;
	font-size: $caption;
	background-image: linear-gradient(90deg, #EEEEEE 2%, #FCFCFC 16%, #FFFFFF 98%);	height: 100%;
	width: 140px;

	div {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	span {
		font-size: $small;
		text-align: center;
		display: block;
		color: $black-thirdtone;
	}

	button {
		font-weight: $bold;
		background-color: transparent;
		border-radius: 3px;
		padding: 3px 6px 4px 6px;
		transition: all .25s ease;
	}

	button:hover {
		cursor: pointer;
	}

	table {
		text-align: left;
		font-weight: $bold;
		width: 140px;

		.predicted {
			font-style: italic;
		}

		.passPrediction {
			text-align: right;
			color: $accent-1-halftone;

			button {
				border: 1px solid $accent-1-halftone;
				color: $accent-1;
			}
		}

		.failPrediction {
			color: $accent-2-halftone;
			text-align: right;

			button {
				color: $accent-2;
				border: 1px solid $accent-2-halftone;
			}
		}
	}
}

.predictions.unconfirmedPrediction {
	.loading { display: block; }
}

.proposalDetails {
	position: absolute;
	right: 160px;
	top: 11px;
}

.createdBy {
	font-size: $small;
	color: $black-thirdtone;

	.targetAccount {
		top: 7px;
		left: 4px;

		img {
			width: 16px;
			height: 16px;
		}
	}
}

.viewProposal {
	border: $gray-border-halftone;
	border-radius: 3px;
	background-color: transparent;
	padding: 8px 6px 6px 8px;
	position: absolute;
	right: 0;
	top: 31px;
}


.proposalsContainer .proposal {
	border: 1px solid red;
}

.proposalDetails.concludedDecisionDetails {
	right: 15px;
	top: 0;
}

.newPrediction {
	display: none;
	background-color: $white;
	box-shadow: $shadow-3;
	border-radius: 3px;
	position: absolute;
	top: -5px;
	left: -5px;
	width: 100%;
	height: 100%;
	z-index: 10000;
	padding: 10px;


	.newPredictionTitle {
		font-size: $caption;
		text-align: center;
		color: $black;
		padding-bottom: 6px;
		position: relative;
		top: auto;
		left: auto;
		transform: none;
	}

	.predictionAmount {
		border: 1px solid rgba(199, 208, 212, 1.000);
		padding: 6px 25px 6px 8px;
		border-radius: 3px;
		width: 90px;
		margin: 4px auto;
		display: block;
	}

	.genLabel {
		position: absolute;
		top: 43px;
		right: 25px;
	}

	.cancelPrediction {
		margin: 0 2px 0 8px;
		border: 1px solid rgba(199, 208, 212, 1.000);
		float: left;
		display: inline;
		padding: 8px 8px 6px 8px;
	}

	.placePrediction {
		padding: 8px 10px;
		border: 1px solid $accent-1;
		color: $accent-1;
	}

	.clearfix {
		margin-top: 7px;
		position: relative;
		top: auto;
		left: auto;
		width: 100%;
		text-align: center;
		transform: none;
	}
}

.newPassPrediction {
	display: block;

	div strong {
		color: $accent-1;
	}
}

.newFailPrediction {
	display: block;

	div strong {
		color: $accent-2;
	}
}


/****** View Proposal Page ******/
.viewProposalWrapper {
	width: 100%;
}

.singleProposal {
	width: 100%;
	position: relative;
	margin-top: 30px;
	background-color: $white;
}