.wrapper {
  position: relative;
  display: inline-block;
}

.boosted, .passed {
  color: $accent-3;
}

.pending, .regular, .expired {
  color: #bfcbd5;
}

.failed {
  color: $accent-2;
}

.status {
  height: 30px;
  border-radius: 3px;
  background-color: transparent;
  border: $gray-border-2;
  line-height: 30px;
  padding: 0 15px;
  margin-top: 0;
  margin-bottom: 15px;
  font-size: 13px;
  font-weight: $bold;
  color: $gray-1;
  // to be consisent with the Action button
  font-family: "Arial";

  img {
    margin-right: 8px;
  }
}
