button.disabled {
  cursor: not-allowed !important;
}

.loading {
  display: none;
  position: absolute;
  width: 80%;
  height: 70%;
  top: 15%;
  left: 15%;
  text-align: center;
  z-index: 100000;
  box-shadow: $shadow-2;
  border-radius: 3px;
  background-color: $white;

  img {
    height: 35px;
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    left: 50%;
  }
}

.wrapper {
  width: 100%;
  max-width: 1440px;
}

.clickable {
  cursor: pointer;
}

.proposal {
  border-radius: 0 15px 15px 15px;
  background-color: transparent;
  margin-right: 20px;
  margin-bottom: 0px;
  display: flex;
  position: relative;
  transition: all 0.25s ease;
  vertical-align: top;
  height: auto;
  overflow: visible;
  justify-content: center;
  width: 100%;
}

.proposalInfo {
  font-size: $body;
  flex-grow: 2;
  padding-right: 25px;
  position: relative;

  .actionButtonContainer {
    display: inline-block;
    margin-right: 16px;
  }

  .gotoCompetition {
    display: inline-block;

    &.hidden {
      display: none;
    }
    a {
      white-space: nowrap;
      color: #0071ff;
    }
  }

  a {
    color: $black;
  }

  a.attachmentLink,
  a.attachmentLink:visited {
    font-size: 11px;
    color: rgba(0, 113, 255, 1);
    display: inline-block;
    margin-bottom: 15px;

    img {
      position: relative;
      top: 2px;
      margin-right: 5px;
    }
  }

  h3 {
    font-size: 28px;
    margin: 4px 10px 10px 0px;
  }

  .closedTime {
    position: relative;
    display: block;
    font-weight: $normal;
    font-size: 11px;
    color: $black-halftone;
    margin: 6px 0 0 12px;
  }
}

.statusContainer {
  margin-right: 16px;
  display: inline-block;
}

.description {
  margin-bottom: 30px;
  white-space: pre-wrap;
  word-break: break-word;

  img {
    max-width: 100%;
  }

  a {
    color: #0071ff;
  }
}

.votes {
  position: relative;
  background-color: $white;
  border-right: 1px solid rgba(215, 225, 237, 1);
  border-radius: 15px;
  margin: 0 0 20px 20px;

  .voteStatus {
    height: 140px;
    padding-top: 22px;

    .voteGraph {
      float: right;
      text-align: left;
      display: inline-block;
      right: 40px;
      top: 12px;
      position: relative;
    }
  }
}

.predictions {
  padding-bottom: 12px;
  line-height: 20px;
  position: relative;
  background-color: white;
  border-right: 1px solid #d7e1ed;
  border-radius: 15px;
  margin: 0 0 20px 20px;

  .predictionStatus {
    padding-top: 8px;
  }
}

.votes,
.predictions {
  .header {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: $gray-border-2;
    padding-top: 12px;
    padding-bottom: 8px;
    line-height: 20px;

    .title {
      font-weight: 300;
      font-size: 1.17em;
      // margin: 0;
      // padding: 0;
      padding-left: 17px;
      color: $title-color;
    }

    .voters {
      padding-left: 10px;
      color: rgba(0, 113, 255, 1);
      font-size: 11px;
      margin-left: 10px;
      border-left: 1px solid rgba(233, 238, 244, 1);
      white-space: nowrap;
    }

    .voteButtons,
    .stakeButtons {
      flex-grow: 2;
      text-align: right;
      padding-right: 13px;
    }
  }
}

.timer {
  height: 20px;
  text-align: right;
  font-size: 12px;
  border-top: 1px solid rgba(200, 210, 219, 1);

  .content {
    display: inline-block;
    margin: 6px 0 0 12px;
    opacity: 0.6;
    color: $title-color;
    font-weight: bold;
  }
}

.proposalTitleTop {
  display: block;
  color: $title-color;
  font-size: 28px;
  margin: 0 0 15px 0;

  a {
    color: $title-color;
  }
}

.proposalActions {
  position: relative;
  transition: all 0.25s ease;
  margin-top: 15px;
  flex-grow: 1;
  min-width: 320px;
  max-width: 40%;
}

.createdBy {
  font-size: $small;
  color: $black-thirdtone;
  margin: 30px 0;
}

.discussionTitle {
  font-size: 28px;
  color: $title-color;
  width: 100%;
  border-bottom: $gray-border-2;
  padding-bottom: 5px;
  margin-bottom: 20px;
}

.proposalSummaryContainer {
  &.hasTags {
    margin-bottom: 18px;
  }
}

.tagsContainer {
  padding-bottom: 0;
}

.buttonBar {
  position: relative;
  top: 20px;
  display: flex;

  .voteButtonsBottom {
    display: inline-block;
    margin-right: 6px;
    white-space: nowrap;

    .voteLabel {
      display: inline-block;
      margin-right: 5px;
      font-size: 16px;
      font-weight: bold;
    }

    .altVoteButtons {
      display: inline-block;
      margin-bottom: 8px;
    }
  }

  button.shareButton {
    height: 30px;
    background-color: #0071ff;
    padding: 0 15px;
    border-radius: 30px;
    border-width: 1px;
    display: inline-block;
    outline: none;
    margin-bottom: 12px;
    font-weight: bold;
    font-size: 13px;
    color: white;
    border: none;

    img {
      margin-right: 6px;
      position: relative;
      top: 2px;
      height: 14px;
    }
  }

  .followButton {
    margin-left: 7px;
    display: inline-block;
  }
}

@media only screen and (max-width: 425px) {
  .proposal {
    display: block;
  }

  .proposalInfo {
    padding: 15px;
    padding-right: 15px;

    h3 {
      font-size: 16px;
    }
  }

  .votes {
    margin: 0 0 0 0;
    border-radius: 0;
  }

  .predictions {
    margin: 0 0 20px 0;
    border-radius: 0;
  }

  .discussionTitle {
    padding: 5px 15px;
    width: auto;
  }

  .proposalActions {
    min-width: auto;
    max-width: inherit;
  }

  .disqus {
    padding: 15px;
  }

  .voteButtonsBottom {
    display: none;
  }
}
