.row {
  background-color: $white;
  border-bottom: 1px solid $gray-2;
  height: 60px;
  cursor: pointer;
  &:hover {
    opacity: 0.8;
  }
  td {
    padding: 10px;
  }

  .titleWrapper {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    text-overflow: ellipsis;
    height: inherit;
    justify-content: center;
    .title {
      font-size: $subheader;
    }
    .tagsWrapper {
      display: flex;
      margin-top: 5px;
      .tag {
        font-size: $body;
        background-color: $gray-2;
        border-radius: 20px;
        width: fit-content;
        padding: 5px 10px;
        margin: 0px 5px;
        &:first-child {
          margin-left: 0;
        }
      }
    }
  }

  .boostedWrapper {
    display: flex;
    align-items: center;
    .boostedLabel {
      margin-left: 5px;
    }
  }

  .statusWrapper {
    .statusLabel {
      background-color: $gray-1;
      text-align: center;
      border-radius: 20px;
      padding: 5px 0px;
      color: $white;
      &.passing {
        background-color: $accent-3;
      }
      &.failing {
        background-color: $accent-2;
      }
    }
    .statusTime {
      text-align: center;
    }
  }


  &:last-child {
    border-bottom: none;
  }
}

