.hidden {
	display: none;
}

.invisible {
  visibility: hidden;
}

.loading {
	display: none;
	position: absolute;
	width: 80%;
	height: 70%;
	top: 15%;
	left: 15%;
	text-align: center;
	z-index: 100000;
	box-shadow: $shadow-2;
	border-radius: 3px;
	background-color: $white;

	img {
	    height: 35px;
	    top: 50%;
	    transform: translate(-50%, -50%);
	    position: absolute;
	    left: 50%;
	}
}

.proposalContainer {
  max-width: $max-width;
  background-color: $white;
}

.proposal {
	width: 315px;
	border-radius: 0 15px 15px 15px;
	background-color: $white;
	margin-right: 20px;
	margin-top: 20px;
	margin-bottom: 0px;
	display: inline-block;
	position: relative;
	box-shadow: 0 0 15px 0 rgba(133,168,208,.15);
	overflow: hidden;
	transition: all .25s ease;
	vertical-align: top;

  .description, .url {
  	display: none;
  }
}

.proposalInfo {
	font-size: $body;

	a {
		color: $black;
	}

	h3 {
		font-size: $body;
		margin: 4px 10px 10px 11px;
	}

	.closedTime {
		position: relative;
		display: block;
		font-weight: $normal;
		font-size: 11px;
		color: $black-halftone;
		margin: 6px 0 0 12px;
	}
}

.detailLink img {
  margin-left: 8px;
  height: 12px;
  opacity: .5;
}

.proposal:hover {
	z-index: 10000;
	box-shadow: 0 0 2px 0 #3278CA;
	overflow: visible;
	margin-bottom: -37px;

	.proposalActions {
		height: 120px;
	}
}

.failedProposal .proposalInfo, .passedProposal .proposalInfo {
	left: 60px;
}

.voteButtons {
	padding-top: 13px;
}

.statusTitle {
	display: none;
  position: absolute;
  top: 12px;
  padding-bottom: 12px;
  border-bottom: 1px solid rgba(191, 203, 213, 1.000);
  width: 100%;
  height: 20px;
  line-height: 20px;

	h3 {
		margin: 0;
		padding: 0;
	    margin-left: 17px;
		display: inline;
		color: rgba(104, 155, 214, 1.000);
	}

	span {
		display: inline-block;
		padding-left: 10px;
		color: rgba(0, 113, 255, 1.000);
		font-size: 11px;
		margin-left: 10px;
		border-left: 1px solid rgba(233, 238, 244, 1.000);
	}
}

.voteControls {
  width: 100%;
  text-align: center;
  position: relative;
  height: 70px;
  z-index: 100;

  .voteDivider {
    width: 40%;
    float: left;
    text-align: right;
  }
}

.voteBox {
	position: relative;
	float: left;
	border-right: 1px solid rgba(215, 225, 237, 1.000);
	width: 50%;
}

.voteBox.unconfirmedVote {
	.loading {
		display: block;
	}
}

.cardTop {
	height: 20px;

	.timer {
		float: left;
		width: 50%;
		text-align: left;
		font-size: 12px;

		span {
			display: inline-block;
			margin: 6px 0 0 12px;
			opacity: .6;
		}
	}
}

.stateChange {
	float: left;
	width: 50%;
	text-align: right;
	font-size: 12px;
	position: absolute;
	top: 0;
	right: 0;

	button {
		background-color: rgba(0, 118, 255, 1.000);
		border-radius: 10px;
		height: 20px;
		line-height: 20px;
		padding: 0 6px;
		color: $white;
		border: none;
		transition: all .25s ease;
	    margin: 0;
	}

	.executeProposal, .boostProposal {
		display: inline-block;
		position: absolute;
		top: 10px;
		right: 10px;
	}

	.executeProposal, .boostProposal {
		width: 20px;
		overflow: hidden;

		span {
			display: inline-block;
			padding-left: 6px;
		}
	}

	.executeProposal:hover {
		width: 76px;
	}

	.boostProposal:hover {
		width: 66px;
	}
}

.proposalActions {
	position: relative;
	transition: all .25s ease;
	margin-top: 15px;
	border-top: 1px solid rgba(215, 225, 237, 1.000);
	height: 63px;
	overflow: hidden;
}

.proposalLabel {
	position: absolute;
	top: -26px;
	font-size: 12px;
	font-weight: normal;
	color: rgba(115, 160, 216, 1.000);
	background-color: $white;
	padding: 5px;
}

.predictions {
	position: relative;
}

.createdBy {
	font-size: $small;
	color: $black-thirdtone;
	margin-top: 16px;

	.targetAccount {
		top: 7px;
		left: 4px;

		img {
			width: 16px;
			height: 16px;
		}
	}
}

.proposalsContainer .proposal {
	border: 1px solid red;
}

:global .disqus-comment-count {
	font-size: 12px;
	top: 35px;
	position: relative;
}
