.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.hidden {
	display: none;
}

.loading {
	display: none;
	position: absolute;
	width: 80%;
	height: 70%;
	top: 15%;
	left: 15%;
	text-align: center;
	z-index: 100000;
	box-shadow: $shadow-2;
	border-radius: 3px;
	background-color: $white;

	img {
	    height: 35px;
	    top: 50%;
	    transform: translate(-50%, -50%);
	    position: absolute;
	    left: 50%;
	}
}

.proposalContainer {
  max-width: $max-width;
  background-color: $white;
}

.proposal {
	width: 315px;
	border-radius: 0 15px 15px 15px;
	background-color: $white;
	margin-right: 20px;
	margin-top: 20px;
	margin-bottom: 0px;
	display: inline-block;
    height: 185px;
	box-shadow: 0 0 15px 0 rgba(133,168,208,.15);
    overflow: hidden;
    transition: all .25s ease;

    .predictions .boostedAmount, .predictions .centered {
    	opacity: 0;
    	transition: all .25s ease;
    }

    .description {
    	display: none;
    }
}

.proposal:hover {
	z-index: 1000;
	box-shadow: 0 0 2px 0 #3278CA;
	height: 225px;
	margin-bottom: -40px;

    .predictions .boostedAmount, .predictions .centered {
    	opacity: 1;
    }
}

.detailView.proposal:hover  {
	margin-bottom: 0;
}

.proposal.openProposal {
	padding: 0;
}

.proposal.detailView {
	background-color:transparent;
	width: 100%;
	height: auto;
	overflow: visible;
	box-shadow: none;

	.predictions .boostedAmount, .predictions .centered {
		opacity: 1;
	}

	.description {
		display: block;
		margin-bottom: 30px;
	}
}

.proposal.detailView:hover {
	border: none;
	box-shadow: none;
	height: auto;
}

.failedProposal {

  .proposalInfo {
  	left: 60px;
  }
}

.passedProposal {

	.proposalInfo {
	  	left: 60px;
	}
}

button.disabled {
	cursor: not-allowed !important;
}

.redeemable {
	position: relative;
}

.voteTooltip {
	transform: translateX(25px);
}

.voteRecord, .castVote, .castVoteFor, .castVoteAgainst {
	display: none;
}

.castVote button {
	font-weight: $bold;
	color: rgba(3, 118, 255, 1.000);
	background-color: rgba(225, 235, 247, 1.000);
	height: 25px;
	line-height: 25px;
	transition: all .25s ease;
	position: relative;
	border: 0;
	margin: 0 1px;
	display: inline-block;
	width: 75px;
	opacity: 0;
	transition: all .25s ease;
	padding: 0 5px;
	font-size: 11px;

	img {
		margin-right: 4px;
	}

	span {
		display: inline-block;
		position: relative;
		top: -2px;
	}
}

.detailView .castVote button {
	opacity: 1;
}


.proposal:hover .castVote button {
	opacity: 1;
}

.castVote button:nth-child(1) {
	border-radius: 10px 0 0 10px;
	width: 60px;

	img {
		position: relative;
		top: 5px;
	}
}

.castVote button:nth-child(2) {
	border-radius: 0 10px 10px 0;

	img {
		position: relative;
		top: 2px;
	}
}

.voteRecord {
	margin: 10px;
    border: 1px solid #bfcbd5;
    border-radius: 3px;
    height: 23px;
    line-height: 23px;
    padding: 0 15px;
    font-size: 11px;
    margin-top: -4px;
    text-align: center;

	.castVoteFor {
		color: rgba(0, 190, 144, 1.000);
	}

	.castVoteAgainst {
		color: rgba(246, 80, 80, 1.000);
	}
}

.voteStatus.hasVoted {

	.voteRecord {
		display: block;
	}

}

.voteStatus.hasNotVoted {
	
	.castVote {
		display: block;
	    margin: -4px auto 15px auto;
	    text-align: center;
	}
}

.voteStatus.votedFor .castVoteFor, .voteStatus.votedAgainst .castVoteAgainst {
	display: inline;
}

.voteControls {
	width: 100%;
	text-align: center;
	position: relative;
	height: 70px;
	z-index: 100;

	.voteButtons {
		float: left;
		width: 50%;
		text-align: left;
		margin-top: 8px;
	}

	button {
		border: none;
		position: relative;
		width: 30px;
		height: 24px;
		background-color: transparent;
		outline: none;
		margin-left: 5px;

		span { 
			display: block;
			margin-left: 20px;
			font-size: 13px;
		}

		img {
			position: absolute;
			top: 0;
			left: 0;
		}
	}

	.voteUp {
		position: relative;
		display: block;
	}

	.voteDown {
		position: relative;
		display: block;
	}

	button:hover:not(.disabled) .downvote.downvoted {
	    height: 18px;
	    opacity: 1;
	}

	.voteGraphs {
		display: inline-block;
	}

	.upvote, .downvote {
		opacity: 1;
		z-index: 0;
	}

	.downvotePending .downvotePendingIcon {
		opacity: 1;
	}

	.upvotePending .upvotePendingIcon {
		opacity: 1;
	}

	.downvotePendingIcon, .upvotePendingIcon {
	    left: 0;
	    opacity: 0;
		display: none;
		width: 28px;
	    height: 15px;
	}

	.downvotePendingIcon {
	    top: 2px;
	}

	.upvotePendingIcon {
		top: 3px;
	}

	.upvote.upvoted, .downvote.downvoted {
		opacity: 0;
		z-index: 100;
	}

	button:hover:not(.disabled) {
		cursor: pointer;
	}

	button:hover:not(.disabled) .upvote, button:hover:not(.disabled) .downvote, button.voted .upvote, button.voted .downvote, .upvotePending .upvote, .downvotePending .downvote {
		opacity: 0;
	}

	button.voted .downvote.downvoted {
		height: 18px;
		top: 2px;
		left: 0px;
		opacity: 1;
	}

	 button.voted .upvote.upvoted, button:hover:not(.disabled) .upvote.upvoted {
		height: 18px;
		top: 2px;
		left: 2px;
		opacity: 1;
	 }

	.voteDivider {
		width: 50%;
		float: left;
		text-align: right;
	}
}

@keyframes verifying {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  50% {
    opacity: 1;
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-30px);
    opacity: 0;
  }
}

.verifyMask {
    transform: translateY(30px);
    opacity: 0;
    animation: verifying 1s linear infinite;
}


.voteStatus {
	display: block;
	position: relative;
	z-index: 0;
}

.stakes {
    position: absolute;
    top: 13px;
    font-size: 12px;
    width: 83%;
    left: 50%;
    transform: translate(-50%,0);

	
	img {
	    position: relative;
	    top: 3px;
	    margin-right: 5px;
	}

	.stakesFor, .forBar, .stakesAgainst, .againstBar {
		float: left;
	}

	.forBar, .againstBar {
		height: 18px;

		b {
			font-weight: normal;
			font-size: 10px;
			display: inline-block;
			margin-left: 5px;
		}

		span {
			display: block;
			position: absolute;
			width: 100%;
			bottom: 0;
			margin-left: 5px;
			height: 2px;
			background-color: rgba(208, 214, 220, 1.000);
		}
	}

	.forBar {
		position: relative;
		width: 55%;
	}

	.againstBar {
		width: 25%;
		position: relative;
	}
}

.reputationTurnout {
	background-color: $white;
	box-shadow: $shadow-3;
	position: absolute;
	width: 260px;
	left: -100px;
	border-radius: 3px;
	top: -70px;
	opacity: 0;
	transform: translateY(-50%) scale(0);
	transition: all .25s ease;


	.header {
		color: $black;
		font-size: $body;
		padding: 12px 12px 0 12px;
		text-align: center;
		border-radius: 3px 3px 0 0;
		font-weight: bold;
	}

	.tooltipPointer {
	    position: absolute;
	    bottom: -31px;
	    transform: translateY(-50%) rotate(45deg);
	    left: 12px;
	}

	.turnoutInfo {
		padding: 15px;

		.description {
			font-size: $caption;
			text-align: center;
			display: block;
			margin-bottom: 15px;
		}

		.turnoutGraph {
			position: relative;

			.turnoutStats {
				width: 100%;
				font-size: $small;
				height: 16px;

				.forLabel {
					color: $accent-1;
					font-weight: $bold;
					float: left;
					text-transform: uppercase;
				}

				.againstLabel {
					color: $accent-2;
					float: right;
					font-weight: $bold;

					text-transform: uppercase;
				}
			}


			.reputationThreshold {
				font-size: $small;
				font-weight: $bold;
				margin-top: 15px;
				opacity: .5;
				text-align: center;
				text-transform: uppercase;
			}
		}
	}
}



.graph {
	background-color: rgba(235, 235, 235, 1.000);
	box-shadow: inset 0 0 8px 0 rgba(0,0,0,0.10);
	height: 8px;
	position: relative;

	.forBar {
		background-color: $accent-1;
		height: 8px;
		border-radius: 3px 0 0 3px;
	}

	.againstBar {
		background-color: $accent-2;
		height: 8px;
		position: absolute;
		right: 0;
		top: 0;
		border-radius: 0 3px 3px 0;
	}

	.divider {
		height: 8px;
	    width: 1px;
	    border-left: 1px dotted rgba(151, 151, 151, 0.5);
	    position: absolute;
	    left: 50%;
	    top: 0;
	}
}

.decidedProposal {
	position: relative;
	padding: 30px 20px 30px 10px;
	width: 40px;
	float: left;

	.result {
		text-align: center;
		font-size: $small;
		text-transform: uppercase;
		line-height: 11px;
		color: $black-halftone;

		img {
			margin: 15px auto;
		}
	}
}

.passedBy {
	color: $accent-1;
}

.failedBy {
	color: $accent-2;
}

.voteBox {
	position: relative;
	float: left;
	border-right: 1px solid rgba(215, 225, 237, 1.000);
	width: 50%;
}

.voteBox.unconfirmedVote {
	.loading {
		display: block;
	}
}

.cardTop {
	height: 20px;

	.timer {
		float: left;
		width: 50%;
		text-align: left;
		font-size: 12px;

		span {
			display: inline-block;
			margin: 6px 0 0 12px;
			opacity: .6;
		}
	}
}

.stateChange {
	float: left;
	width: 50%;
	text-align: right;
	font-size: 12px;

	button {
		background-color: rgba(0, 118, 255, 1.000);
		border-radius: 10px;
		height: 20px;
		line-height: 20px;
		padding: 0 6px;
		color: $white;
		border: none;
		transition: all .25s ease;
	    margin: 10px 10px 5px 0px;
		display: none;
	}

	.executeProposal {
		display: inline-block;
	}

	.executeProposal, .boostProposal {
		width: 20px;
		overflow: hidden;

		span {
			display: inline-block;
			padding-left: 6px;
		}
	}

	.executeProposal:hover {
		width: 76px;
	}

	.boostProposal:hover {
		width: 66px;
	}
}

.detailView .cardTop {
	height: auto;

	.executeProposal {
		width: 76px;
	}

	.boostProposal {
		width: 66px;
	}

	.timer {
		float: none;
		width: auto;
		text-align: right;
		border-top: 1px solid rgba(200, 210, 219, 1.000);

		span {
			color: rgba(104, 155, 214, 1.000);
			font-weight: bold;
		}
	}
}

.proposalInfo {
	font-size: $body;

	.proposalPassInfo, .proposalFailInfo {
		font-size: $small;
		text-transform: uppercase;
		opacity: .7;
		float: left;
	}

	a {
		color: $black;
	}

	h3 {
		font-size: $body;
		margin: 4px 10px 10px 11px;
	}

	.closedTime {
		position: relative;
		display: block;
		font-weight: $normal;
		font-size: 11px;
		color: $black-halftone;
		margin: 6px 0 0 12px;
	}

  .help {
    display: inline-block;
    width: 24px;
    height: 24px;
    position: relative;
    margin-left: 5px;
    margin-top: -10px;
    top: 9px;

    &:hover {
      cursor: pointer;

      .helpBox {
        transform: scale(1);
        opacity: 1;
        top: 37px;
      }

      .hover {
        opacity: 1;
      }
    }

    img {
      position: absolute;
      z-index: 0;
    }

    .hover {
      position: absolute;
      z-index: 1;
      opacity: 0;
    }

    .helpBox {
      transition: all .25s ease;
      width: 230px;
      position: absolute;
      right: -100px;
      top: -144px;
      z-index: 10000;
      transform: scale(0);
      opacity: 0;

      .bg {
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0, 0.9);
        position: absolute;
        z-index: 0;
      }

      .pointer {
        width: 12px;
        position: absolute;
        top: -6px;
        right: 107px;
        height: 12px;
        transform: rotate(45deg);
        background-color: rgba(0,0,0, 0.9);
      }

      .bridge {
	    height: 30px;
	    width: 80px;
	    top: -29px;
	    position: absolute;
	    right: 72px;
      }

      .header {
        position: relative;
        z-index: 5;
        padding: 24px 10px;
        border-bottom: 3px solid #434343;
        text-align: center;

        h2 {
          margin: 0;
          font-size: 24px;
          font-family: $heading-1-font;
          color: $white;
        }

        h3 {
          margin: 0;
          font-family: $body-font;
          color: $white;
          font-size: 11px;
          font-weight: normal;
        }
      }

      .body {
        position: relative;
        z-index: 5;
        padding: 24px;

        p {
          font-size: 11px;
          color: $white;
          padding: 0 0 14px 0;
          margin: 0;
        }
      }

      a {
        display: block;
        margin: 0 24px 24px 24px;
        border: 1px solid #fff;
        color: $white;
        text-align: center;
        padding: 12px;
        opacity: .9;
      }

    }
  }
}

.passedProposal .proposalInfo h3, .failedProposal .proposalInfo h3 {
	margin: 24px 0px 10px 0px;
}


.decisionGraph {
	position: relative;
	top: -5px;
	left: 10px;
	float: left;

	.forLabel {
		color: $accent-1;
		font-size: $small;
	}

	.againstLabel {
		font-size: $small;
		color: $accent-2;
	}
}

.proposal.detailView {
	display: flex;
	justify-content: center;
}

.proposalActions {
	position: relative;
	margin-top: 15px;
	border-top: 1px solid rgba(215, 225, 237, 1.000);
}

.proposalTitleTop {
	display: none;
}

.detailView .proposalTitleTop {
	display: block;
	color: rgba(104, 155, 214, 1.000);
	font-size: 28px;
	margin: 0 0 15px 0;

	a {
		color: rgba(104, 155, 214, 1.000);
	}
}

.detailView .proposalTitleBottom {
	display: none;
}

.detailView .proposalInfo {
	flex-grow: 2;
	padding-right: 25px;
}

.detailView .proposalActions {
	flex-grow: 1;
	min-width: 200px;
	max-width: 400px;
	border-top: none;
}

.detailView .predictions, .detailView .voteBox {
	float: none;
	width: auto;
	background-color: $white;
	border-radius: 0 15px 15px 15px;
	margin: 0 0 20px 20px;

}

.decisionGraph .graph {
	width: 70px;
	display: inline-block;
	margin: 0 8px;
}


.voteGraphs {
	position: relative;
	margin-top: 12px;
	margin-right: 5px;
}

.voteGraphs:hover .reputationTurnout {
	opacity: 1;
	left: -5px;
	transform: translateY(-50%) scale(1);
}

.predictions.enablePredictions button {
    width: 120px;
    display: block;
    margin: 0 auto;
    border-radius: 3px;
    opacity: .5;
    margin-top: 20px;

}

.predictions.enablePredictions span {
	display: block;
	margin-top: 25px;
	margin-bottom: 8px;
}

.proposalLabel {
	position: absolute;
	top: -26px;
	font-size: 12px;
	font-weight: normal;
	color: rgba(115, 160, 216, 1.000);
	background-color: $white;
	padding: 5px;
}

.voteLabel {
	left: 15px;
}

.predictionLabel {
	left: 175px;
}

@keyframes pendingPassPrediction {
	0% {
		border: 1px solid $black-tenthtone;
	}
	50% {

		border: 1px solid $accent-1;
	}
	100% {
		border: 1px solid $black-tenthtone;
	}
}
@keyframes pendingFailPrediction {
	0% {
		border: 1px solid $black-tenthtone;
	}
	50% {

		border: 1px solid $accent-2;
	}
	100% {
		border: 1px solid $black-tenthtone;
	}
}

.centered {
	text-align: center;
	padding-bottom: 13px;
}

.voteStatus {
	display: block;
	width: 100%;
}

.predictions {
	position: relative;
	margin-left: -1px;
	float: right;
	width: 50%;

	span {
		font-size: $small;
		text-align: center;
		display: block;
		color: rgba(3, 118, 255, 1.000);
		
		b {
			font-weight: normal;
		}
	}

	button {
		font-weight: $bold;
		color: rgba(3, 118, 255, 1.000);
		background-color: rgba(225, 235, 247, 1.000);
		height: 25px;
		line-height: 14px;
		transition: all .25s ease;
		position: relative;
		border: 0;
		margin: 0 1px;
		display: inline-block;
		width: 60px;

		strong {
			opacity: 1;
			transition: all .25s ease;
		}

		img {
			opacity: 0;
			position: absolute;
			width: 12px;
		}

		img.stakeIcon {
			opacity: 1;
			position: relative;
		}
	}

	.passButton {
		border-radius: 10px 0 0 10px;
	}

	.failButton {
		border-radius: 0 10px 10px 0;
	}

	button.pendingPrediction {

		strong {
			opacity: 0;
		}

		img {
			opacity: 1;
		}
	}

	button:hover {
		cursor: pointer;
	}

	table {
		text-align: left;
		font-weight: $bold;
		width: 140px;

		.predicted {
			font-style: italic;
		}

		.passPrediction {
			text-align: right;
			color: $black-halftone;

			button {
				border: 1px solid $black-tenthtone;
				color: $black-halftone;
				transition: all .25s ease;

				&:hover {
					color: $accent-1;
					border: 1px solid $accent-1;
				}

				strong {
					color: $accent-1;
				}

				img {
					top: 2px;
					right: 6px;
				}
			}

			button.pendingPrediction {
				animation: pendingPassPrediction 2s ease infinite;
			}
		}

		.failPrediction {
			color: $black-halftone;
			text-align: right;

			button {
				color: $black-halftone;
				border: 1px solid $black-tenthtone;
				transition: all .25s ease;

				&:hover {
					color: $accent-2;
					border: 1px solid $accent-2;
				}

				strong {
					color: $accent-2;
				}

				img {
					right: 9px;
					top: 2px;
				}
			}

			button.pendingPrediction {
				animation: pendingFailPrediction 2s ease infinite;
			}
		}
	}
}


.boostedAmount {
	display: block;
	margin-top: 10px;
	padding-top: 43px;
}

.predictions.unconfirmedPrediction {
	.loading { display: block; }
}

.proposalDetails {
	position: absolute;
	right: 160px;
	height: 100%;
}

.createdBy {
	font-size: $small;
	color: $black-thirdtone;

	.targetAccount {
		top: 7px;
		left: 4px;

		img {
			width: 16px;
			height: 16px;
		}
	}
}

.detailView .createdBy {
	margin: 30px 0;
}

a.viewProposal {
	color: rgba(174, 174, 174, 1.000);
	background-color: transparent;
	font-size: $caption;
}

.redeemRewards {
	border: 1px solid $accent-1;
	color: $accent-1;
	background-color: transparent;
	padding: 5px 5px;
	position: absolute;
	right: -4px;
	top: 26px;
	transform: translateY(-50%);
	cursor: pointer;
	margin-top: -2px;
	font-weight: bold;

	img {
		display: none;
	}

	&.pending {
		border: 1px solid $black-tenthtone;
		color: $black-halftone;

		img {
			display: inline-block;
			height: 16px;
			position: relative;
			top: 4px;
			margin-left: 5px;
			margin-top: -6px;
		}
	}
}

.proposalsContainer .proposal {
	border: 1px solid red;
}

.proposalDetails.concludedDecisionDetails {
	right: 15px;
	top: 50%;
	transform: translateY(-50%);
}

button.cancelPrediction {
    display: block;
    z-index: 1000;
    width: 16px;
    position: absolute;
    right: 13px;
    top: 10px;
    border: none;

    img {
    	width: 12px;
    	opacity: 1;
    }
}

.newPassPrediction {
	display: block;

	div strong {
		color: $accent-1;
	}
}

.newFailPrediction {
	display: block;

	div strong {
		color: $accent-2;
	}
}

/**** Pre-approve *****/
.preApproval {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	h3 {
	    background-color: #122e5b;
	    border-radius: 15px 15px 0 0;
	    position: relative;
	    margin: 0;
	    margin-bottom: 20px;
	    padding: 0;
	    color: white;
	    height: 40px;
	    opacity: 1;
	    font-weight: 400;
	    font-size: 16px;
	    line-height: 40px;
	    text-align: center;
	}
}

.preapproveBackdrop {
	position: fixed;
	z-index: 0;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: $black-halftone;
}

.preapproveWrapper {
	position: relative;
	background-color: white;
	width: 280px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	padding: 0 0 20px 0;
	border-radius: 15px 15px 0 0;
	font-size: 14px;
	line-height: 24px;

	button {
		width: 100px;
		margin: 0 auto;
	    border: none;
		cursor: pointer;
	    height: 30px;
	    line-height: 30px;
	    font-size: 13px;
	    color: white;
	    background-color: #0376ff;
	    border-radius: 15px;
	    display: block;
	    padding: 0 15px;
	}
}

:global .disqus-comment-count {
	font-size: 12px;
	top: 35px;
	position: relative;
}
