.wrapper {
  background-color: white;
  width: 100%;
  margin: 0 auto 3px auto;
  border-radius: 3px;
  height: 65px;
  position: relative;
  font-size: 13px;
  font-family: $body-font;
  cursor: pointer;
}

.proposalCreator {
  width: auto;
  min-width: 145px;
  padding-left: 7px;
  cursor: default;
}

@media only screen and (max-width: 1280px) {
  .proposalCreator {
    min-width: 105px;
  }
}

.endDate {
  color: $gray-1;
}

.plugin {
  color: $gray-1;
}

.title {
  color: rgba(80, 97, 118, 1.000);

  a {
    color: rgba(80, 97, 118, 1.000);
  }

  a:visited {
    color: rgba(80, 97, 118, 1.000);
  }
}

.closeReason {
  position: relative;

  .decisionPassed, .decisionFailed {
    display: none;

    img {
      width: 15px;
      position: relative;
      top: 4px;
      margin-right: 5px;
    }
  }

  .decisionReason {
    color: $gray-1;
  }
}

.closeReason.decisionPassed .decisionPassed, .closeReason.decisionFailed .decisionFailed {
  display: block;
}

.predictions, .votes, .myActions {
  .myVote, .myStake, .passVote, .failVote, .forStake, .againstStake {
    display: none;
  }
}

.myActions.iVoted .myVote, .myActions.iStaked .myStake {
  display: block;
  padding-bottom: 5px;
}

.myActions.forStake .forStake, .myActions.againstStake .againstStake, .myActions.passVote .passVote, .myActions.failVote .failVote {
  display: inline-block;
  margin-left: 7px;
  position: relative;
  top: 3px;
}

.myActions {
  color: rgba(80, 97, 118, 1.000);
  padding-top: 10px;
  text-align: center;
}

.voteControls {
  position: relative;

  button span {
    font-weight: normal;
    color: $gray-1;
  }

  span {
    font-weight: normal;
    color: $gray-1;
  }
}

@media only screen and (max-width: 425px) {
  .wrapper {
    height: 110px;
    padding: 10px;
    display: block;
    width: auto;

    td {
      display: inline-block;
    }

    .plugin {
      display: none;
    }

    .myActions {
      display: none;
    }
  }

  .endDate {
    text-align: right;
    font-size: 11px;
    float: right;
  }

  .title {
    width: 100%;
    padding: 0 0 15px 8px;
    font-weight: bold;
    font-size: 13px;
  }

  .closeReason {

  }

  .votes {

  }

  .predictions {

  }

  .closeReason .decisionReason {
    display: block;
  }
}
