.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.hidden {
	display: none;
}

.loading {
	display: none;
	position: absolute;
	width: 80%;
	height: 70%;
	top: 15%;
	left: 15%;
	text-align: center;
	z-index: 100000;
	box-shadow: $shadow-2;
	border-radius: 3px;
	background-color: $white;

	img {
	    height: 35px;
	    top: 50%;
	    transform: translate(-50%, -50%);
	    position: absolute;
	    left: 50%;
	}
}

.proposalContainer {
  max-width: $max-width;
  background-color: $white;
}

.proposal {
	width: 315px;
	border-radius: 0 15px 15px 15px;
	background-color: $white;
}

.proposal:hover {
	z-index: 1000;
	box-shadow: 0 0 2px 0 #3278CA;
}

.openProposal {
	padding: 0;
}

.failedProposal {

  .proposalInfo {
  	left: 60px;
  }
}

.passedProposal {

	.proposalInfo {
	  	left: 60px;
	}
}

button.disabled {
	cursor: not-allowed !important;
}

.redeemable {
	position: relative;
}

.voteTooltip {
	transform: translateX(25px);
}

.voteControls {
	float: left;
	width: 30px;
	margin-right: 9px;
	margin-left: 9px;
	text-align: center;
	position: relative;
	height: 70px;

	button {
		position: absolute;
		left: 0;
		border: none;
		width: 30px;
		height: 24px;
		background-color: transparent;
		outline: none;

		img {
			position: absolute;
			margin: 0;
			padding: 0;
			left: 3px;
			top: 3px;
		}

	}

	.voteUp button {
		top: -3px;
	}

	.voteDown button {
		bottom: -3px;
	}

	button:hover:not(.disabled) .downvote.downvoted {
	    left: 0px;
	    top: 1px;
	    height: 18px;
	    opacity: 1;
	}

	.voteGraphs {
		position: absolute;
		top: 50%;
		left: 0;
		z-index: 1000;
		transform: translateY(-50%);
	}

	.upvote, .downvote {
		opacity: 1;
		z-index: 0;
	}

	.downvotePending .downvotePendingIcon {
		opacity: 1;
	}

	.upvotePending .upvotePendingIcon {
		opacity: 1;
	}

	.downvotePendingIcon, .upvotePendingIcon {
	    left: 0;
	    opacity: 0;
	    position: absolute;
		width: 28px;
	    height: 15px;
	}

	.downvotePendingIcon {
	    top: 2px;
	}

	.upvotePendingIcon {
		top: 3px;
	}

	.upvote.upvoted, .downvote.downvoted {
		opacity: 0;
		z-index: 100;
	}

	button:hover:not(.disabled) {
		cursor: pointer;
	}

	button:hover:not(.disabled) .upvote, button:hover:not(.disabled) .downvote, button.voted .upvote, button.voted .downvote, .upvotePending .upvote, .downvotePending .downvote {
		opacity: 0;
	}

	button.voted .downvote.downvoted {
		height: 18px;
		top: 2px;
		left: 0px;
		opacity: 1;
	}

	 button.voted .upvote.upvoted, button:hover:not(.disabled) .upvote.upvoted {
		height: 18px;
		top: 2px;
		left: 2px;
		opacity: 1;
	 }

	.voteDivider {
		width: 24px;
		position: absolute;
		top: 25%;
	}
}

@keyframes verifying {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  50% {
    opacity: 1;
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-30px);
    opacity: 0;
  }
}

.verifyMask {
    transform: translateY(30px);
    opacity: 0;
    animation: verifying 1s linear infinite;
}


.voteStatus {
	display: block;
}



.reputationTurnout {
	background-color: $white;
	box-shadow: $shadow-3;
	position: absolute;
	width: 260px;
	left: -100px;
	border-radius: 3px;
	top: 50%;
	opacity: 0;
	transform: translateY(-50%) scale(0);
	transition: all .25s ease;


	.header {
		color: $black;
		font-size: $body;
		padding: 12px 12px 0 12px;
		text-align: center;
		border-radius: 3px 3px 0 0;
		font-weight: bold;
	}

	.tooltipPointer {
		position: absolute;
		top: 50%;
		transform: translateY(-50%) rotate(45deg);
		left: -15px;
	}

	.turnoutInfo {
		padding: 15px;

		.description {
			font-size: $caption;
			text-align: center;
			display: block;
			margin-bottom: 15px;
		}

		.turnoutGraph {
			position: relative;

			.turnoutStats {
				width: 100%;
				font-size: $small;
				height: 16px;

				.forLabel {
					color: $accent-1;
					font-weight: $bold;

					text-transform: uppercase;
				}

				.againstLabel {
					color: $accent-2;
					float: right;
					font-weight: $bold;

					text-transform: uppercase;
				}
			}


			.reputationThreshold {
				font-size: $small;
				font-weight: $bold;
				margin-top: 15px;
				opacity: .5;
				text-align: center;
				text-transform: uppercase;
			}
		}
	}
}



.graph {
	background-color: rgba(235, 235, 235, 1.000);
	box-shadow: inset 0 0 8px 0 rgba(0,0,0,0.10);
	height: 8px;
	position: relative;

	.forBar {
		background-color: $accent-1;
		height: 8px;
		border-radius: 3px 0 0 3px;
	}

	.againstBar {
		background-color: $accent-2;
		height: 8px;
		position: absolute;
		right: 0;
		top: 0;
		border-radius: 0 3px 3px 0;
	}

	.divider {
		height: 8px;
	    width: 1px;
	    border-left: 1px dotted rgba(151, 151, 151, 0.5);
	    position: absolute;
	    left: 50%;
	    top: 0;
	}
}

.decidedProposal {
	position: relative;
	padding: 30px 20px 30px 10px;
	width: 40px;
	float: left;

	.result {
		text-align: center;
		font-size: $small;
		text-transform: uppercase;
		line-height: 11px;
		color: $black-halftone;

		img {
			margin: 15px auto;
		}
	}
}

.passedBy {
	color: $accent-1;
}

.failedBy {
	color: $accent-2;
}

.voteBox {
	position: relative;
	float: left;
	width: 50%;
}

.voteBox.unconfirmedVote {
	.loading {
		display: block;
	}
}

.cardTop {
	height: 20px;

	.timer {
		float: left;
		width: 50%;
		text-align: left;
		font-size: 12px;

		span {
			display: inline-block;
			margin: 10px;
			opacity: .6;
		}
	}

	.stateChange {
		float: left;
		width: 50%;
		text-align: right;
		font-size: 12px;

		button {
			background-color: rgba(0, 118, 255, 1.000);
			border-radius: 10px;
			height: 20px;
			line-height: 20px;
			padding: 0 6px;
			color: $white;
			border: none;
			transition: all .25s ease;
			margin: 10px;
			display: none;
		}

		.executeProposal {
			display: inline-block;
		}

		.executeProposal, .boostProposal {
			width: 20px;
			overflow: hidden;

			span {
				display: inline-block;
				padding-left: 6px;
			}
		}

		.executeProposal:hover {
			width: 76px;
		}

		.boostProposal:hover {
			width: 66px;
		}
	}
}

.proposalInfo {
	font-size: $body;

	.proposalPassInfo, .proposalFailInfo {
		font-size: $small;
		text-transform: uppercase;
		opacity: .7;
		float: left;
	}

	a {
		color: $black;
	}

	h3 {
		font-size: $body;
		margin: 0 0 8px 0;
	}

	.closedTime {
		position: relative;
		display: block;
		font-weight: $normal;
		font-size: $small;
		color: $black-halftone;
		margin: 0 0 6px 0;
		top: -3px;
	}

  .help {
    display: inline-block;
    width: 24px;
    height: 24px;
    position: relative;
    margin-left: 5px;
    margin-top: -10px;
    top: 9px;

    &:hover {
      cursor: pointer;

      .helpBox {
        transform: scale(1);
        opacity: 1;
        top: 37px;
      }

      .hover {
        opacity: 1;
      }
    }

    img {
      position: absolute;
      z-index: 0;
    }

    .hover {
      position: absolute;
      z-index: 1;
      opacity: 0;
    }

    .helpBox {
      transition: all .25s ease;
      width: 230px;
      position: absolute;
      right: -100px;
      top: -144px;
      z-index: 10000;
      transform: scale(0);
      opacity: 0;

      .bg {
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0, 0.9);
        position: absolute;
        z-index: 0;
      }

      .pointer {
        width: 12px;
        position: absolute;
        top: -6px;
        right: 107px;
        height: 12px;
        transform: rotate(45deg);
        background-color: rgba(0,0,0, 0.9);
      }

      .bridge {
	    height: 30px;
	    width: 80px;
	    top: -29px;
	    position: absolute;
	    right: 72px;
      }

      .header {
        position: relative;
        z-index: 5;
        padding: 24px 10px;
        border-bottom: 3px solid #434343;
        text-align: center;

        h2 {
          margin: 0;
          font-size: 24px;
          font-family: $heading-1-font;
          color: $white;
        }

        h3 {
          margin: 0;
          font-family: $body-font;
          color: $white;
          font-size: 11px;
          font-weight: normal;
        }
      }

      .body {
        position: relative;
        z-index: 5;
        padding: 24px;

        p {
          font-size: 11px;
          color: $white;
          padding: 0 0 14px 0;
          margin: 0;
        }
      }

      a {
        display: block;
        margin: 0 24px 24px 24px;
        border: 1px solid #fff;
        color: $white;
        text-align: center;
        padding: 12px;
        opacity: .9;
      }

    }
  }
}

.passedProposal .proposalInfo h3, .failedProposal .proposalInfo h3 {
	margin: 24px 0px 10px 0px;
}


.decisionGraph {
	position: relative;
	top: -5px;
	left: 10px;
	float: left;

	.forLabel {
		color: $accent-1;
		font-size: $small;
	}

	.againstLabel {
		font-size: $small;
		color: $accent-2;
	}
}

.proposalBottom {
	position: relative;
	margin-top: 15px;
	border-top: 1px solid rgba(215, 225, 237, 1.000);
}

.decisionGraph .graph {
	width: 70px;
	display: inline-block;
	margin: 0 8px;
}


.voteGraphs {
	position: relative;
}

.voteGraphs:hover .reputationTurnout {
	opacity: 1;
	left: 40px;
	transform: translateY(-50%) scale(1);
}

.predictions.enablePredictions button {
    width: 100px;
    display: block;
    margin: 0 auto;
    border-radius: 3px;
    opacity: .5;
    margin-top: 20px;

}

.predictions.enablePredictions span {
	display: block;
	margin-top: 25px;
	margin-bottom: 8px;
}

.proposalLabel {
	position: absolute;
	top: -26px;
	font-size: 12px;
	font-weight: normal;
	color: rgba(115, 160, 216, 1.000);
	background-color: $white;
	padding: 5px;
}

.voteLabel {
	left: 15px;
}

.predictionLabel {
	left: 175px;
}

@keyframes pendingPassPrediction {
	0% {
		border: 1px solid $black-tenthtone;
	}
	50% {

		border: 1px solid $accent-1;
	}
	100% {
		border: 1px solid $black-tenthtone;
	}
}
@keyframes pendingFailPrediction {
	0% {
		border: 1px solid $black-tenthtone;
	}
	50% {

		border: 1px solid $accent-2;
	}
	100% {
		border: 1px solid $black-tenthtone;
	}
}

.predictions {
	margin-left: -1px;
	float: right;
	width: 50%;
	border-left: 1px solid rgba(215, 225, 237, 1.000);

	div {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	span {
		font-size: $small;
		text-align: center;
		display: block;
		color: $black-thirdtone;
	}

	button {
		font-weight: $bold;
		background-color: transparent;
		padding: 1px 4px 2px 4px;
		transition: all .25s ease;
		position: relative;
		width: 60px;

		strong {
			opacity: 1;
			transition: all .25s ease;
		}

		img {
			opacity: 0;
			position: absolute;
			width: 12px;
		}
	}

	button.pendingPrediction {

		strong {
			opacity: 0;
		}

		img {
			opacity: 1;
		}
	}

	button:hover {
		cursor: pointer;
	}

	table {
		text-align: left;
		font-weight: $bold;
		width: 140px;

		.predicted {
			font-style: italic;
		}

		.passPrediction {
			text-align: right;
			color: $black-halftone;

			button {
				border: 1px solid $black-tenthtone;
				color: $black-halftone;
				transition: all .25s ease;

				&:hover {
					color: $accent-1;
					border: 1px solid $accent-1;
				}

				strong {
					color: $accent-1;
				}

				img {
					top: 2px;
					right: 6px;
				}
			}

			button.pendingPrediction {
				animation: pendingPassPrediction 2s ease infinite;
			}
		}

		.failPrediction {
			color: $black-halftone;
			text-align: right;

			button {
				color: $black-halftone;
				border: 1px solid $black-tenthtone;
				transition: all .25s ease;

				&:hover {
					color: $accent-2;
					border: 1px solid $accent-2;
				}

				strong {
					color: $accent-2;
				}

				img {
					right: 9px;
					top: 2px;
				}
			}

			button.pendingPrediction {
				animation: pendingFailPrediction 2s ease infinite;
			}
		}
	}
}


.boostedAmount {
	display: block;
	margin-bottom: 10px;
}

.predictions.unconfirmedPrediction {
	.loading { display: block; }
}

.proposalDetails {
	position: absolute;
	right: 160px;
	height: 100%;
}

.createdBy {
	font-size: $small;
	color: $black-thirdtone;
  position: absolute;
  width: 250px;
  right: 0;
  z-index: 100;
  text-align: right;
  top: 22px;
  transform: translateY(-50%);

	.targetAccount {
		top: 7px;
		left: 4px;

		img {
			width: 16px;
			height: 16px;
		}
	}
}

a.viewProposal {
	color: rgba(174, 174, 174, 1.000);
	background-color: transparent;
	font-size: $caption;
}

.redeemRewards {
	border: 1px solid $accent-1;
	color: $accent-1;
	background-color: transparent;
	padding: 5px 5px;
	position: absolute;
	right: -4px;
	top: 26px;
	transform: translateY(-50%);
	cursor: pointer;
	margin-top: -2px;
	font-weight: bold;

	img {
		display: none;
	}

	&.pending {
		border: 1px solid $black-tenthtone;
		color: $black-halftone;

		img {
			display: inline-block;
			height: 16px;
			position: relative;
			top: 4px;
			margin-left: 5px;
			margin-top: -6px;
		}
	}
}

.proposalsContainer .proposal {
	border: 1px solid red;
}

.proposalDetails.concludedDecisionDetails {
	right: 15px;
	top: 50%;
	transform: translateY(-50%);
}

button.cancelPrediction {
    display: block;
    z-index: 1000;
    width: 16px;
    position: absolute;
    right: 13px;
    top: 10px;
    border: none;

    img {
    	width: 12px;
    	opacity: 1;
    }
}

.newPassPrediction {
	display: block;

	div strong {
		color: $accent-1;
	}
}

.newFailPrediction {
	display: block;

	div strong {
		color: $accent-2;
	}
}

/**** Pre-approve *****/
.preApproval {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.preapproveBackdrop {
	position: fixed;
	z-index: 0;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: $black-halftone;
}

.preapproveWrapper {
  position: relative;
  background-color: white;
  width: 280px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  padding: 0 20px 20px 20px;

  button {
  	display: block;
  	width: 100px;
  	margin: 0 auto;
  	border: 1px solid $black-halftone;
  	padding: 5px 8px;
  	text-align: center;
  	font-weight: bold;
  	font-size: $body;
  	cursor: pointer;
  }
}

:global .disqus-comment-count {
	font-size: 12px;
	top: 35px;
	position: relative;
}
