.wrapper {
    position: relative;
    display: inline-block;
    margin: 0 3px;
  
    button {
        height: 20px;
        width: 20px;
        transition: width 0.20s ease;
        line-height: 20px;

        border-radius: 10px;
        border: none;

        font-size: 11px;
        font-weight: bold;
        color: $white;

        padding: 0 6px;
        
        overflow: hidden;
        cursor: pointer;
        outline: none;

        &[class="high"] {
        background-color: red;
      }

      &[class="medium"] {
        background-color: yellow;
        color: black;
      }

      &[class="low"] {
        background-color: green;
      }

      &:hover {
        width: 90px;
      }
    }
  }
  
  