.transferDetails {
  position: relative;
  border: 1px solid rgba(229, 235, 242, 1.000);
  border-radius: 2px;
  font-size: 12px;
  display: inline-block;
  padding: 5px;
  max-width: 92%;
  margin: 0 auto;
  display: block;
  text-align: center;
}

.transferAmount {
  font-weight: $bold;
  color: $accent-1;
  margin: 0 3px;
}

.transferType {
  display: inline-block;
  color: $black-halftone;

  strong {
    color: $black-septone;

    em {
      color: $black-halftone;
      font-style: normal;
      font-weight: normal;
    }
  }
}