.transferDetails {
  position: relative;
  border: 1px solid rgba(229, 235, 242, 1.000);
  border-radius: 2px;
  font-size: 12px;
  display: inline-block;
  padding: 5px;
  width: 263px;
  margin: 0 20px 20px 20px;
  display: block;
  text-align: center;
  font-family: "Open Sans";

  strong {
    font-weight: normal;
  }
}

.detailView.transferDetails, .transactionModal.transferDetails {
    box-shadow: 0 1px 12px 0 rgba(26, 60, 88, 0.09);
    background-color: $white;
    font-size: 16px;
    padding: 15px;
    margin: 0 0 0 0;
    max-width: 430px;
}

.transactionModal.transferDetails {
  max-width: 400px;
  margin: 0 auto;
}

.transferAmount {
  color: $accent-1;
  margin: 0 3px;
}

.accountName {
  color: rgba(80, 97, 118, 1.000);
}

.transferType {
  display: inline-block;
  color: rgba(80, 97, 118, 1.000);

  strong {
    color: rgba(80, 97, 118, 1.000);

    em {
      color: rgba(80, 97, 118, 1.000);
      font-style: normal;
      font-weight: normal;
    }
  }
}