.proposalsHeader {
  font-size: 20px;
  position: relative;
  padding-top: 20px;
  padding-bottom: 10px;
  color: $black-halftone;
  font-weight: $bold;
  width: 100%;

  span {
    position: absolute;
    right: 0;
    font-size: $body;

    span {
      font-weight: $bold;
      position: relative;
    }
  }
}

.proposal {
  width: 100%;
  position: relative;
  margin-top: 15px;
  background-color: $white;
}