.viewProposalContainer {
  width: 100%;

  .discussionTitle {
    font-size: 28px;
    color: rgba(104, 155, 214, 1.000);
    width: 100%;
    border-bottom: 1px solid rgba(191, 203, 213, 1.000);
    padding-bottom: 5px;
    margin-bottom: 20px;
  }
}

.proposal {
  width: 100%;
  position: relative;
  margin-top: 15px;
}

.viewProposalContainer .proposal {
  background-color: transparent;
  width: 100%;
}