.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.accountBalance {
  text-align: right;
}

:global .membersPage {
  border-radius: 8px;
  height: 50px;
  width: 50px;
  float: left;
}

.targetAccount {
  position: relative;
  display: inline-block;
  width: 22px;
  height: 22px;
  overflow: visible;
  margin-top: -14px;
  transition: all .25s ease;
  top: 6px;
  margin-right: 13px;
  left: 7px;

  .avatar {
    width: 16px;
    height: 16px;
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255,255,255, 0);
    transition: all .25s ease;

    img {
      transition: all .25s ease;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(45deg);
      width: 16px;
      border-radius: 0;
      height: 16px;
    }
  }
  .accountInfo {
    position: absolute;
    z-index: 0;
    opacity: 0;
    left: 50%;
    top: -150px;
    padding: 60px 30px 30px 30px;
    width: 190px;
    font-size: $caption;
    color: $white;
    z-index: 0;
    transform: translateX(-50%) scale(0);
    background-image: linear-gradient(-222deg, #FDB93E 0%, #1CBDF7 100%);
    border-radius: 3px;
    transition: all .25s ease;
    box-shadow: $shadow-3;

    .beneficiaryAddress {
      overflow: hidden;
      width: 140px;
      padding: 10px 30px 5px 10px;
      position: relative;
      border-radius: 3px;
      border: 1px solid rgba(255,255,255,.5);

      span {
        display: inline-block;
        width: 135px;
        text-overflow: ellipsis;
        overflow: hidden;
        whitespace: nowrap;
      }

      button {
        position: absolute;
        top: 5px;
        right: 0;
        border: none;
        outline: none;
        background-color: transparent;
        cursor: pointer;
      }
    }

    .holdings {
      padding-top: 30px;
      text-align: center;

      &>span {
        font-size: $small;
        color: $white-halftone;
      }
    }

    .viewProfile {
      border: 1px solid white;
      background-color: transparent;
      color: $white;
      display: block;
      margin: 30px auto 0 auto;
      padding: 8px 10px;
    }
  }
}

.targetAccount:hover {
    z-index: 1000000;

  .avatar {
    width: 80px;
    height: 80px;
    border-radius: 100px;
    background-color: $white;
    box-shadow: $shadow-1;

    img {
      width: 50px;
      height: 50px;
    }
  }
  .accountInfo {
    opacity: 1;
    top: 15px;
    transform: translateX(-50%) scale(1);
  }
}
