.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.accountBalance {
  text-align: right;
}

:global .membersPage {
  transform: rotate(45deg);
  height: 40px;
  width: 40px;
  float: left;
  margin: 3px 20px 0 15px;
}

.targetAccount {
  position: relative;
  display: inline-block;
  width: 22px;
  height: 22px;
  overflow: visible;
  margin-top: -14px;
  transition: all .25s ease;
  top: 6px;
  margin-right: 13px;
  left: 7px;

  .avatar {
    width: 16px;
    height: 16px;
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255,255,255, 0);
    transition: all .25s ease;

    img {
      transition: all .25s ease;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(45deg);
      width: 16px;
      border-radius: 0;
      height: 16px;
    }
  }
  .accountInfo {
    position: absolute;
    z-index: 0;
    opacity: 0;
    left: 50%;
    top: -150px;
    padding: 60px 0 0 0;
    width: 190px;
    font-size: $caption;
    color: $black;
    z-index: 0;
    transform: translateX(-50%) scale(0);
    background-color: $white;
    border-radius: 3px;
    transition: all .25s ease;
    box-shadow: $shadow-3;
    text-align: center;

    .name {
      font-size: 14px;
    }

    .beneficiaryAddress {
      overflow: hidden;
      width: 140px;
      padding: 10px 30px 5px 10px;
      position: relative;
      text-align: left;
      border-radius: 3px;
      border: 1px solid rgba(255,255,255,.5);

      span {
        display: inline-block;
        width: 115px;
        padding-left: 10px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }

      button {
        position: absolute;
        top: 0;
        right: 0;
        border: none;
        outline: none;
        background-color: transparent;
        cursor: pointer;
      }
    }

    .holdings {
      padding: 20px 0;
      margin-top: 10px;
      text-align: center;
      background-color: rgba(242, 242, 242, 1.000);

      &>span {
        font-size: $small;
        color: $black-halftone;
      }
    }

    .viewProfile {
      border: 1px solid white;
      background-color: transparent;
      color: $white;
      display: block;
      margin: 30px auto 0 auto;
      padding: 8px 10px;
    }
  }
}

.targetAccount:hover {
    z-index: 1000000;

  .avatar {
    width: 80px;
    height: 80px;

    img {
      width: 50px;
      height: 50px;
    }
  }
  .accountInfo {
    opacity: 1;
    top: 0px;
    transform: translateX(-50%) scale(1);
  }
}


/***** Account Profile ******/
.daoHeader {
  background-color: white;
  padding: 20px 30px 30px 30px;
}

.profileContainer {
  max-width: 1080px;
  margin: 0 auto;
  margin-top: 40px;
  padding: 0 20px;

  form {
    padding: 30px;
    background-color: $white;
  }

  .profileContent {
    display: flex;
  }

  .userAvatarContainer {
    width: 100px;

    img {
      transform: rotate(45deg);
    }
  }

  .profileDataContainer {
    width: 250px;

    label {
      font-weight: bold;
    }

    .charLimit {
      font-size: 12px;
      text-align: right;
    }
  }

  .otherInfoContainer {
    padding-left: 50px;
    width: 100%;

    span {
      //color: #6abed4;
      color: #76c9de;
      font-weight: bold;
    }

    .tokens {
      // display: flex;
      // width: 100%;
      > div {
        display: inline-block;
        width: 33%;
      }
    }

    div {
      margin-bottom: 20px;
    }

    .copyButton {
      border: none;
      vertical-align: middle;
    }

    p {
      padding: 0;
      margin-top: 5px;
      font-size: 12px;
    }
  }

  input, textarea {
    background-color: #EDEDED;
    border: none;
    padding: 4px;
    width: 250px;
    font-size: 13px;
  }

  .socialButton {
    width: 33%;
    display: inline-block;

    button {
      border: none;

      :hover {
        color: #76c9de;
      }
    }

    .icon {
      width: 40px;
      height: 40px;
    }
  }

  .socialButtonAuthenticated {
    .icon {
      color: #76c9de;
    }
  }
}

input {
  &.error {
    border-bottom: 2px solid red;
  }
}

.errorMessage {
  position: relative;
  color: red
}

.submitButton {
  border: 1px solid black;
  height: 40px;
  display: inline-block;
  line-height: 30px;
  margin: 0 auto;
  color: black;
  font-weight: normal;
  font-size: $body;
  padding: 0 15px;
  font-family: $body-font;
  transition: all .25s ease;
  background-color: rgba(200,200,200,0);

  &:hover {
    cursor: pointer;
  }

  img {
    position: relative;
    top: 4px;
    margin-right: 8px;
  }

  .loading {
    width: 18px;
    display: none;
  }
}
.submitButton:disabled .loading {
  display: inline-block;
}

.submitButton:disabled {
  background-color: rgba(200,200,200,.5);
  border: 1px solid rgba(200,200,200,1);
  color: rgba(75,75,75,1);
}

.submitButton:disabled .sendIcon {
  display: none;
}

.alignCenter {
  text-align: center;
  margin-top: 30px;
}