.wrapper {
  display: inline-block;
  position: relative;
  z-index: 0;
}

.voteRecord, .castVote, .castVoteFor, .castVoteAgainst {
  display: none;
}

.voteRecord {
  border: 1px solid #bfcbd5;
  border-radius: 3px;
  height: 23px;
  line-height: 23px;
  font-size: 11px;
  text-align: center;
  padding: 0 5px;

  .castVoteFor {
    color: rgba(0, 190, 144, 1.000);
  }

  .castVoteAgainst {
    color: rgba(246, 80, 80, 1.000);
  }
}

.hasVoted {
  .voteRecord {
    display: block;
  }
}

.hasNotVoted {
  .castVote {
    display: block;
    text-align: center;
  }
}

.votedFor .castVoteFor, .votedAgainst .castVoteAgainst {
  display: inline;
}

.votingDisabled {
  font-size: 11px;
  color: rgba(154, 169, 181, 1.000);
  padding-top: 0px;
  position: relative;
  top: -5px;
}

.detailView .votingDisabled {
  top: 0;
  padding-top: 7px;
}

button.disabled {
  cursor: not-allowed !important;
}

.buttonLoadingImg {
  display: none;
  width: 13px;
}

.castVote button {
  font-weight: $bold;
  color: rgba(3, 118, 255, 1.000);
  background-color: rgba(225, 235, 247, 1.000);
  height: 25px;
  line-height: 25px;
  transition: all .25s ease;
  position: relative;
  border: 0;
  margin: 0 1px;
  display: inline-block;
  width: 75px;
  padding: 0 5px;
  font-size: 11px;

  img {
    margin-right: 4px;
  }

  span {
    display: inline-block;
    position: relative;
    top: -2px;
  }
}

.castVote button:nth-child(1) {
  border-radius: 10px 0 0 10px;
  width: 60px;

  img {
    position: relative;
    top: 5px;
  }

  img.buttonLoadingImg {
    top: 1px;
  }
}

.castVote button:nth-child(2) {
  border-radius: 0 10px 10px 0;

  img {
    position: relative;
    top: 2px;
  }

  img.buttonLoadingImg {
    top: 1px;
  }
}

.altStyle {
  .castVote {
    text-align: left;
  }

  .castVote button {
    height: 30px;
    line-height: 30px;
    width: auto;
    margin-right: 5px;
    border-radius: 30px;
    background: #0071ff;
    padding: 0 15px;

    span {
      font-weight: bold;
      font-size: 13px;
      display: inline-block;
      color: white;
    }
  }
}

.altStyle .castVote button img {
  position: relative;
  top: 4px;
}

.altStyle .castVote button img.buttonLoadingImg {
  position: relative;
  top: 3px;
}

.altStyle .castVote button:nth-child(2) img.buttonLoadingImg {
  top: 3px;
  position: relative;
}

.detailView .hasVoted .voteRecord {
  display: inline-block;
  float: right;
  border: none;
  margin-top: 13px;
  height: 20px;
  line-height: 20px;
}

.detailView .proposalInfo .hasVoted .voteRecord {
  display: inline-block;
  float: left;
  margin-top: 13px;
  font-size: 13px;
  margin-left: 0;
  height: 30px;
  line-height: 30px;
  border: 1px solid #bfcbd5;
}