.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.homeWrapper {
  width: 100%;
}

.topTriangle {
	position: absolute;
	top: 0;
	right: 0;
	max-width: 410px;

	img {
		width: 100%;
	}
}

.leftTriangle {
	width: 530px;
	height: 530px;
	transform: rotate(45deg);
	position: absolute;
	left: -380px;
	top: 200px;
	z-index: 0;
	background-color: $white;
}

p {
	padding: 15px 30px;
}

h2 {
	font-family: $heading-1-font;
	font-size: 36px;
	font-weight: normal;
	margin-bottom: 0px;
	padding: 0 30px;
}

.hero {
	position: relative;
	z-index: 10;
	width: 100%;
	text-align: center;
	padding-top: 100px;
	padding-bottom: 100px;

	h1 {
		font-family: $body-font;
		font-size: 36px;
		font-weight: normal;
		margin-top: 0;
	}

	h2 {
		margin-bottom: 50px;
		font-size: 24px;
		opacity: 0.5;
	}

	.topCta {
		text-align: center;

		a {
			color: rgba(255,255,255,1);
			background-color: rgba(43, 171, 204, 1.000);
			font-size: 14px;
			margin: 0 15px;
			text-decoration: none;
			padding: 8px 15px;
			transition: all .25s ease;

			&:hover {
				background-color: rgba(34, 159, 110, 1.000);
			}
		}
	}
}

.aboutAlchemy {
	height: auto;
	position: relative;
	z-index: 11;
	padding-bottom: 150px;

	.column {
		display: block;

		h2 {
			padding-top: 30px;
		}

		img {
			margin: 0 auto;
			display: block;
			width: 80%;
		}
	}

}

.joinAlchemy {
	background-color: rgba(56, 56, 56, 1.000);
	background-image: url(/assets/images/Home/JoinAlchemyBg.svg);
	padding-top: 350px;
	text-align: center;
	color: $white;
	background-repeat: no-repeat;
	background-size: 100%;
	padding-bottom: 350px;

	div {
		max-width: 550px;
		margin: 0 auto;

		.bottomCta {
			text-align: center;
			margin-top: 50px;

			a {
				color: rgba(255,255,255,1);
				background-color: rgba(43, 171, 204, 1.000);
				font-size: 18px;
				text-decoration: none;
				margin: 0 15px;
				padding: 8px 15px;
				transition: all .25s ease;

				&:hover {
					background-color: rgba(34, 159, 110, 1.000);
				}
			}
		}
	}
}

.footer {
	text-align: center;
	background-color: rgba(56, 56, 56, 1.000);
	text-align: center;
	padding: 50px;

	a {
		color: $white;
		text-decoration: none;
		display: inline-block;
		margin: 15px;
		opacity: .5;
		display: block;
		transition: all .25s ease;

		&:hover {
			opacity: 1;
			text-decoration: underline;
		}
	}
}

@media only screen and (min-width: 768px) {
	.footer a {
		margin: 0 15px;
		display: inline;
	}

	.hero .topCta a {
		font-size: 18px;
	}

	.aboutAlchemy {
		height: 400px;

		.column {
			width: 50%;
			float: left;

			h2 {
				padding-top: 0px;
			}
		}
	}
}

@media only screen and (min-width: 1000px) {
	.aboutAlchemy .column {
		h2 {
			padding-top: 100px;
		}
		img {
			width: auto;
		}
	}
}