@import "./react-mde.css";

.hidden {
  display: none !important;
}

.createProposalWrapper {
  border-radius: 15px 15px 0 0;
  background-color: $white;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  box-shadow: $shadow-3;

  .header {
    background-color: $navy;
    border-radius: 15px 15px 0 0;
    position: relative;
    margin: 0;
    padding: 0;
    color: $white;
    height: 40px;
    opacity: 1;
    font-family: $body-font;
    font-weight: $normal;

    span {
      position: relative;
      font-size: 16px;
      font-weight: normal;
      left: 13px;

      b {
        font-weight: normal;
        opacity: .5;
        font-size: 14px;
      }
    }
    .editIcon {
      display: inline-block;
      margin: 10px;
    }
  }

  form {
    padding: 20px 30px 30px 30px;

    input {
      margin-top: 3px;
      margin-bottom: 5px;
      width: 445px;
      display: block;
      border: none;
      background-color: transparent;
      border: $gray-border-2;
      font-size: 13px;
      padding: 12px 12px;
      font-family: $body-font;

      &.error {
        border: 1px solid rgba(246, 80, 80, 1.000);
      }
      &:focus {
        outline: none;
        border: 1px solid rgba(46, 168, 122, 1.000);
      }
    }

    input {
      padding: 0 15px;
      height: 35px;
      line-height: 35px;
    }

    input::placeholder, textarea::placeholder {
        color: rgba(154, 169, 181, 1.000);
    }

    .contributionReward {
      width: 110px;
      display: inline-block;
    }

    .reward {
      float: left;
      width: 235px;
      position: relative;

      input {
        width: 200px;
      }

      .externalTokenSelect {
        display: block;
        font-size: 13PX;
        color: $gray-1;
        margin: 0;
        border: 1px solid #aaa;
        border-radius: 0;
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        background-color: #fff;
        position: absolute;
        bottom: 5px;
        height: 35px;
        padding: 0 0 0 0;
        right: 0px;
        border: 1px solid #bfcbd5;

        div div div div:first-child {
          left: 15px;
        }

        input {
          margin-top: 0;
          margin-left: 10px;
          margin-bottom: 0;
        }
      }
    }

    .reward:nth-child(even) {
      margin-right: 10px;
    }


    .permissionCheckbox {
      font-size: 9px;
    }

    label {
      color: rgba(80, 97, 118, 1.000);
      display: block;
      width: 372px;
      font-size: 13px;
      font-weight: bold;
      padding: 5px 0 0 0;
      position: relative;

      .requiredMarker {
        position: absolute;
        top: 26px;
        color: rgba(104, 154, 214, 1.000);
        font-weight: bold;
        left: 5px;
      }


      .infoTooltip {
        position: absolute;
        right: 0;
        display: none;
        right: -17px;
      }
    }

    .errorMessage {
      font-weight: normal;
      position: relative;
      left: 10px;
      color: rgba(246, 80, 80, 1.000);
      font-size: 11px;
      font-weight: 300;
    }

    .errorMessage.someReward {
      display: block;
      text-align: center;
      text-transform: uppercase;
      left: 0;
      font-size: $small;
      z-index: -10;
      font-weight: 300;
    }

  }

  .recommendedTemplate {
    border: 1px solid rgba(56, 175, 244, .2);
    color: rgba(34, 167, 243, 1.000);
    font-size: $small;
    border-radius: 3px;
    position: relative;
    top: 0px;
    left: 10px;
    margin-right: 10px;
    padding: 1px;
  }

  .transactionList {
    padding: 30px 0;

    .transactionListHeader {
      font-size: $body;
      font-weight: $normal;
      color: $black-halftone;
      position: relative;
      margin: 0;
      span {
        color: $black-thirdtone;
        position: absolute;
        right: 0;
        font-size: $small;
      }
    }

    table {
      font-size: $caption;
      width: 100%;
      border-top: $gray-border-halftone;
      border-spacing: 0;
      margin-top: 12px;
      color: $black-halftone;

      td {
        padding: 8px 0;
        border-spacing: 0;
        border-collapse: collapse;
        border-bottom: $gray-border-halftone;
      }
    }

    .tokenAmount {
      color: $accent-1;
      font-weight: $bold;
    }

    .userAvatar {
      height: 20px;
      position: relative;
      top: 5px;
      margin: 0 8px;
      margin-top: -6px;
    }

    .transferIcon {
      margin-left: 8px;
    }

    .transferTotals {
      text-align: right;
    }
  }

  .exitProposalCreation {
    cursor: pointer;
    height: 30px;
    display: inline-block;
    margin: 0 5px;
    font-weight: normal;
    font-size: 13px;
    padding: 0 25px 2px 25px;
    font-family: $body-font;
    transition: all .25s ease;
    border: none;
    background-color: rgba(225, 235, 247, 1.000);
    border-radius: 15px;
    color: rgba(0, 113, 255, 1.000);
  }

  .submitProposal {
    height: 30px;
    border: none;
    display: inline-block;
    margin: 0 5px;
    font-weight: normal;
    font-size: 13px;
    padding: 0 25px 2px 25px;
    font-family: $body-font;
    font-weight: bold;
    transition: all .25s ease;
    background-color: rgba(0, 113, 255, 1.000);
    border-radius: 15px;
    color: $white;

    &:hover {
      cursor: pointer;
    }

    img {
      position: relative;
      top: 4px;
      margin-right: 8px;
    }

    .loading {
      width: 18px;
      display: none;
    }
  }

  .submitProposal:disabled .loading {
    display: inline-block;
  }

  .submitProposal:disabled {
    background-color: rgba(200,200,200,.5);
    border: 1px solid rgba(200,200,200,1);
    color: rgba(75,75,75,1);
  }

  .submitProposal:disabled .sendIcon {
    display: none;
  }

  .createProposalActions {
    text-align: right;
    margin-top: 20px;
  }
}

.downV {
  position: absolute;
  right: 20px;
  bottom: 21px;
  z-index: 1000;
}

.contributionReward {
  width: 540px;
}

.clearfix:after {
  content: "";
  clear: both;
  display: table;
}

.createWrapperWithSidebar {
  width: 735px;
  content: "";
  clear: both;
  display: table;

  .sidebar {
    width: 199px;
    float: left;
    padding-top: 30px;

    .addSchemeButton {
      display: block;
    }

    button {
      display: block;
      position: relative;
      border: 0;
      outline: none;
      font-size: 13px;
      font-weight: bold;
      color: rgba(80, 97, 118, 1.000);
      margin: 0;
      padding: 15px 30px;
      width: 100%;
      text-align: left;

      span {
        display: none;
      }
    }

    button:hover, button.selected {
      background-color: rgba(233, 238, 244, 1.000);

      span {
        width: 25px;
        height: 19px;
        position: absolute;
        right: -8px;
        transform: rotate(63deg) skew(35deg) translateY(-50%);
        display: block;
        top: 50%;
        background-color: #e9eef4;
      }
    }
  }

  .formWrapper {
    width: 535px;
    float: left;
    border-left: 1px solid #e9eef4;

    .tab {
      display: none;
    }

    .tab.selected {
      display: block;
    }

    .arrayFieldContainer {
      margin-top: 3px;

      input {
        width: 398px;
        display: inline-block;
      }

      .arrayField {
        margin-bottom: 15px;
      }

      .removeItemButton {
        height: 30px;
        padding: 0;
        margin: 0 0 0 10px;
        width: 30px;
      }

      .addItemButton {
        margin-bottom: 15px;
      }

      button {
        border: none;
        background-color: rgba(245, 247, 250, 1.000);
        height: 30px;
        line-height: 30px;
        padding: 0 15px;
        margin-right: 8px;
        border-radius: 3px;
        outline: none;
        color: rgba(104, 155, 214, 1.000);
        font-weight: bold;
        text-align: center;
      }
    }
  }

  .addEditSchemeFields, .removeSchemeFields, .addSchemeSelectContainer, .editSchemeSelectContainer {
    display: none;
    position: relative;
  }

  .editSchemeSelectContainer {
    height: 63px;
  }

  .addScheme .addEditSchemeFields, .removeScheme .removeSchemeFields, .editScheme .addEditSchemeFields {
    display: block;
  }

  .addScheme .addSchemeSelectContainer {
    display: block;
  }

  .editScheme .editSchemeSelectContainer {
    display: block;
  }

  .removeSchemeSelectContainer {
    position: relative;
  }

  label {
    z-index: 100;
  }

  .otherScheme {
    width: 445px;
  }

  .schemeSelect {
    display: block;
    font-size: 13px;
    margin: 3px 0 5px 0;
    border: 1px solid #aaa;
    border-radius: 0;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    bottom: 0px;
    height: 37px;
    padding: 0 30px 0 15px;
    left: 0;
    z-index: 0;
    border: 1px solid #bfcbd5;
    width: 477px;
  }

  .parametersHash {
    input {
      font-size: 12px;
    }
  }

  .permissions {
    display: block;
    padding-top: 15px;

    .permissionsLabel {
      font-size: 13px;
      font-weight: bold;
      color: rgba(80, 97, 118, 1.000);
    }

    .permissionCheckbox  {
      width: 50%;
      display: inline-block;
      padding: 4px 0 0 0;

      input {
        display: inline;
        width: 20px;
        height: 13px;
      }

      label {
        font-size: 11px;
        font-weight: normal;
        display: inline;
        z-index: 1000;
      }
    }
  }
}

form .radioButtons {
  input {
    display: inline-block;
    width: auto;
    vertical-align: middle;
    margin: 0 5px;
    padding: 0px;
  }

  label {
    display: inline-block;
    width: auto;
    font-weight: normal;
    vertical-align: middle;
    padding: 0;

    .requiredMarker {
      display: none;
    }

  }
}

label.description {
  margin-bottom: 2px;
}

div.description {
  font-size: 11px;
  margin-bottom: 12px;

  a, a:hover {
    color: #0071ff;
  }
}

.tagSelectorContainer {
  padding-top: 0;
}

.tagSelectorLabel {
  margin-top: 4px;
}

@media only screen and (max-width: 425px) {

  .createWrapperWithSidebar {
    width: 100%;

    .sidebar {
      width: 100%;
      float: none;
      padding-top: 0;
    }

    .formWrapper {
      width: 100%;
      float: none;
    }

    .schemeSelect {
      width: 90%;
    }
  }

  .downV {
    right: -3px;
  }

  .createProposalWrapper {
    top: 0;
    left: 0;
    transform: translate(0,0);

    .header {
      border-radius: 0 0 0 0;
    }

    form {
      padding: 15px 15px 155px 15px;

      input, textarea, label {
        width: 90%;
      }

      textarea {
        border: none;
        width: 100%;
      }

      .encodedData textarea {
        border: $gray-border-2;
        padding: 9px 15px 12px 15px;
        width: 90%;
      }

      .reward {
        width: 42%;

        input {
          width: 88%;
        }

        .externalTokenSelect {
          right: -17px;
          width: 50px;
          padding: 0 18px 0 0px;

          div div div div:first-child {
            left: 8px;
          }
        }
      }

      .reward:nth-child(even) {
        margin-right: 30px;
      }
    }
  }

  .contributionReward {
    width: auto;
  }

  .schemeRegistrar {
    width: auto;

    .permissions .permissionCheckbox {
      width: auto;
    }

    .schemeRegistrarForm {
      width: auto;
    }
  }

  .schemeRegistrar .schemeRegistrarSidebar {
    width: auto;
    float: none;

    button {
      font-size: 12px;
      padding: 10px 11px;
      display: inline-block;
      width: auto;
    }

    .addSchemeButton {
      display: inline-block;
      margin: 0 0 0 0;
    }

    button.selected span {
      width: 24px;
      left: 50%;
      right: auto;
      transform: rotate(153deg) skew(35deg);
      top: 25px;
      background-color: #e9eef4;
      margin-left: -12px;
    }
  }
}
