.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

button:hover {
  cursor: pointer;
}

.wrapper {
  max-width: $max-width;
  margin: 0 auto;
  position: relative;
  background-color: #f2f2f2;
}

.outer {
  position: relative;
}

.top {
  width: 100%;
  background-color: $white;
}

.loading {
  width: 100%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%)
}

.loading img {
  margin: 0 auto;
  display: block;
}

.daoHeader {
  padding: 30px 30px 5px 30px;
}

.nav {
  padding: 0 30px;
  position: relative;

  span {
    padding: 10px;
  }

  .borderBottom {
    height: 3px;
    width: 100%;
    position: absolute;
    background-color: rgba(216, 216, 216, 1.000);
    z-index: 0;
    bottom: 0;
    left: 0;
    opacity: .4;
  }
}

.columnHeader {
  width: 100%;
  font-size: $small;
  text-transform: uppercase;
  opacity: 0.5;

  .votes {
    float: left;
    width: 55px;
    text-align: center;
  }

  .predictions {
    width: 140px;
    text-align: center;
    float: right;
  }
}

.membersContainer {
  margin: 10px 0;
}

.member {
  padding: 5px 0;
  vertical-align: middle;


  .memberAddress {
    float: left;
    padding: 13px 15px;
  }

  .memberHoldings {
    float: right;
    position: relative;
    top: 8px;
  }

  .verticalDivider {
    display: inline-block;
    height: 24px;
    width: 1px;
    background-color: rgba(234, 234, 234, 1.000);
    margin: 0 15px;
    position: relative;
    top: 5px;
  }

}

.proposalsContainer, .membersContainer {
  margin: 10px 0 250px 0;
  background-color: $white;
  shadow: $shadow-1;
  border-radius: 3px;
}

.proposalsContainer.boostedProposalsContainer {
  margin: 10px 0 20px 0;
}

.member {
  padding: 15px;
  border-bottom: $proposal-item-border-bottom;
}

.openProposal {
  border: 1px solid white;
}

a {
  text-decoration: none;
}

a.navItem {
  font-size: $body;
  color: $black-halftone;
  padding: 10px 0;
  position: relative;
  z-index: 100;
  transition: all .25s ease;
  display: inline-block;
  height: 50px;
  line-height: 50px;
  vertical-align: middle;
  margin: 0 30px;
  border-bottom: 3px solid $accent-4-transparent;
}

a.navRedemption {
  font-size: $body;
  color: rgba(34, 159, 110, 1.000);
  padding: 10px 0;
  position: relative;
  z-index: 100;
  transition: all .25s ease;
  display: inline-block;
  height: 50px;
  line-height: 50px;
  vertical-align: middle;
  margin: 0 0 0 30px;
  border-bottom: 3px solid $accent-4-transparent;
}

a.navRedemption:hover {
  font-size: $headline-2;
  color: rgba(34, 159, 110, 1.000);
  border-bottom: 3px solid rgba(34, 159, 110, 1.000);
}

.nav a.navItem:nth-child(1) {
  margin-left: 0;
}

a.createProposal {
  transform: rotate(-45deg);
  background-image: linear-gradient(-206deg, #6CDBEA 0%, #3AB4D0 95%);
  box-shadow: 0 10px 15px 0 rgba(0,0,0,0.16);
  width: 42px;
  height: 42px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 10000;

  img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%) rotate(45deg);
    margin-left: 3px;
    margin-top: 2px;
  }
}

.redeemAllRewardsButton {
  border: 1px solid $accent-1;
  font-weight: bold;
  float: right;
  color: $accent-1;
  font-size: $body;
  padding: 8px 11px;
  transition: all .25s ease;
  background-color: rgba(0, 211, 167, 0);
  vertical-align: middle;
  float: right;
  cursor: pointer;
  position: relative;
  top: 30px;
}

.redeemAllContainer {
  position: absolute;
  right: 30px;
}

.pendingRewards {
  float: right;
  position: relative;
  top: 38px;
  font-size: $body;
  right: 10px;
}


.nav span.redemptionNotification {
  display: inline-block;
  width: 14px;
  height: 14px;
  background: none;
  border: 1px solid rgba(34, 159, 110, 1.000);
  color: rgba(34, 159, 110, 1.000);
  padding: 1px 1px 1px 1px;
  text-align: center;
  line-height: 13px;
  border-radius: 28px;
  font-size: 10px;
  position: absolute;
  top: 51%;
  transform: translateY(-50%);
  left: -24px;
}

.buyGen {
  font-size: $small;
}

a.createProposal:hover {
  background-color: $accent-1;
  color: $white;
}

a.navItem.selected {
  font-size: $headline-2;
  color: $black;
  border-bottom: 3px solid rgba(67, 67, 67, 1.000);
}

a.navItem:hover {
  font-size: $headline-2;
  color: $black;
  border-bottom: 3px solid rgba(67, 67, 67, 1.000);
}

.daoAvatar {
  background-color: $white;
  box-shadow: $shadow-2;
  width: 50px;
  height: 50px;
  text-align: center;
  transform: rotate(45deg);
  position: absolute;
  top: 0;
  left: 13px;

  img {
    max-width: 30px;
    max-height: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) rotate(-45deg);
  }
}

.holdings {
  float: right;
  width: 180px;
  text-align: right;
  font-size: 14px;
  margin-top: 10px;
  text-transform: uppercase;

  h4 {
    font-weight: bold;
    margin-bottom: 0;
    margin-top: -7px;
  }
  div {
    opacity: 0.75;
  }
}

.daoDescription {
    float: left;
    width: 360px;
    padding-left: 90px;
    margin-top: -13px;
}

.daoInfo {
  max-width: 500px;
  position: relative;
  float: left;

  .daoReputationInfo {
    font-size: $caption;
    color: $black-halftone;

    img {
      position: relative;
      top: 4px;
      margin-right: 5px;
    }

    a {
      opacity: .5;
      text-decoration: underline;
      color: $black-septone;
    }

    a:visited {
      color: $black-halftone;
    }
  }

}

.daoName {
  font-family: $heading-1-font;
  font-size: $jumbo;
  margin-bottom: -8px;
  padding-top: 2px;
  padding-bottom: 2px;
}

.daoPrefs {
  display: inline;
  background-color: transparent;
  border: $gray-border-halftone;
  padding: 5px 5px 4px 5px;
  border-radius: 50px;
  position: relative;
  top: -3px;
  left: 6px;
  opacity: .5;
}

.genTitle {
    font-weight: 700;
    font-size: 32px;
    width: 80px;
    float: left;
    text-align: center;
    position: relative;
    top: 2px;
}

.genStats {
  width: 90px;
  float: left;

  .caption {
    padding-top: 10px;
  }
}

.centered {
  text-align: center;
}

.small {
  font-size: $small;
}

.caption {
  font-size: $caption;
}

.leftAlign {
  text-align: left;
}

.rightAlign {
  text-align: right;
}

.boostedContainer, .regularContainer {
  position: relative;
  margin-top: 20px;
}

.proposalsHeader {
  font-size: $subheader;
  position: relative;
  padding-top: 20px;
  padding-bottom: 10px;
  color: $black-halftone;
  font-weight: $bold;
  max-width: 380px;

  span {
    position: absolute;
    right: 0;
    font-size: $body;

    span {
      font-weight: $bold;
      position: relative;
    }
  }
}

.noDecisions {
  padding: 50px 0;
  text-align: center;

  .relax {
    width: 100px;
    display: block;
    margin: 0 auto;
    opacity: .3;
  }

  .proposalsHeader {
    font-family: $heading-1-font;
    font-size: $jumbo;
    padding-top: 30px;
    max-width: 100%;
  }

  .subheader {
    font-size: $subheader;
    color: $black-halftone;
  }

  .cta {
    padding-top: 50px;

    a {
      border: 1px solid $accent-4;
      height: 40px;
      background-color: $accent-4-transparent;
      transition: all .25s ease;
      display: inline-block;
      line-height: 30px;
      margin: 0 auto;
      color: $accent-4;
      font-weight: bold;
      font-size: $body;
      padding: 7px 15px 0 15px;
      text-decoration: none;

      &:hover {
        background-color: $accent-4;
        color: $white;
      }
    }
  }
}

.fadeEnter {
  opacity: 0.01;
}

.fadeEnter.fadeEnterActive {
  opacity: 1;
  transition: opacity 1000ms ease-in;
}

.fadeExit {
  opacity: 1;
}

.fadeExit.fadeExitActive {
  opacity: 0.01;
  transition: opacity 1000ms ease-in;
}

.hidden {
  display: none;
}

.tourModal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000000;
  width: 100%;
  height: 100%;
  overflow: scroll;

  .accessTour {
    position: absolute;
    z-index: 100;
    right: 65px;
    top: 77px;

    button {
      position: absolute;
      right: 0;
      border: none;
      background: none;
      outline: none;
    }

    div {
      color: white;
      position: relative;
      top: 47px;
    }
  }

  .bg {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.85);
  }

  .tourStart {
    h1 {
      margin-bottom: 0;
      line-height: 24px;
      font-size: 34px;
    }
    span {
      font-size: $body;
      opacity: .7;

      img {
        position: relative;
        top: 6px;
        margin-left: 5px;
      }
    }
  }

  .tourStart, .tourEnd {
    text-align: center;
    padding: 30px;
    position: absolute;
    width: 480px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 100;
    color: $white;

    button {
      font-size: $subheader;
      color: $white;
      border: 1px solid $white;
      margin: 0 10px;
      background-color: rgba(255,255,255,0);
      padding: 10px 15px;
      line-height: $subheader;
      font-family: $body-font;

      img {
        margin-right: 8px;
      }

      &:hover {
        background-color: $white-halftone;
      }
    }

    button.startButton {
      color: $black;
      background-color: $white;
      font-weight: bold;
      cursor: pointer;
    }

    h1 {
      font-family: $heading-1-font;
      font-size: 34px;
    }

    p {
      margin: 30px 0;
    }

    a {
      color: $white;
      text-decoration: underline;
    }
  }
}

@media only screen and (min-width: 645px) {
  .tourModal {
    .accessTour {    
      right: 66px;
      top: 61px;
    }
  }
}

@media only screen and (min-width: 768px) {
  .wrapper {
    max-width: $max-width;
    margin: 0 auto;
    padding: 0 30px;
  }
}


@media only screen and (min-width: 850px) {
  .wrapper {
    max-width: $max-width;
    margin: 0 auto;
    padding: 0 30px;
  }

  .tourModal .tourStart h1, .tourModal .tourEnd h1 {
    font-size: 48px;
  }
}


@media only screen and (min-width: 1127px) {
  .tourModal {
    .accessTour {
      top: 47px;
    }
  }
}