.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.loading {
  width: 100%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%)
}

button:hover {
  cursor: pointer;
}

.wrapper {
  flex-grow: 2;
  padding: 50px 50px 100px;
  overflow: scroll;
  position: relative;
}

.proposalHistory {
  display: block;
}

.outer {
  position: fixed;
  display: flex;
  height: 100%;
  width: 100%;
}


.closedProposalsHeader {
  display: block;
  width: 100%;
  max-width: 960px;
  margin: 0 auto 10px auto;
  display: flex;
  font-size: 12px;
  font-weight: bold;
  text-align: left;

  .votes, .predictions {
    width: 100px;
  }

  .proposalCreator {
    width: 100px;
  }

  .endDate {
    width: 50px;
  }

  .title {
    width: 250px;
  }

  .closeReason {
    width: 160px;
    position: relative;
  }

  .myActions {
    text-align: left;
  }
}


.noticeWrapper {
  width: 100%;
  position: fixed;
  display: flex;
  height: 40px;
  bottom: 0;
  left: 0;
}

.noticeBuffer {
  min-width: 250px;
  max-width: 250px;
  flex-grow: 1;
  height: 100%;
}

.notice {
  flex-grow: 2;
  background-color: white;
  padding: 11px 8px;
  color: rgba(80, 97, 118, 1.000);
  font-size: 11px;
  text-align: left;
  width: 100%;

  div {
    padding-left: 15px;

    img {
      margin-right: 8px;
    }

    b {
      color: $accent-3;
    }
  }

  .notice::after {
    content: "";
    clear: both;
    display: table;
  }
  .closeNotice {
    position: absolute;
    border: none;
    outline: none;
    right: 6px;
    top: 13px;
  }
}

.menuWrapper {
  bottom: 0;
  position: absolute;
  height: 270px;
  left: 0;
  width: 100%;
  border-top: 2px solid rgba(78, 137, 208, 1.000);
  transition: all .25s ease;
  padding-top: 20px;

  ul {
    width: 100%;
    margin: 0;
    transition: all .25s ease;
    padding: 0;
    position: relative;

    li {
      position: initial;
      list-style: none;
      margin: 0;
      width: 100%;
      height: 24px;

      a {
        color: rgba(196, 215, 236, 1.000);
        text-decoration: none;
        padding: 5px 0 5px 30px;
        width: auto;
        display: block;
        font-size: 12px;
      }

      a:hover {
        background-color: rgba(32, 104, 188, 1.000);
        cursor: pointer;
      }

      ul {
        left: 50px;
        top: -120px;
        opacity: 0;
        transform: scale(0);
        transition: all .25s ease;

        li {
          text-align: center;

          a {
            padding: 5px 5px 5px 5px;
          }

          img {
            position: relative;
            top: 0;
            left: 0;
          }
        }
      }
      &:hover ul {
        left: 0;
        opacity: 1;
        transform: scale(1);
        top: -120px;
        transform: translateX(100%);
        background-color: rgba(32, 104, 188, 1.000);
      }
    }

    li.daoStack {
      padding-top: 10px;

      img {
        margin-top: -3px;
        top: 4px;
        position: relative;
      }
    }
  }
}

.daoIcon {
    width: 40px;
    height: 40px;
    display: inline-block;
    border: 5px solid rgba(255,255,255,.5);
    border-radius: 40px;
    background-image: url(http://localhost:3000/assets/images/DaoList/pattern.png);
    background-repeat: repeat;
}


.daoSidebar {
  min-width: 250px;
  position: relative;
  max-width: 250px;
  height: 100%;
  background-color: $sky;
  color: $white;
  flex-grow: 1;
}

.navHeading {
  font-size: 12px;
  border-bottom: 1px solid rgba(78, 137, 209, 1.000);
  width: 100%;
  display: block;
  margin-top: -30px;

  b {
    display: inline-block;
    background-color: #3178ca;
    margin-right: 10px;
    position: relative;
    left: 15px;
    top: 17px;
    padding: 10px;
    font-weight: normal;
    color: rgba(255,255,255,.5);
  }

}

.homeNotification, .holdersNotification, .historyNotification, .redemptionNoticication {
  opacity: 0;
}

.redemptionNoticication {
  opacity: 1;
}

.daoNavigation {
  position: relative;
  height: 100%;

  .daoName {
    padding: 15px;

    a {
      display: block;
      position: relative;
      font-size: 24px;
      font-weight: bold;

      span {
        position: absolute;
        padding-left: 60px;
        top: 50%;
        left: 0;
        margin-top: -3px;
        transform: translateY(-50%);
      }
    }

    a:visited {
      color: $white;
    }

    p {
      font-size: 14px;
      opacity: .7;
      padding: 0;
    }
  }
  .navigation {

    ul {
      margin-top: 15px;
      padding: 0;
    }

    li {
      list-style: none;
      margin: 0;
      padding: 0;

      .notification {
        width: 8px;
        height: 8px;
        border-radius: 8px;
        position: relative;
        top: -2px;
        background-color: rgba(246, 80, 80, 1.000);
        display: inline-block;
      }

      img {
        margin-left: 8px;
        position: relative;
        top: 2px;
        margin-right: 8px;
      }

    }
    li a {
      display: block;
      font-size: 14px;
      color: $white;
      padding: 8px 23px 8px 8px;
      background-color: rgba(32, 104, 188, 0);
      transition: all .25s ease;
    }

    li a:visited {
      color: $white;
    }

    li a:hover {
      background-color: rgba(32, 104, 188, 1.000);
    }
  }
}

.daoHoldings {
  display: block;

  ul {
    margin-top: 15px;
    padding: 0;

    li {
      padding: 8px 23px;
      font-size: 14px;
      list-style: none;
    }
  }
}




.loading img {
  margin: 0 auto;
  display: block;
}

.nav {
  padding: 0 30px;
  position: relative;

  span {
    padding: 10px;
  }

  .borderBottom {
    height: 3px;
    width: 100%;
    position: absolute;
    background-color: rgba(216, 216, 216, 1.000);
    z-index: 0;
    bottom: 0;
    left: 0;
    opacity: .4;
  }
}

.columnHeader {
  width: 100%;
  font-size: $small;
  text-transform: uppercase;
  opacity: 0.5;

  .votes {
    float: left;
    width: 55px;
    text-align: center;
  }

  .predictions {
    width: 140px;
    text-align: center;
    float: right;
  }
}

.membersContainer {
  margin: 10px 0;
}

.member {
  padding: 5px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  img {
    flex: none;
    width: 40px;
  }

  .memberAddress {
    flex: auto;
  }

  .socialButton {
    padding: 2px 4px;
    display: inline-block;
  }
}

.proposalsContainer, .membersContainer {

}

.proposalsContainer.boostedProposalsContainer {
  margin: 10px 0 20px 0;
}

.member {
  padding: 15px;
    margin-bottom: 2px;
    background-color: white;
    border-radius: 3px;
}

.openProposal {
  border: 1px solid white;
}

a {
  text-decoration: none;
}

a.navItem {
  font-size: $body;
  color: $black-halftone;
  padding: 10px 0;
  position: relative;
  z-index: 100;
  transition: all .25s ease;
  display: inline-block;
  height: 50px;
  line-height: 50px;
  vertical-align: middle;
  margin: 0 30px;
  border-bottom: 3px solid $accent-4-transparent;
}

a.navRedemption {
  font-size: $body;
  color: rgba(34, 159, 110, 1.000);
  padding: 10px 0;
  position: relative;
  z-index: 100;
  transition: all .25s ease;
  display: inline-block;
  height: 50px;
  line-height: 50px;
  vertical-align: middle;
  margin: 0 0 0 30px;
  border-bottom: 3px solid $accent-4-transparent;
}

a.navRedemption:hover {
  font-size: $headline-2;
  color: rgba(34, 159, 110, 1.000);
  border-bottom: 3px solid rgba(34, 159, 110, 1.000);
}

.nav a.navItem:nth-child(1) {
  margin-left: 0;
}

.daoProposalsContainer {
  padding-bottom: 150px;
  position: relative;
}

.createProposal {
  height: 30px;
  line-height: 30px;
  font-size: 13px;
  color: $white;
  background-color: rgba(3, 118, 255, 1.000);
  border-radius: 15px;
  display: block;
  position: absolute;
  right: 0;
  top: 11px;
  padding: 0 15px;
}

.redeemAllRewardsButton {
  border: 1px solid $accent-1;
  font-weight: bold;
  float: right;
  color: $accent-1;
  font-size: $body;
  padding: 8px 11px;
  transition: all .25s ease;
  background-color: rgba(0, 211, 167, 0);
  vertical-align: middle;
  float: right;
  cursor: pointer;
  position: relative;
  top: 30px;
}

.redeemAllContainer {
  position: absolute;
  right: 30px;
}

.pendingRewards {
  float: right;
  position: relative;
  top: 38px;
  font-size: $body;
  right: 10px;
}


.nav span.redemptionNotification {
  display: inline-block;
  width: 14px;
  height: 14px;
  background: none;
  border: 1px solid rgba(34, 159, 110, 1.000);
  color: rgba(34, 159, 110, 1.000);
  padding: 1px 1px 1px 1px;
  text-align: center;
  line-height: 13px;
  border-radius: 28px;
  font-size: 10px;
  position: absolute;
  top: 51%;
  transform: translateY(-50%);
  left: -24px;
}

.buyGen {
  font-size: $small;
}

a.createProposal:hover {
  background-color: $accent-1;
  color: $white;
}

a.navItem.selected {
  font-size: $headline-2;
  color: $black;
  border-bottom: 3px solid rgba(67, 67, 67, 1.000);
}

a.navItem:hover {
  font-size: $headline-2;
  color: $black;
  border-bottom: 3px solid rgba(67, 67, 67, 1.000);
}

.daoAvatar {
  background-color: $white;
  box-shadow: $shadow-2;
  width: 50px;
  height: 50px;
  text-align: center;
  transform: rotate(45deg);
  position: absolute;
  top: 0;
  left: 13px;

  img {
    max-width: 30px;
    max-height: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) rotate(-45deg);
  }
}

.daoAvatarCircles {
  background-color: gray;
}

.holdings {
  float: right;
  width: 180px;
  text-align: right;
  font-size: 14px;
  margin-top: 10px;
  text-transform: uppercase;

  h4 {
    font-weight: bold;
    margin-bottom: 0;
    margin-top: -7px;
  }
  div {
    opacity: 0.75;
  }
}

.daoDescription {
    float: left;
    width: 360px;
    padding-left: 90px;
    margin-top: -13px;
}

.daoInfo {
  max-width: 500px;
  position: relative;
  float: left;

  .daoReputationInfo {
    font-size: $caption;
    color: $black-halftone;

    img {
      position: relative;
      top: 4px;
      margin-right: 5px;
    }

    a {
      opacity: .5;
      text-decoration: underline;
      color: $black-septone;
    }

    a:visited {
      color: $black-halftone;
    }
  }

}

.daoPrefs {
  display: inline;
  background-color: transparent;
  border: $gray-border-halftone;
  padding: 5px 5px 4px 5px;
  border-radius: 50px;
  position: relative;
  top: -3px;
  left: 6px;
  opacity: .5;
}

.genTitle {
    font-weight: 700;
    font-size: 32px;
    width: 80px;
    float: left;
    text-align: center;
    position: relative;
    top: 2px;
}

.genStats {
  width: 90px;
  float: left;

  .caption {
    padding-top: 10px;
  }
}

.centered {
  text-align: center;
}

.small {
  font-size: $small;
}

.caption {
  font-size: $caption;
}

.leftAlign {
  text-align: left;
}

.rightAlign {
  text-align: right;
}

.boostedContainer, .regularContainer {
  position: relative;
  margin-top: 20px;
}

.queueType {
  margin-top: 0;
  font-weight: bold;
  padding: 0;
  color: rgba(104, 155, 214, 1.000);
}

.daoHistoryHeader {
    font-size: 28px;
    color: rgba(104, 155, 214, 1.000);
    border-bottom: 1px solid rgba(45, 109, 181, .2);
    padding-bottom: 5px;
    font-weight: bold;
    margin-bottom: 30px;
}

.redemptionsHeader {
  font-size: 28px;
  font-weight: bold;
  color: rgba(104, 155, 214, 1);
  padding-bottom: 5px;
  border-bottom: 1px solid rgba(191, 203, 213, 1);

  span {
    font-size: 13px;
    font-weight: bold;
    color: rgba(104, 155, 214, 1.000);
    border-left: 1px solid rgba( 191, 203, 213, 1);
    display: inline-block;
    margin-left: 15px;
    padding-left: 15px;
    

    span {
      border-left: none;
      margin-left: none;
    }
  }

}

.proposalsHeader {
  font-size: 16px;
  position: relative;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 1px solid rgba(191, 203, 213, 1.000);
  color: $black-halftone;
  font-weight: $bold;

  span {
    position: absolute;
    right: 0;
    font-size: $body;

    span {
      font-weight: $bold;
      position: relative;
    }
  }
}

.noDecisions {

    padding: 50px;
    text-align: center;
    background-color: white;
    border-radius: 15px 15px 15px 0;
    margin-top: 80px;
    box-shadow: 0 0 15px 0 rgba(133,168,208,.15);

  .relax {
    width: 100px;
    display: block;
    margin: 0 auto;
    opacity: .3;
  }

  .proposalsHeader {
    font-size: $jumbo;
    padding-top: 30px;
    border-top: none;
    max-width: 100%;
    color: rgba(27, 53, 96, 1.000);
  }

  .subheader {
    font-size: $subheader;
    color: $black-halftone;
  }

  .cta {
    padding-top: 50px;

    a {
      height: 60px;
      line-height: 60px;
      font-size: 22px;
      color: white;
      background-color: #0376ff;
      border-radius: 15px;
      display: inline-block;
      padding: 0 30px;

      &:hover {
        background-color: $accent-4;
        color: $white;
      }
    }
  }
}

.fadeEnter {
  opacity: 0.01;
}

.fadeEnter.fadeEnterActive {
  opacity: 1;
  transition: opacity 1000ms ease-in;
}

.fadeExit {
  opacity: 1;
}

.fadeExit.fadeExitActive {
  opacity: 0.01;
  transition: opacity 1000ms ease-in;
}

.hidden {
  display: none;
}

.tourModal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000000;
  width: 100%;
  height: 100%;
  overflow: scroll;

  .accessTour {
    position: absolute;
    z-index: 100;
    right: 65px;
    top: 77px;

    button {
      position: absolute;
      right: 0;
      border: none;
      background: none;
      outline: none;
    }

    div {
      color: white;
      position: relative;
      top: 47px;
    }
  }

  .bg {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.85);
  }

  .tourStart {
    h1 {
      margin-bottom: 0;
      line-height: 24px;
      font-size: 34px;
    }
    span {
      font-size: $body;
      opacity: .7;

      img {
        position: relative;
        top: 6px;
        margin-left: 5px;
      }
    }
  }

  .tourStart, .tourEnd {
    text-align: center;
    padding: 30px;
    position: absolute;
    width: 480px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 100;
    color: $white;

    button {
      font-size: $subheader;
      color: $white;
      border: 1px solid $white;
      margin: 0 10px;
      background-color: rgba(255,255,255,0);
      padding: 10px 15px;
      line-height: $subheader;
      font-family: $body-font;

      img {
        margin-right: 8px;
      }

      &:hover {
        background-color: $white-halftone;
      }
    }

    button.startButton {
      color: $black;
      background-color: $white;
      font-weight: bold;
      cursor: pointer;
    }

    h1 {
      font-family: $heading-1-font;
      font-size: 34px;
    }

    p {
      margin: 30px 0;
    }

    a {
      color: $white;
      text-decoration: underline;
    }
  }
}

@media only screen and (min-width: 645px) {
  .tourModal {
    .accessTour {
      right: 66px;
      top: 61px;
    }
  }
}

@media only screen and (min-width: 768px) {
  .wrapper {
  }
}


@media only screen and (min-width: 850px) {
  .wrapper {

  }

  .tourModal .tourStart h1, .tourModal .tourEnd h1 {
    font-size: 48px;
  }
}


@media only screen and (min-width: 1127px) {
  .tourModal {
    .accessTour {
      top: 47px;
    }
  }
}
