.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.wrapper {
  max-width: $max-width;
  margin: 0 auto;
}

.daoHeader {
  padding: 30px 0;
  width: 100%;
}

.nav {
  width: 100%;
  padding-bottom: 40px;
  span {
    padding: 10px;
  }
}

.membersContainer {
  margin: 10px 0;
}

.member {
  padding: 5px 0;
}

.proposalsContainer {
  margin: 10px 0;
}

.openProposal {
  border: 1px solid white;
}

.failedProposal {
  border: 1px solid red;
}

.passedProposal {
  border: 1px solid green;
}

a {
  text-decoration: none;
}

a.navItem {
  font-size: $body;
  color: $black-halftone;
  padding: 20px 0;
  transition: all .25s ease;
  margin: 10px 30px;
  border-bottom: 3px solid $accent-4-transparent;
}

.nav a.navItem:nth-child(1) {
  margin-left: 0;
}

a.createProposal, .buyGen {
  border: 1px solid $accent-1;
  float: right;
  color: $accent-1;
  font-size: $caption;
  padding: $button-padding;
  transition: all .25s ease;
  background-color: $accent-1-transparent;
  border-radius: $button-border-radius;
  vertical-align: middle;
}

.buyGen {
  font-size: $small;
}

a.createProposal:hover {
  background-color: $accent-1;
  color: $white;
}

a.navItem.selected {
  font-size: $headline-2;
  font-weight: $bold;
  color: $black;
  border-bottom: 3px solid $accent-4;
}

a.navItem:hover {
  font-size: $headline-2;
  font-weight: $bold;
  color: $black;
  border-bottom: 3px solid $accent-4;
}

.daoAvatar {
  background-color: $white;
  box-shadow: $shadow-3;
  width: 90px;
  float: left;
  height: 90px;
  border-radius: 90px;
  text-align: center;

  img {
    width: 40px;
    height: 40px;
    position: relative;
    top: 24px;
  }
}

.genBox {
  background: rgba(247, 247, 247, 1.000);
  border-radius: 3px;
  padding: 15px;
  float: right;

  .small {
    color: $black-halftone;
  }

  .buyGenContainer {
    padding-top: 10px;
    float: left;
    position: relative;
    top:  -3px;
  }
}

.daoDescription {
  float: left;
  width: 360px;
  padding-left: 20px;
  padding-top: 10px;
}

.daoInfo {
  max-width: 500px;
  float: left;

  .daoReputationInfo {
    font-size: $caption;
    color: $black-halftone;

    a {
      font-weight: $bold;
      text-decoration: underline;
    }
  }

}

.daoName {
  font-size: $display;
}

.daoPrefs {
  display: inline;
  background-color: transparent;
  border: $gray-border-halftone;
  padding: 5px 5px 4px 5px;
  border-radius: 50px;
  position: relative;
  top: -3px;
  left: 6px;
  opacity: .5;
}

.genTitle {
  font-weight: $bold;
  font-size: $display;
  width: 80px;
  float: left;
}

.genStats {
  width: 90px;
  float: left;

  .caption {
    padding-top: 10px;
  }
}

.centered {
  text-align: center;
}

.small {
  font-size: $small;
}

.caption {
  font-size: $caption;
}

.leftAlign {
  text-align: left;
}

.rightAlign {
  text-align: right;
}