.competitionCards {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  padding-top: 30px;
}

.competitionCardContainer {
  border-radius: 14px;
  box-shadow: 0 0 15px 0 rgba(133,168,208,.15);
  background-color: $white;
  overflow: hidden;
  transition: all .25s ease;
  vertical-align: top;
  width: 477px;
  height: 250px;
  overflow: visible; // for the account popup

  .status {
    display: block;
    position: relative;
    margin: 9px 23px 6px 23px;
    width: 122px;
    height: 33px;
    top: 21px;
    left: 178px;
    text-align: center;
    border-radius: 4px;
    background-color: #9aa9b5;
}

  .createdBy {
    display: inline-block;
    font-size: $small;
    color: $black-thirdtone;
    height: 18px;
    float: left;
    padding-top: 9px;
    margin-top: 30px;
    margin-left: 36px;
    position: relative;
  }

  .countdown {
    display: inline-block;
    font-size: $small;
    color: #689bd6;
    height: 18px;
    float: right;
    padding-top: 9px;
    margin-top: 30px;
    margin-right: 37px;
    position: relative;
  }

  .description {
    position: relative;
    margin: 63px 37px 18px 36px;
    text-overflow: ellipsis;
    .detailLink {
      display: block;

      .name{
        display: inline-block;
      }
      
      img {
        display: inline-block;
      }
    }
  }

  .rewards {
    margin: 0px 37px 18px 36px;
    position: relative;
    display: block;
    border: 1px solid rgba(229, 235, 242, 1.000);
    border-radius: 2px;
    font-size: 12px;
    padding: 5px;
    text-align: center;
    font-family: "Open Sans";

    .transferType {
      display: inline-block;
      padding-left: 5px;
    }

    .winners {
      display: inline-block;
      padding-left: 5px;
    }
  }
}

.competitionDetailsContainer {
  display: block;

  .status {
    display: block;
  }

  .gotoProposal {
    display: block;
  }

  .newSolution {
    display: relative;
  }

  .name {
    display: block;
    border-bottom: $gray-border-2;
  }

  .countdown {
    display: block;
  }

  .tagsContainer {
    display: block;
  }

  .description {
    display: block;
  }

  .middleSection {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;

    .leftSection {
      flex-grow: 0;
    }

    .rightSection {
      flex-grow: 1;
      background-color: $white;

      .winners {
        display: inline-block;
      }

      img.transferIcon {
        display: inline-block;        
      }
    }
  }

  .solutions {
    display: block;

    .heading {
      display: block;
      font-weight: 500;
      font-size: 20px;
      width: 100%;
      text-align: center;
    }

    .list {
      background-color: $white;
      display: table;
      width: 100%;

      .row {
        display: table-row;
        width: 100%;

        .description, .creator, .votes {
          display: table-cell;
          padding: 4px 8px;
          // padding-left: 6px;
          // padding-right: 6px;
          // padding-top: 4px;
          // padding-bottom: 4px;
        }

        .description {
          font-weight: 500;
        }

        .winnerIcon {
          display: table-cell;
          img {
            display:none;
          }

          &.isWinner {
            img {
              display: inline-block;
            }
          }
        }
      }

    }
  }
}

.createSolutionForm {
  border-radius: 15px 15px 0 0;
  background-color: $white;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  box-shadow: $shadow-3;
  width: 445px;

  .header {
    background-color: $navy;
    border-radius: 15px 15px 0 0;
    margin: 0;
    color: $white;
    height: 40px;
    opacity: 1;
    font-family: $body-font;
    font-weight: $normal;
    font-size: 16px;
    padding-left: 10px;

    .content {
      display: inline-block;
      position: relative;
      top: 8px;
      white-space: nowrap;
    }

    .proposalTitle {
      position: relative;
      top: 3px;
      display: inline-block;
      font-weight: normal;
      opacity: .5;
      font-size: 14px;
      overflow-x: hidden;
      text-overflow: ellipsis;
      max-width: 318px;
    }
  }

  form {
    padding: 20px 30px 30px 30px;

    input {
      margin-top: 3px;
      margin-bottom: 5px;
      width: 100%;
      display: block;
      border: none;
      background-color: transparent;
      border: $gray-border-2;
      font-size: 13px;
      padding: 0 15px;
      box-sizing: border-box;
      font-family: $body-font;
      height: 35px;
      line-height: 35px;

      &.error {
        border: 1px solid rgba(246, 80, 80, 1.000);
      }
      &:focus {
        outline: none;
        border: 1px solid rgba(46, 168, 122, 1.000);
      }
    }

    input::placeholder, textarea::placeholder {
        color: rgba(154, 169, 181, 1.000);
    }

    label {
      color: rgba(80, 97, 118, 1.000);
      display: block;
      width: fit-content;
      font-size: 13px;
      font-weight: bold;
      padding: 5px 6px 0 0;
      position: relative;

      .requiredMarker {
        position: absolute;
        top: 26px;
        color: rgba(104, 154, 214, 1.000);
        font-weight: bold;
        left: 5px;
      }


      .infoTooltip {
        position: absolute;
        right: 0;
        display: none;
        right: -17px;
      }
    }

    .errorMessage {
      font-weight: normal;
      padding-left: 10px;
      color: rgba(246, 80, 80, 1.000);
      font-size: 11px;
      font-weight: 300;
    }

    .errorMessage.someReward {
      display: block;
      text-align: center;
      text-transform: uppercase;
      left: 0;
      font-size: $small;
      z-index: -10;
      font-weight: 300;
    }
  }

  .exitProposalCreation {
    cursor: pointer;
    height: 30px;
    display: inline-block;
    margin: 0 5px;
    font-weight: normal;
    font-size: 13px;
    padding: 0 25px 2px 25px;
    font-family: $body-font;
    transition: all .25s ease;
    border: none;
    background-color: rgba(225, 235, 247, 1.000);
    border-radius: 15px;
    color: rgba(0, 113, 255, 1.000);
  }

  .submitProposal {
    height: 30px;
    border: none;
    display: inline-block;
    margin: 0 5px;
    font-weight: normal;
    font-size: 13px;
    padding: 0 25px 2px 25px;
    font-family: $body-font;
    font-weight: bold;
    transition: all .25s ease;
    background-color: rgba(0, 113, 255, 1.000);
    border-radius: 15px;
    color: $white;

    &:hover {
      cursor: pointer;
    }

    img {
      position: relative;
      top: 4px;
      margin-right: 8px;
    }

    .loading {
      width: 18px;
      display: none;
    }
  }

  .tagSelectorContainer {
    padding-top: 0;
  }

  .tagSelectorLabel {
    margin-top: 4px;
  }

  .submitProposal:disabled .loading {
    display: inline-block;
  }

  .submitProposal:disabled {
    background-color: rgba(200,200,200,.5);
    border: 1px solid rgba(200,200,200,1);
    color: rgba(75,75,75,1);
  }

  .submitProposal:disabled .sendIcon {
    display: none;
  }

  .createProposalActions {
    text-align: right;
    margin-top: 20px;
  }
}

a.blueButton {
  height: 30px;
  line-height: 30px;
  font-size: 13px;
  color: white;
  background-color: rgba(5, 118, 255, 1.000);
  transition: all .25s ease;
  border-radius: 15px;
  display: inline-block;
  padding: 0 22px;

  &:hover {
    background-color: rgba(19, 46, 91, 1.000);
    color: $white;
  }

  &.disabled, &disabled:hover {
    background-color: rgba(200,200,200,.5);
    border: 1px solid rgba(200,200,200,1);
    cursor: not-allowed;
  }
}
