.competitionCards {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  padding-top: 30px;
}

.competitionCardContainer {
  border-radius: 0 15px 15px 15px;
  box-shadow: 0 0 15px 0 rgba(133,168,208,.15);
  background-color: $white;
  padding: 20px;
  overflow: hidden;
  transition: all .25s ease;
  vertical-align: top;
  height: auto;
  overflow: visible; // for the account popup

  .status {
    display: block;
}

  .createdBy {
    display: inline-block;
  }

  .countdown {
    display: inline-block;
  }

  .description {
    .detailLink {
      display: block;

      .name{
        display: inline-block;
      }
      
      img {
        display: inline-block;
      }
    }
  }

  .rewards {
    display: block;

    .transferType {
      display: inline-block;
    }
  }
}

.competitionDetailsContainer {
  display: block;

  .status {
    display: block;
  }

  .gotoProposal {
    display: block;
  }

  .newSolution {
    display: relative;
  }

  .name {
    display: block;
    border-bottom: $gray-border-2;
  }

  .countdown {
    display: block;
  }

  .tagsContainer {
    display: block;
  }

  .description {
    display: block;
  }

  .middleSection {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;

    .leftSection {
      flex-grow: 0;
    }

    .rightSection {
      flex-grow: 1;
      background-color: $white;

      .winners {
        display: inline-block;
      }

      img.transferIcon {
        display: inline-block;        
      }
    }
  }

  .solutions {
    display: block;

    .heading {
      display: block;
      font-weight: 500;
      font-size: 20px;
      width: 100%;
      text-align: center;
    }

    .list {
      background-color: $white;
      display: table;
      width: 100%;

      .row {
        display: table-row;
        width: 100%;

        .description, .creator, .votes {
          display: table-cell;
          padding: 4px 8px;
          // padding-left: 6px;
          // padding-right: 6px;
          // padding-top: 4px;
          // padding-bottom: 4px;
        }

        .description {
          font-weight: 500;
        }

        .winnerIcon {
          display: table-cell;
          img {
            display:none;
          }

          &.isWinner {
            img {
              display: inline-block;
            }
          }
        }
      }

    }
  }
}

a.blueButton {
  height: 30px;
  line-height: 30px;
  font-size: 13px;
  color: white;
  background-color: rgba(5, 118, 255, 1.000);
  transition: all .25s ease;
  border-radius: 15px;
  display: inline-block;
  padding: 0 22px;

  &:hover {
    background-color: rgba(19, 46, 91, 1.000);
    color: $white;
  }

  &.disabled, &disabled:hover {
    background-color: rgba(200,200,200,.5);
    border: 1px solid rgba(200,200,200,1);
    cursor: not-allowed;
  }
}
