.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.wrapper {
  position: relative;
  max-width: $max-width;
  margin: 0 auto;
  padding: 0 30px;
}

.loading img {
  margin: 0 auto;
}

.dao {
	top: 60px;
	width: 200px;
	height: 200px;
	box-shadow: $shadow-1;
	background-image: linear-gradient(-222deg, #FDB93E 0%, #1CBDF7 100%);
	border-radius: 3px;
	position: relative;
	display: inline-block;
	margin: 40px 15px;
	position: relative;
	left: -15px;
	text-align: center;
	top: 10px;

	.daoAvatar {
		position: absolute;
		top: -45px;
		left: 50%;
		transform: translateX(-50%);
	}
}

.daoAvatar {
  background-color: $white;
  box-shadow: $shadow-3;
  width: 90px;
  float: left;
  height: 90px;
  border-radius: 90px;
  position: relative;

  img {
  	max-width: 40px;
  	max-height: 40px;
  	position: absolute;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%,-50%);
  }
}

a.daoLink {
	text-decoration: none;
	color: $white;
	text-align: center;

	.daoName {
		font-size: 20px; //$headline-2;
		font-weight: $normal;
		font-family: $heading-1-font;
		padding-top: 50px;
		margin-bottom: 10px;
	}

	.daoInfo {
		font-size: $body;
	}

}

.daoListHeader {
	width: 100%;
	padding-top: 30px;

	h2 {
		float: left;
		display: block;
		width: 50%;
	}

	a {
		float: right;
		display: block;
		width: 110px;
		text-align: center;
		border: 1px solid $accent-1;
		float: right;
		color: $accent-1;
		font-size: $caption;
		padding: $button-padding;
		transition: all .25s ease;
		background-color: $accent-1-transparent;
		border-radius: $button-border-radius;
		vertical-align: middle;
	}
}