.wrapper {
  position: relative;
  max-width: $max-width;
  margin: 0 auto;
  padding: 0 30px;
}

.loading img {
  margin: 0 auto;
}

.daoInfoContainer {
	text-align: center;
}

.dao {
	top: 60px;
	width: 480px;
	background-color: $white;
	border-radius: 15px;
	position: relative;
	display: inline-block;
	margin: 0 0 20px 20px;
	position: relative;
	left: -15px;
	top: 10px;
	box-shadow: 0 0 15px 0 rgba(133,168,208,.15);
}

.daoInfoTitle {
	text-align: center;
	font-size: 13px;
	color: rgba(104, 155, 214, 1.000);
	border-bottom: 1px solid rgba(229, 235, 242, 1.000);
	padding: 0 5px 10px 0;
}

a.daoLink {
	text-decoration: none;
	color: $white;
	text-align: left;

	.daoName {
		border-radius: 15px 15px 0 0;
		font-size: 28px;
		font-weight: bold;
		padding: 30px;
		margin: 0;
		margin-bottom: 10px;
		color: $white;
		background-repeat: repeat;
	}

	.daoInfo {
		color: $black;
		font-size: $body;
		float: left;
		width: 33%;
		display: inline-block;
		padding: 30px 0;

		b {
			font-size: 30px;
			text-align: center;
			display: block;
		}

		span {
			display: block;
			text-align: center;
			font-size: 16px;
			color: $gray-1;
		}
	}

}

.daoListHeader {
	width: 100%;
	padding-top: 30px;

	h2 {
		color: rgba(104, 155, 214, 1.000);
		display: block;
		font-size: 28px;
		font-weight: bold;
		border-bottom: 1px solid rgba(195, 212, 231, 1.000);
		padding: 0;
		margin-bottom: 30px;
	}

	a {
		float: right;
		display: block;
		width: 110px;
		text-align: center;
		border: 1px solid $accent-1;
		float: right;
		color: $accent-1;
		font-size: $caption;
		padding: $button-padding;
		transition: all .25s ease;
		background-color: $accent-1-transparent;
		border-radius: $button-border-radius;
		vertical-align: middle;
	}
}

@media only screen and (max-width: 425px) {
	.wrapper {
		width: auto;
		padding: 0;
    text-align: center;
	}

	.dao {
		width: auto;
		border-radius: 0;
		margin: 0 0 15px 0;
		left: 0;
	}

	a.daoLink .daoName {
		border-radius: 0 0 0 0;
	}

	a.daoLink .daoInfo b {
		font-size: 20px;
	}

	.daoLink .daoInfo {


		span {
			font-size: 13px;
			font-weight: normal;
			font-family: "Open Sans";
		}
	}

	.daoListHeader h2 {
		text-align: center;
	}
}
