.body {
  width: 100%;
}

.wrapper {
  padding: 20px 30px;
  box-shadow: 0 1px 8px 0 $gray-1;
}

.label {
  color: $gray-label;
  display: block;
  width: fit-content;
  font-size: 13px;
  font-weight: bold;
  padding: 5px 6px 0 0;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 98px;
  width: 100%;
}
