.proposalSummary {
  position: relative;
  border: 1px solid rgba(229, 235, 242, 1.000);
  border-radius: 2px;
  font-size: 12px;
  display: inline-block;
  padding: 5px;
  display: block;
  text-align: center;
  font-family: "Open Sans";

  strong {
    font-weight: normal;
  }

  a {
    color: rgba(104, 154, 214, 1.000);
  }
}

.copyButton {
  cursor: pointer;
}

.proposalSummary.detailView em {
  text-decoration: none;
  font-style: normal;
  opacity: .6;
  word-break: break-word;
}

.PluginRegisterIcon {
  color: rgba(0, 118, 255, 1.000);
  font-weight: bold;
}

.proposalSummary.withDetails {
  margin: 0 11px;
  font-size: 14px;
  padding: 6px 15px;
}

.detailView.proposalSummary, .transactionModal.proposalSummary {
  box-shadow: 0 1px 12px 0 rgba(26, 60, 88, 0.09);
  background-color: $white;
  font-size: 16px;
  padding: 15px;
  margin: 0 0 0 0;
  width: 100%;
}


.detailView.proposalSummary.withDetails {
  font-size: 13px;
  padding: 0;

  .summaryTitle {
    padding: 20px;
    display: block;
    font-family: "AccordBold";
    border-bottom: 1px solid rgba(233, 238, 244, 1.000);

    b {
      display: inline-block;
      margin-right: 8px;
    }

    a {
      display: inline-block;
      margin-left: 8px;
    }
  }

  .iconPadding {
    margin-right: 10px;
  }

  .summaryDetails {
    padding: 20px;
    margin: 0;

    th {
      color: rgba(78, 97, 118, 1.000);
      font-weight: normal;
      vertical-align: top;

      img {
        margin-left: 5px;
        position: relative;
        top: 1px;
      }
    }

    td {
      color: $gray-1;

      span {
        display: inline-block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-right: 5px;
      }

      img {
        position: relative;
        top: -2px;
        left: 2px;
        height: 14px;
      }
    }
  }

  ul.summaryDetails {
    padding-left: 40px;
  }

  table {
    border-top: none;
  }
}

.transactionModal.proposalSummary {
  max-width: 400px;
  margin: 0 auto;
}

.transferAmount {
  color: $accent-1;
  margin: 0 3px;
}

.accountName {
  color: rgba(80, 97, 118, 1.000);
}

.transferType {
  display: inline-block;
  color: rgba(80, 97, 118, 1.000);

  strong {
    color: rgba(80, 97, 118, 1.000);

    em {
      color: rgba(80, 97, 118, 1.000);
      font-style: normal;
      font-weight: normal;
    }
  }
}

.transferIcon {
  vertical-align: middle;
  margin-right: 7px;
}

.detailView {
  text-align: left;

  table {
    font-size: 13px;
    border-top: 1px solid gray;
  }
}

@media only screen and (max-width: 425px) {
  .detailView.proposalSummary, .transactionModal.proposalSummary {
    width: auto;
  }
}
