.proposalSummary {
  position: relative;
  border: 1px solid rgba(229, 235, 242, 1);
  border-radius: 2px;
  font-size: 12px;
  padding: 5px;
  display: block;
  text-align: center;
  font-family: "Open Sans";

  strong {
    font-weight: normal;
  }

  a {
    color: rgba(104, 154, 214, 1);
  }

  /* Blink for Webkit and others
(Chrome, Safari, Firefox, IE, ...)
*/
  @keyframes blinker {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }

  @-webkit-keyframes blinker {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }

  .warning {
    text-decoration: blink;
    animation-name: blinker;
    -webkit-animation-name: blinker;
    animation-duration: 0.6s;
    -webkit-animation-duration: 0.6s;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    -webkit-animation-timing-function: ease-in-out;
    animation-direction: alternate;
    -webkit-animation-direction: alternate;
    color: red;
    font-weight: 600;
  }
}

.copyButton {
  cursor: pointer;
}

.proposalSummary.detailView em {
  text-decoration: none;
  font-style: normal;
  opacity: 0.6;
  word-break: break-word;
}

.PluginRegisterIcon {
  color: rgba(0, 118, 255, 1);
  font-weight: bold;
}

.proposalSummary.withDetails {
  margin: 0 11px;
  font-size: 14px;
  padding: 6px 15px;
}

.detailView.proposalSummary,
.transactionModal.proposalSummary {
  box-shadow: 0 1px 12px 0 rgba(26, 60, 88, 0.09);
  background-color: $white;
  font-size: 16px;
  padding: 15px;
  margin: 0 0 0 0;
  width: 100%;
}

.detailView.proposalSummary.withDetails {
  font-size: 13px;
  padding: 0;

  .summaryTitle {
    padding: 20px;
    display: block;
    font-family: "AccordBold";
    border-bottom: 1px solid rgba(233, 238, 244, 1);

    b {
      display: inline-block;
      margin-right: 8px;
    }

    a {
      display: inline-block;
      margin-left: 8px;
    }
  }

  .iconPadding {
    margin-right: 10px;
  }

  .summaryDetails {
    padding: 20px;
    margin: 0;

    a {
      color: #0071ff;
    }

    th {
      color: rgba(78, 97, 118, 1);
      font-weight: normal;
      vertical-align: top;
    }

    th img {
      margin-left: 5px;
      position: relative;
      top: 1px;
    }

    pre .arrayItem {
      margin-left: 8px;
    }

    td {
      color: $gray-1;

      span {
        display: inline-block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-right: 5px;
      }

      img {
        position: relative;
        top: -2px;
        left: 2px;
        height: 14px;
      }
    }
  }

  .summaryDetails ul {
    padding-left: 40px;
  }

  table {
    border-top: none;
  }
}

.transactionModal.proposalSummary {
  max-width: 400px;
  margin: 0 auto;
}

.transferAmount {
  color: $accent-1;
  margin: 0 3px;
}

.accountName {
  color: rgba(80, 97, 118, 1);
}

.transferType {
  display: inline-block;
  color: rgba(80, 97, 118, 1);

  strong {
    color: rgba(80, 97, 118, 1);

    em {
      color: rgba(80, 97, 118, 1);
      font-style: normal;
      font-weight: normal;
    }
  }
}

.transferIcon {
  vertical-align: middle;
  margin-right: 7px;
}

.bold {
  font-weight: bold;
}

.detailView {
  text-align: left;

  table {
    font-size: 13px;
    border-top: 1px solid gray;
  }
}

@media only screen and (max-width: 425px) {
  .detailView.proposalSummary,
  .transactionModal.proposalSummary {
    width: auto;
  }
}
