.predictions {
  .stakesFor span, .stakesAgainst span {
    width: 50px;
  }

  span {
    text-align: left;
    display: inline-block;
    color: rgba(104, 154, 214, 1.000);
    min-width: 3%;
    font-size: 13px;

    b {
      font-weight: normal;
      font-size: 11px;
      text-align: center;

      img {
        display: none;
      }
    }
  }

  .disabledPredictions {
    font-size: 11px;
    color: rgba(154, 169, 181, 1.000);
  }

  button {
    font-weight: $bold;
    color: rgba(3, 118, 255, 1.000);
    background-color: rgba(225, 235, 247, 1.000);
    height: 25px;
    line-height: 14px;
    position: relative;
    border: 0;
    margin: 0 1px;
    display: inline-block;
    width: 60px;
    top: 0;

    strong {
      opacity: 1;
    }

    img {
      opacity: 0;
      position: absolute;
      width: 12px;
    }

    img.stakeIcon {
      opacity: 1;
      top: 1px;
      position: relative;
    }
  }

  button.pendingPrediction {

    strong {
      opacity: 0;
    }

    img {
      opacity: 1;
    }
  }

  button:hover {
    cursor: pointer;
  }

  table {
    text-align: left;
    font-weight: $bold;
    width: 140px;

    .predicted {
      font-style: italic;
    }

    .passPrediction {
      text-align: right;
      color: $black-halftone;

      button {
        border: 1px solid $black-tenthtone;
        color: $black-halftone;
        transition: all .25s ease;

        &:hover {
          color: $accent-1;
          border: 1px solid $accent-1;
        }

        strong {
          color: $accent-1;
        }

        img {
          top: 2px;
          right: 6px;
        }
      }

      button.pendingPrediction {
        animation: pendingPassPrediction 2s ease infinite;
      }
    }

    .failPrediction {
      color: $black-halftone;
      text-align: right;

      button {
        color: $black-halftone;
        border: 1px solid $black-tenthtone;
        transition: all .25s ease;

        &:hover {
          color: $accent-2;
          border: 1px solid $accent-2;
        }

        strong {
          color: $accent-2;
        }

        img {
          right: 9px;
          top: 2px;
        }
      }

      button.pendingPrediction {
        animation: pendingFailPrediction 2s ease infinite;
      }
    }
  }
}

.passButton {
  border-radius: 10px 0 0 10px;
}

.failButton {
  border-radius: 0 10px 10px 0;
  top: 1px !important;
}

.predictions.unconfirmedPrediction {
  .loading { display: block; }
}

.enablePredictions {
  display: block;
  width: 100%;
  position: absolute;
  top: 84px;
  text-align: center;

  button {
    width: 120px;
    display: block;
    margin-left: 16px;
    margin-right: 2px;
    border-radius: 3px;
    opacity: .5;
    position: relative;
    top: 3px;
    height: 16px;
    padding-left: 2px;
    padding-right: 2px;
    font-size: 11px;
  }

  span {
    display: block;
    margin-top: 25px;
    margin-bottom: 8px;
  }
}

.detailView {
  .failButton {
    position: relative;
    top: 1px;
  }

  .passButton {
    position: relative;
    top: 0px;
  }

  h3 {
    display: block;
    color: rgba(104, 155, 214, 1.000);
    width: 100%;
    position: absolute;
    top: 0;

    span {
      padding: 10px;
      font-size: 21px;
    }
  }

  .predictions {
    background-color: $white;
    border-radius: 0 15px 15px 15px;
    margin: 0 0 20px 20px;
  }

  .enablePredictions {
    display: block;
    width: 120px;
    position: absolute;
    top: 3px;
    right: 18px;
    text-align: right;

    button {
      display: inline-block;
      top: 0;
    }
  }
}
/* EO Detail View */

.historyView.predictions {
  span {
    font-size: 13px;
    color: rgba(154, 169, 181, 1.000);
    display: inline-block;
  }
}

.stakeControls {
  position: relative;
  text-align: center;
}

@keyframes pendingPassPrediction {
  0% {
    border: 1px solid $black-tenthtone;
  }
  50% {

    border: 1px solid $accent-1;
  }
  100% {
    border: 1px solid $black-tenthtone;
  }
}
@keyframes pendingFailPrediction {
  0% {
    border: 1px solid $black-tenthtone;
  }
  50% {

    border: 1px solid $accent-2;
  }
  100% {
    border: 1px solid $black-tenthtone;
  }
}

/**** Pre-approve *****/
.preApproval {

  h3 {
    background-color: #122e5b;
    border-radius: 15px 15px 0 0;
    position: relative;
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
    color: white;
    height: 40px;
    opacity: 1;
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
    text-align: center;
  }
}

.preapproveWrapper {
  position: relative;
  background-color: white;
  width: 280px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  padding: 0 0 20px 0;
  border-radius: 15px 15px 0 0;
  font-size: 14px;
  line-height: 24px;

  p {
    padding: 0 15px;
    font-size: 14px;
    opacity: .6;
  }

  button {
    width: 100px;
    margin: 0 auto;
    border: none;
    cursor: pointer;
    height: 30px;
    line-height: 30px;
    font-size: 13px;
    color: white;
    background-color: #0376ff;
    border-radius: 15px;
    display: block;
    padding: 0 15px;
  }
}
