@import 'rc-tooltip';
@import 'toggle';

:global html {
	min-height: 100%;
	position: relative;
	width: 100%;
}

:global body {
	background-color: rgba(229, 235, 242, 1.000);
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	color: $black;
}

:global(.clearfix:after) {
  content: "";
  display: table;
  clear: both;
}

/**
 * the Web3Connect popup
 */
:global div#WEB3_CONNECT_MODAL_ID > div {
  z-index: 10000000;
}

/**
 * the Wallet Connect QR code popup
 */
:global div#walletconnect-qrcode-modal {
  z-index: 10000001 !important;
}
