$header-height: 100px;

@font-face {
  font-family: "DINProLight";
  src: url("/assets/fonts/DINPro-Light.woff");
  font-weight: regular;
}
@font-face {
  font-family: "DINProLight";
  src: url("/assets/fonts/DINPro-Bold.woff");
  font-weight: bold;
}


@font-face {
  font-family: "GaramondProDisplay";
  src: url("/assets/fonts/GaramondPremrPro-Disp.woff");
}

body {
  font-family: "DINProLight", sans-serif;
  font-weight: 400;
}

.outer {
  width: 100%;
  height: 100%;
}

.container {
  width: 100%;
  z-index: 100;
  position: relative;
  height: 100%;
}

.background {
  background-color: rgba(244, 244, 244, 1.000);
}

.openTour {
  position: absolute;
  right: 65px;
  top: 9px;
  border: none;
  outline: none;
  background: none;

  &:hover {
    cursor: pointer;
  }
}

.fadeEnter {
  opacity: 0.01;
}

.fadeEnter.fadeEnterActive {
  opacity: 1;
  transition: opacity 1000ms ease-in;
}

.fadeExit {
  opacity: 1;
}

.fadeExit.fadeExitActive {
  opacity: 0.01;
  transition: opacity 1000ms ease-in;
}

.header {
  width: 100%;
  position: relative;
  vertical-align: middle;
  background-color: rgba(68, 68, 68, 1.000);
  height: 50px;
  z-index: 10000;
  color: rgba(255,255,255,1);

  .logoContainer {
    margin: 0 auto;
    width: 230px;
  }

  .menu {
    position: absolute;
    width: 50px;
    height: 50px;
    transition: all .25s ease;

    img {
      position: absolute;
      z-index: 100;
      left: 15px;
      top: 17px;
      opacity: 0.7;
      transition: all .25s ease;
    }

    .menuWrapper {
      top: 0;
      left: 0;
      transition: all .25s ease;
      opacity: 0;
      overflow: hidden;

      .backgroundBlock {
        top: 0;
        left: 0;
        width: 55px;
        background-color: rgba(42, 42, 42, 1.000);
        height: 50px;
      }

      ul {
        position: absolute;
        top: 50px;
        width: 200px;
        margin: 0;
        transition: all .25s ease;
        left: -200px;
        padding: 0;

        li {
          list-style: none;
          margin: 0;
          position: relative;

          a {
            color: rgba(255,255,255,1);
            text-decoration: none;
            padding: 15px;
            width: 170px;
            display: block;
            background-color: rgba(42, 42, 42, 1.000);
          }

          a:hover {
            background-color: black;
            cursor: pointer;
          }

          ul {
            left: 50px;
            top: -150px;
            opacity: 0;
            transform: scale(0);
            transition: all .25s ease;

            li { 
              text-align: center;

              img {
                position: relative;
                top: 0;
                left: 0;
              }

              h2 {
                background-color: rgba(42, 42, 42, 1.000);
                font-size: 12px;
                font-family: $body-font;
                margin: 0;
                padding: 18px 0 17px 0;
                color: $white-halftone;
                border-bottom: 2px solid rgba(100, 100, 100, 1.000);
              }
            }
          }
          &:hover ul {
            left: 200px;
            opacity: 1;
            top: 0;
            transform: scale(1);
          }
        }
      }
    }
  }

  .menu:hover {
    cursor: pointer;

    img {
      opacity: 1;
    }

    .menuWrapper {
      opacity: 1;
      height: 355px;
      overflow: visible;
      box-shadow: 0 24px 32px 0 rgba(12,0,51,0.10);
    }

    ul {
      left: 0;
      box-shadow: 0 24px 32px 0 rgba(12,0,51,0.10);
    }
  }

  .alchemyLogo {
    float: left;
    padding: 9px;

    img {
      height: 30px;
    }
  }

  .version {
    color: rgba(255, 255, 255, .8);
    line-height: 50px;

    em {
      font-style: normal;
    }

    span {
      color: rgba(255, 255, 255, .3);
    }
  }

  .alert {
    color: white;
    background-color: #44aa44;
    width: 100%;
    top: 60px;
    position: absolute;
    text-align: center;
    font-weight: bold;
    padding: 2px 0;
  }

  .accountInfo {
    position: absolute;
    top: 0;
    right: 0;
    height: 50px;
    width: 65px;
    background-color: rgba(42, 42, 42, 0);
    transition: all .25s ease;

    .holdings {
      position: absolute;
      overflow-x: hidden;
      top: 50px;
      width: 0px;
      opacity: 0;
      transition: all .25s ease;
      right: 0px;
      font-size: 12px;
      z-index: 100;
      color: rgba(255, 255, 255, 1);
      background-color: rgba(42, 42, 42, 1.000);

      .pointer {
        width: 12px;
        height: 12px;
        transform: rotate(45deg);
        background-color: rgba(42, 42, 42, 1.000);
        position: absolute;
        top: -4px;
        right: 27px;
      }

      .walletDetails {
        position: relative;
        padding-bottom: 5px;
        border-bottom: 2px solid rgba(59, 59, 59, 1.000);
        
        .holdingsLabel {
          font-weight: bold;
          text-align: center;
          display: block;
          padding: 12px 0 0 0;
        }
      }

      .balances {
        text-align: center;
        padding: 12px 0 0 0;

        .userBalance {
          padding-bottom: 12px;
        }

        .daoBalance {
          padding: 12px;
          background-color: rgba(59, 59, 59, 1.000);
          font-size: 12px;

          h3 {
            font-family: "GaramondProDisplay";
            font-size: 18px;
            margin: 3px 0 10px 0;
            padding: 0;
          }

          label {
            display: block;
            font-size: 9px;
            margin-bottom: 10px;
            opacity: 0.7;
          }
        }
      }

      .copyAddress {
        padding: 12px;
        position: relative;
        overflow: hidden;

        span {
          position: relative;
        }

        img {
          position: absolute;
          right: 12px;
          z-index: 5;
          top: 4px
        }

        .fade {
          position: absolute;
          right: 0;
          top: 0;
          height: 100%;
          width: 40%;
          background-image: linear-gradient(90deg, rgba(42,42,42,0.00)  3%, rgba(42,42,42,0.88) 67%, #2A2A2A 100%);
        }
      }

      .holdingsLabel {
        color: rgba(255, 255, 255, 1);
      }

      .testAccounts {
        padding: 12px;
        position: relative;
      }

      select {
        margin-right: -5px;
        border: none;
        background: transparent;
        position: absolute;
        width: 177px;
        top: 12px;
        opacity: 0;
        cursor: pointer;
        z-index: 1;
        height: 25px;
      }

      .selectTestAccount {
        border: 1px solid $white-halftone;
        padding: 5px 8px;
        background: none;
        color: $white;
        display: block;
        position: relative;
        z-index: 0;
        width: 100%;
      }
    }

    .profileLink {
      border: none;
      background: transparent;
      position: absolute;
      top: 50%;
      right: 21px;
      transform: translateY(-50%);
      padding: 0;
      margin: 0;
      height: 24px;
      
      img {
        width: 24px;
        transform: rotate(45deg);
      }
    }

    .profileLink:hover {
      cursor: pointer;
    }
  }

  .accountInfo:hover{
    background-color: rgba(42, 42, 42, 1.000);

    .holdings {
      width: 200px;
      opacity: 1;
      box-shadow: 0 24px 32px 0 rgba(12,0,51,0.10);
    }
  }

  .etherBalance {
    display: inline;
  }
}

.header:after { clear: both;  content: ""; display: table; }

.notificationsWrapper {
  bottom: 0;
  left: 0;
  position: absolute;
  z-index: 999;
}

.loading {
  padding-top: 100px;
  text-align: center;
}

.pendingTransactions {
  z-index: 1000000;
  position: fixed;
  bottom: 5px;
  left: 0;
  width: auto;
  height: auto;
  text-align: left;
}

.modal {
  position: fixed;
  bottom: 0;
  left: 0;
}

.modalContainer {
  position: fixed;
  z-index: 100000;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
}

.modalBody {
  overflow: hidden;
}

.notice {
  background-color: rgba(0,0,0,1);
  padding: 11px 8px;
  color: rgba(255,255,255,.6);
  position: relative;
  font-size: 12px;
  z-index: 20;

  div {
    margin-right: 120px;
    margin-left: 25px;

    b {
      color: $accent-3;
    }
  }
  
  img {
    position: absolute;
    top: 50%;
    left: 8px;
    transform: translateY(-50%);
  }

  .reportBugs {
    border: 1px solid rgba(255,255,255,.7);
    color: rgba(255,255,255,1);
    font-size: 14px;
    position: absolute;
    display: inline-block;
    padding: 0 8px;
    transform: translateY(-50%);
    top: 50%;
    line-height: 23px;
    right: 8px;
  }

  .notice::after {
    content: "";
    clear: both;
    display: table;
  }

}

@media only screen and (max-device-width: 1024px) {
  .modalBody {
    position: fixed;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
  }
  .modalContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translate3d(0, 0, 0);
  }
}
