$header-height: 100px;

@font-face {
  font-family: "AccordBold";
  src: url("/assets/fonts/Accord-Bold.ttf");
  font-weight: regular;
}

@font-face {
  font-family: "GaramondProDisplay";
  src: url("/assets/fonts/GaramondPremrPro-Disp.woff");
}

body {
  font-family: "AccordBold", sans-serif;
  font-weight: 300;

  p {
    font-family: "Open Sans";
  }
}

.outer {
  width: 100%;
  height: 100%;
}

.container {
  width: 100%;
  z-index: 100;
  position: relative;
  height: 100%;
}

.background {
  background-color: rgba(244, 244, 244, 1.000);
}

.fadeEnter {
  opacity: 0.01;
}

.fadeEnter.fadeEnterActive {
  opacity: 1;
  transition: opacity 1000ms ease-in;
}

.fadeExit {
  opacity: 1;
}

.metaMaskLogin {
  width: 120px;
  height: 30px;
  line-height: 30px;
  font-weight: bold;
  font-size: 12px;
  background-color: rgba(5, 118, 255, 1.000);
  border: none;
  border-radius: 15px;
  color: $white;
  position: relative;
  top: 9px;
  right: 10px;

  img {
    height: 12px;
    margin-right: 5px;
  }
}

.fadeExit.fadeExitActive {
  opacity: 0.01;
  transition: opacity 1000ms ease-in;
}

.header {
  width: 100%;
  position: relative;
  vertical-align: middle;
  background-color: $navy;
  height: 50px;
  z-index: 100000;
  color: rgba(255,255,255,1);

  .logoContainer {
    margin: 0 auto;
    width: 230px;
  }

  .menu {
    position: absolute;
    width: 50px;
    height: 50px;
    transition: all .25s ease;

    img {
      position: absolute;
      z-index: 100;
      left: 15px;
      top: 10px;
      height: 30px;
      transition: all .25s ease;
    }
  }

  .alchemyLogo {
    float: left;
    padding: 9px;

    img {
      height: 30px;
    }
  }

  .version {
    color: rgba(255, 255, 255, .8);
    line-height: 50px;

    em {
      font-style: normal;
    }

    span {
      color: rgba(255, 255, 255, .3);
    }
  }

  .alert {
    color: white;
    background-color: #44aa44;
    width: 100%;
    top: 60px;
    position: absolute;
    text-align: center;
    font-weight: bold;
    padding: 2px 0;
  }

  .headerRight {
    position: absolute;
    height: 50px;
    top:0;
    right: 0;
    text-align: right;
  }

  .accountInfo {
    position: relative;
    display: inline-block;
    text-align: center;
    width: auto;
    padding: 0 15px;
    transition: all .25s ease;

    .accountImage {
      border: none;
      background: transparent;
      padding: 0;
      margin: 0 0 0 0;
      height: 50px;
      position: relative;
      top: 12px;

      img {
        width: 24px;
        border-radius: 3px;
      }
    }

    .profileName {
      text-align: center;
      font-size: 14px;
      padding-top: 10px;

      a { color: white; }
    }

    .holdings {
      position: absolute;
      overflow-x: hidden;
      top: 50px;
      width: 0px;
      opacity: 0;
      transition: all .25s ease;
      right: 0px;
      font-size: 12px;
      z-index: 100;
      color: rgba(255, 255, 255, 1);
      background-color: rgba(10, 28, 61, 1.000);

      .pointer {
        width: 12px;
        height: 12px;
        transform: rotate(45deg);
        background-color: rgba(10, 28, 61, 1.000);
        position: absolute;
        top: -4px;
        right: 27px;
      }

      .walletDetails {
        position: relative;
        padding-bottom: 5px;
        border-bottom: 2px solid rgba(0, 0, 0, .25);

        .holdingsLabel {
          font-weight: bold;
          text-align: center;
          display: block;
          padding: 12px 0 0 0;
        }
      }

      .balances {
        text-align: center;
        padding: 12px 0 0 0;

        .userBalance {
          padding-bottom: 12px;
        }

        .daoBalance {
          padding: 12px;
          background-color: rgba(48, 120, 202, 1.000);
          font-size: 12px;

          h3 {
            font-size: 18px;
            margin: 3px 0 10px 0;
            padding: 0;
          }

          label {
            display: block;
            font-size: 9px;
            margin-bottom: 10px;
            opacity: 0.7;
          }
        }
      }

      .copyAddress {
        padding: 12px;
        position: relative;
        overflow: hidden;

        span {
          position: relative;
        }

        img {
          position: absolute;
          right: 12px;
          z-index: 5;
          top: 4px
        }

        .fade {
          position: absolute;
          right: 0;
          top: 0;
          height: 100%;
          width: 40%;
          background-image: linear-gradient(90deg, rgba(10, 28, 61, 0)  3%, rgba(10, 28, 61, .88) 67%, rgba(10, 28, 61, 1.000) 100%);
        }
      }

      .holdingsLabel {
        color: rgba(255, 255, 255, 1);
      }

      .testAccounts {
        padding: 12px;
        position: relative;
      }

      select {
        margin-right: -5px;
        border: none;
        background: transparent;
        position: absolute;
        width: 177px;
        top: 12px;
        opacity: 0;
        cursor: pointer;
        z-index: 1;
        height: 25px;
      }

      .selectTestAccount {
        border: 1px solid $white-halftone;
        padding: 5px 8px;
        background: none;
        color: $white;
        display: block;
        position: relative;
        z-index: 0;
        width: 100%;
      }
    }
  }

  .accountInfo:hover{
    background-color: rgba(10, 28, 61, 1.000);

    .holdings {
      width: 200px;
      opacity: 1;
      box-shadow: 0 24px 32px 0 rgba(12,0,51,0.10);
    }
  }

  .etherBalance {
    display: inline;
  }

  .openTour {
    display: none;
    position: relative;
    top: 2px;
    padding: 0 10px;
    display: inline-block;
    border: none;
    outline: none;
    background: none;

    &:hover {
      cursor: pointer;
    }
  }

  .profileLink {
    display: inline-block;
  }
}

.header:after { clear: both;  content: ""; display: table; }

.notificationsWrapper {
  bottom: 0;
  left: 0;
  position: absolute;
  z-index: 999;
}

.loading {
  padding-top: 100px;
  text-align: center;
}

.pendingTransactions {
  z-index: 1000000;
  position: fixed;
  bottom: 5px;
  left: 0;
  width: auto;
  height: auto;
  text-align: left;
}

.modalContainer {
  position: fixed;
  z-index: 100000;
  overflow: scroll;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.4);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modalBody {
  overflow: hidden;
}

.breadcrumbsContainer {
  position: absolute;
  width: 100%;
  background: #444;
  padding: 0 0 3px 15px;
  color: white;
}

.breadcrumb {
  color: white;
}

.topInfo {
  position: absolute;
  left: 70px;
  top: 16px;
  font-size: 14px;

  span span b {
    font-weight: normal;
    opacity: .7;
    display: inline-block;
    margin: 0 15px;
  }

  a:visited {
    color: $white;
  }
}

@media only screen and (max-device-width: 1024px) {
  .modalBody {
    position: fixed;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
  }
  .modalContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translate3d(0, 0, 0);
  }
}
/* EO Header */

@media only screen and (max-width: 425px) {

  .headerContainer {
    z-index: 0;
  }

  .outer {
    z-index: 1000000;
  }

  .headerContainer:hover {
    z-index: 1000;
  }

  .topInfo {
    display: block;
    position: absolute;
    color: rgba(0, 28, 52, 1);
    top: 50px;
    left: 0px;
    width: 100%;
    text-align: center;
    padding: 8px 0;
    font-family: "Open Sans";
    font-weight: normal;
    opacity: .5;
    font-size: 11px;

    b {
      font-weight: normal;
    }

    a:visited {
      color: rgba(0, 28, 52, 1);
    }
  }

  .header .menu {
    position: relative;
    margin: 0 auto;
  }

  .topInfo a, .topInfo a:visited {
    color: #001c34;
  }

}

.cookieDisclaimerContainer {
  padding-left: 12%;
  padding-right: 12%;
  text-align: center;
  width: 76%;
  position: fixed;
  bottom: 0px;
  z-index: 999999;
  display: inline-block;

  .cookieDisclaimer {
    padding: 25px;
    border-radius: 10px 10px 0px 0px;
    box-shadow: 0 2px 16px 0 rgba(133, 168, 208, 0.15);
    background-color: #132e5b;
    display: flex;
    justify-content: center;
    align-content: center;

    .body {
      text-align: left;
      height: auto;
      font-family: "Open Sans";
      font-size: 13px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.54;
      letter-spacing: 0.24px;
      color: #ffffff;
      display: inline-block;
      width: 80%;
      flex-grow: 2;
      flex-basis: content;
    }

    .accept {
      flex-grow: 1;
      text-align: right;
      display: inline-block;
      white-space: nowrap;

      a.blueButton {
        position: relative;
        top: 12px;
        height: 30px;
        line-height: 30px;
        font-size: 13px;
        color: white;
        background-color: rgba(5, 118, 255, 1.000);
        transition: all .25s ease;
        border-radius: 15px;
        display: inline-block;
        padding: 0 30px;
        font-weight: bold;
        cursor: pointer;

        img {
          position: relative;
          right: 9px;
        }
      }
    }
  }
}
