$header-height: 100px;

@font-face {
  font-family: "DINProLight";
  src: url("/assets/fonts/DINPro-Light.woff");
  font-weight: regular;
}

@font-face {
  font-family: "GaramondProDisplay";
  src: url("/assets/fonts/GaramondPremrPro-Disp.woff");
}

body {
  font-family: "DINProLight", sans-serif;
  font-weight: 400;
}

.outer {
  width: 100%;
  height: 100%;
}

.container {
  width: 100%;
  z-index: 100;
  position: relative;
  height: 100%;
}

.background {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(180deg, #FFFFFF 0%, #F2F2F2 100%);
  z-index: 0;
}

.fadeEnter {
  opacity: 0.01;
}

.fadeEnter.fadeEnterActive {
  opacity: 1;
  transition: opacity 1000ms ease-in;
}

.fadeExit {
  opacity: 1;
}

.fadeExit.fadeExitActive {
  opacity: 0.01;
  transition: opacity 1000ms ease-in;
}

.header {
  width: 100%;
  vertical-align: middle;
  background-image: linear-gradient(-180deg, rgba(12,0,51,0.00) 0%, rgba(12,0,51,0.11) 97%);
  height: 60px;

  .alchemyLogo {
    float: left;
    padding: 9px;
  }

  .version {
    color: grey;
    line-height: 60px;
  }

  .alert {
    color: white;
    background-color: #44aa44;
    width: 100%;
    top: 60px;
    position: absolute;
    text-align: center;
    font-weight: bold;
    padding: 2px 0;
  }

  .accountInfo {
    float: right;

    .holdings {
      padding-top: 10px;
      text-align: right;
      font-size: $small;
      float: left;

      .holdingsLabel {
        color: $black-halftone;
      }

      select {
        margin-right: -5px;
        border: none;
        background: transparent;
        position: absolute;
        width: 30px;
        height: 30px;
        border: 1px solid red;
        right: 20px;
        top: 15px;
        opacity: 0;
        cursor: pointer;
      }
    }

    .profileLink {
      border: none;
      background: transparent;
      float: left;
      padding: 13px 9px;
    }
  }

  .etherBalance {
    display: inline;
  }
}

.header:after { clear: both;  content: ""; display: table; }

.loading {
  padding-top: 100px;
  text-align: center;
}
