$header-height: 100px;

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

@font-face {
  font-family: "DINProLight";
  src: url("/assets/fonts/DINPro-Light.woff");
  font-weight: regular;
}

@font-face {
  font-family: "GaramondProDisplay";
  src: url("/assets/fonts/GaramondPremrPro-Disp.woff");
}

body {
  font-family: "DINProLight", sans-serif;
  font-weight: 400;
}

.outer {
  width: 100%;
  height: 100%;
}

.container {
  width: 100%;
  z-index: 100;
  position: relative;
  height: 100%;
}

.background {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(180deg, #FFFFFF 0%, #F2F2F2 100%);
  z-index: 0;
}

.fadeEnter {
  opacity: 0.01;
}

.fadeEnter.fadeEnterActive {
  opacity: 1;
  transition: opacity 1000ms ease-in;
}

.fadeExit {
  opacity: 1;
}

.fadeExit.fadeExitActive {
  opacity: 0.01;
  transition: opacity 1000ms ease-in;
}

.header {
  width: 100%;
  vertical-align: middle;
  background-image: linear-gradient(-180deg, rgba(12,0,51,0.00) 0%, rgba(12,0,51,0.11) 97%);
  height: 60px;

  .alchemyLogo {
    float: left;
    padding: 9px;
  }

  .version {
    color: grey;
    line-height: 60px;
  }

  .alert {
    color: white;
    background-color: #44aa44;
    width: 100%;
    top: 60px;
    position: absolute;
    text-align: center;
    font-weight: bold;
    padding: 2px 0;
  }

  .accountInfo {
    float: right;

    .holdings {
      padding-top: 10px;
      text-align: right;
      font-size: $small;
      float: left;

      .holdingsLabel {
        color: $black-halftone;
      }

      select {
        margin-right: -5px;
        border: none;
        background: transparent;
        position: absolute;
        width: 30px;
        height: 30px;
        border: 1px solid red;
        right: 20px;
        top: 15px;
        opacity: 0;
        cursor: pointer;
      }
    }

    .profileLink {
      border: none;
      background: transparent;
      float: left;
      padding: 13px 9px;
    }
  }

  .etherBalance {
    display: inline;
  }
}

.header:after { clear: both;  content: ""; display: table; }

.notificationsWrapper{
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 999;
}

.loading {
  padding-top: 100px;
  text-align: center;
}

.pendingTransactions {
  z-index: 1000000;
  position: fixed;
  bottom: 5px;
  right: 0;
  width: auto;
  height: auto;
  text-align: right;

  .pendingTransaction {
    padding: 10px 0;
    display: inline-block;
    background-color: $black-halftone;
    min-width: 240px;
    border-radius: 3px;
    box-shadow: $shadow-2;
    margin: 3px 10px;

    .pending, .success, .error {
      display: none;
    }

    .statusIcon {
      width: 50px;
      text-align: center;
      vertical-align: middle;
    }

    .statusIcon .pending {
      height: 40px;
      margin-top: -15px;
      margin-bottom: -7px;
      position: relative;
      top: 9px;
    }

    .statusIcon .success, .statusIcon .error {
      height: 20px;
      position: relative;
      top: 5px;
    }

    .transactionMessage {
      min-width: 170px;
      text-align: left;
    }

    .transactionMessage .left {
      font-size: $small;
      color: $white-halftone;
    }

    .transactionMessage .right {
      font-size: $small;
      color: $white;
      font-weight: $bold;
    }

    a {
      color: $white;
      text-decoration: underline;
    }

    button {
      border: none;
      background: none;
    }

    .notificationControls {
      width: 50px;
      text-align: center;
    }

    .notificationControls .pending {
      position: relative;
      top: 2px;
    }

    .notificationControls .success, .notificationControls .error {
      position: relative;
      top: 3px;
    }
  }

  .pendingTransaction.success .success, .pendingTransaction.pending .pending, .pendingTransaction.error .error {
    display: inline;
  }

  .pendingTransaction.minimized {
    min-width: 50px;
    width: 50px;

    .statusIcon .pending {
      top: 6px;
    }

    .transactionMessage, .notificationControls {
      display: none;
    }
  }

  .pendingTransaction.success {
    background-color: $accent-1-halftone;
  }

  .pendingTransaction.error {
    background-color: $accent-2-halftone;
  }

  .right {
    float: right;
  }

  .left {
    float: left;
  }

  .statusIcon {
    float: left;
  }

  .transactionMessage {
    float: left;
  }

  .notificationControls {
    float: left;
  }

  .notificationMessage {
    font-size: $caption;
    color: $white;
  }

  .transactionWrapper {
    display: inline;
  }
}
